/* line 482, icons/*.png */
.icons-sprite, .pane-coral-about-getting-started .getting-started, .pane-coral-about-getting-started .msg .up-pointer {
  background: url('/images/icons-s3f57c7e400.png') no-repeat;
}

/* line 13, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started {
  position: relative;
  margin-bottom: 2.5em;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-coral-about-getting-started:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .pane-title {
  color: #cc6b1d;
  clear: both;
}
/* line 24, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .getting-started {
  display: block;
  float: left;
  margin-right: 0.5em;
  position: relative;
  top: 4px;
  background-position: 0 -660px;
  height: 48px;
  width: 48px;
}
/* line 33, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .shell {
  border-width: 1px;
  border-color: #777777;
  border-style: solid;
  padding: 0.3125em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  background: #373737;
  background: -moz-linear-gradient(top, #373737 0%, #262626 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #262626));
  background: -webkit-linear-gradient(top, #373737 0%, #262626 100%);
  background: -o-linear-gradient(top, #373737 0%, #262626 100%);
  background: -ms-linear-gradient(top, #373737 0%, #262626 100%);
  background: linear-gradient(to bottom, #373737 0%, #262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 42, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .shell .line {
  padding: 0;
  font-size: .8em;
  font-weight: bold;
  font-family: monospace, "Courier New", Courier;
}
/* line 48, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .shell .line .prompt {
  color: #36b048;
}
/* line 51, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .shell .line .command {
  color: white;
}
/* line 57, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .msg {
  margin-top: 0.41667em;
  margin-bottom: 1.25em;
  padding-top: 0.41667em;
  line-height: 1.125em;
  position: relative;
}
/* line 64, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .msg .up-pointer {
  display: block;
  position: absolute;
  left: -38px;
  top: 4px;
  background-position: 0 -2980px;
  height: 28px;
  width: 28px;
}
/* line 74, ../../sass/panes/pane__coral_about_getting_started.scss */
.pane-coral-about-getting-started .more {
  float: right;
}
