/* line 402, icons/*.png */
.icons-sprite, .pane-coral-best-answer .best-answer .icon, .pane-coral-best-answer .best-answer:hover .icon {
  background: url('/images/icons-s9fc993f7aa.png') no-repeat;
}

/* line 11, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer {
  float: left;
  margin: 0 5px 0 0;
}
/* line 15, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer .best-answer {
  position: relative;
  border-right: 1px solid #dddddd;
  color: #777777;
  font-size: .9em;
  padding: 3px 7px 3px 0;
}
/* line 22, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer .best-answer .icon {
  display: block;
  float: left;
  margin: 2px 2px 0 -2px;
  background-position: 0 -3530px;
  height: 15px;
  width: 18px;
}
/* line 30, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer .best-answer:hover {
  color: #919191;
}
/* line 33, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer .best-answer:hover .icon {
  background-position: 0 -2598px;
  height: 15px;
  width: 18px;
}
/* line 38, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer .best-answer .best-ans-msg {
  background: #fff6b6;
  border: 1px solid #cad5e2;
  color: #777777;
  display: inline;
  font-weight: normal;
  font-size: 90%;
  left: -55px;
  position: absolute;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  top: 1.85em;
  width: 200px;
  z-index: 3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px;
}
/* line 59, ../../sass/panes/pane__coral_best_answer.scss */
.pane-coral-best-answer .ajax-progress .throbber {
  margin: 1px -2px -1px 6px;
}
