/* line 12, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level1 {
  color: #b7b7b7;
}
/* line 14, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level1:hover {
  color: #9d9d9d;
}
/* line 12, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level2 {
  color: #aaaaaa;
}
/* line 14, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level2:hover {
  color: #919191;
}
/* line 12, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level3 {
  color: #9d9d9d;
}
/* line 14, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level3:hover {
  color: #848484;
}
/* line 12, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level4 {
  color: #919191;
}
/* line 14, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level4:hover {
  color: #777777;
}
/* line 12, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level5 {
  color: #848484;
}
/* line 14, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level5:hover {
  color: #6a6a6a;
}
/* line 12, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level6 {
  color: #777777;
}
/* line 14, ../../sass/panes/pane__block_tagclouds_1.scss */
.pane-tagclouds-1 a.level6:hover {
  color: #5e5e5e;
}
