/* line 8, ../../sass/panes/pane__token_user_name.scss */
.pane-token.pane-user-name {
  margin-right: 1em;
  color: #cc6b1d;
}
/* line 12, ../../sass/panes/pane__token_user_name.scss */
.pane-token.pane-user-name .pane-content {
  font-size: 2em;
  line-height: 1.4em;
  margin-top: .3125em;
  margin-bottom: .3125em;
  font-weight: bold;
  line-height: 3em;
  margin-top: 0;
  margin-bottom: 0;
}
