/* line 9, ../../sass/panes/pane__token_user_last_login.scss */
.pane-token.pane-user-last-login {
  margin-right: 1em;
  min-width: 17em;
  white-space: nowrap;
  color: #b7b7b7;
  height: 50px;
}
/* line 15, ../../sass/panes/pane__token_user_last_login.scss */
.pane-token.pane-user-last-login:before {
  float: left;
  content: "Last login: ";
  margin-right: .5em;
  font-size: 1.125em;
  line-height: 1.1111em;
  margin-top: 0.5555em;
  margin-bottom: 0.5555em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 5.8em;
}
/* line 27, ../../sass/panes/pane__token_user_last_login.scss */
.pane-token.pane-user-last-login .pane-content {
  font-size: 1.125em;
  line-height: 1.1111em;
  margin-top: 0.5555em;
  margin-bottom: 0.5555em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 5.8em;
}
