/* line 482, icons/*.png */
.icons-sprite, .pane-coral-about-technologies .tico .vagrant, .pane-coral-about-technologies .tico .puppet, .pane-coral-about-technologies .tico .ruby, .pane-coral-about-technologies .tico .fog, .pane-coral-about-technologies .tico .git {
  background: url('/images/icons-s3f57c7e400.png') no-repeat;
}

/* line 14, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies {
  position: relative;
}
/* line 17, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .pane-title {
  color: #cc6b1d;
}
/* line 21, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico {
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-coral-about-technologies .tico:after {
  content: "";
  display: table;
  clear: both;
}
/* line 24, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico span {
  display: block;
  float: left;
  margin-right: 1em;
}
/* line 30, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico .vagrant {
  background-position: 0 -758px;
  height: 38px;
  width: 37px;
}
/* line 33, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico .puppet {
  background-position: 0 -1478px;
  height: 35px;
  width: 34px;
}
/* line 36, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico .ruby {
  background-position: 0 -1920px;
  height: 28px;
  width: 29px;
}
/* line 39, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico .fog {
  background-position: 0 -1752px;
  height: 33px;
  width: 64px;
}
/* line 42, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies .tico .git {
  background-position: 0 -1835px;
  height: 35px;
  width: 35px;
}
/* line 47, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies ul {
  margin-top: 1.45em;
}
/* line 50, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies ul li {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
/* line 54, ../../sass/panes/pane__coral_about_technologies.scss */
.pane-coral-about-technologies ul li span {
  font-size: 90%;
}
