/* line 634, icons/*.png */
.icons-sprite, .pane-coral-qa-ask-question .field-name-field-tags .icon {
  background: url('/images/icons-s08b49ed57a.png') no-repeat;
}

/* line 15, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question {
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: linear-gradient(to bottom, #eaeaea 0%, #d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
  margin: 1.25em 0;
  padding: 0.625em;
  border: 1px solid #777777;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-coral-qa-ask-question:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.ask {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 32, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-msg {
  background: #e8f4ea;
  border: 1px solid #a2d4a9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 38, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-msg .cont {
  padding: 0.625em;
}
/* line 43, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-item {
  margin: 0 0 0.625em 0;
}
/* line 47, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-password,
.pane-coral-qa-ask-question .form-type-textfield {
  width: 48%;
  float: left;
  clear: right;
}
/* line 51, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-password .description,
.pane-coral-qa-ask-question .form-type-textfield .description {
  display: none;
}
/* line 52, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-password .form-text,
.pane-coral-qa-ask-question .form-type-textfield .form-text {
  width: 94.8%;
}
/* line 54, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-form .form-type-textfield {
  margin-top: -3.75em;
}
/* line 57, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .field-name-field-tags {
  position: relative;
}
/* line 59, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .field-name-field-tags .icon {
  display: block;
  position: absolute;
  top: 0.625em;
  right: 48.5%;
  background-position: 0 -4623px;
  height: 14px;
  width: 11px;
}
/* line 66, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .field-name-field-tags .form-type-textfield {
  float: right;
}
/* line 70, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-textarea {
  clear: both;
}
/* line 74, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-managed-file .file-widget {
  float: left;
  padding: 3px;
  background: white;
  border: 1px solid #777;
  margin-top: 5px;
}
/* line 81, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-managed-file .description {
  position: relative;
  top: 14px;
  height: 1.5em;
  overflow: auto;
}
/* line 88, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .description {
  color: #777777;
  clear: left;
}
/* line 91, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .description .br {
  display: inline;
}
/* line 95, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-actions {
  float: right;
  margin: -3.75em 0 0 0;
  padding: 0;
}
/* line 100, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-question-form {
  background: #446eac;
  border: 2px solid #d0d0d0;
  padding: 0.625em;
  position: relative;
  background-color: rgba(208, 208, 208, 0.5);
  margin-top: 2.85em;
  margin-bottom: 0.625em;
}
/* line 109, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-question-form .icon {
  position: absolute;
  top: -2.65em;
  right: 48.65%;
}
/* line 115, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-question-form label {
  display: none;
}
/* line 117, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .filter-wrapper {
  display: none;
}
/* line 118, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .vertical-tabs {
  display: none;
}
/* line 123, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login form {
  border: 1px solid #eaeaea;
  background: rgba(255, 255, 255, 0.75) url(../../assets/images/diag-tile.png);
  padding: 0.625em 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 173px;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-coral-qa-ask-question .qa-form.login form:after {
  content: "";
  display: table;
  clear: both;
}
/* line 133, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login h3 {
  color: #777777;
}
/* line 137, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login label {
  float: left;
  margin-top: 7px;
}
/* line 142, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login .form-type-password,
.pane-coral-qa-ask-question .qa-form.login .form-type-textfield {
  width: 49.5%;
}
/* line 145, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login .form-text {
  width: 60%;
  margin-left: 2%;
}
/* line 149, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login .form-actions {
  margin: 2px 1% 0 0;
  padding: 0;
}
/* line 154, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-form.login .hybridauth-widget {
  float: left;
}

@media screen and (max-width: 918px) {
  /* line 163, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form.login .hybridauth-widget {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 172, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-msg {
    float: left;
    width: 100%;
    display: block;
    float: none;
  }
  /* line 178, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form {
    float: left;
    width: 100%;
    display: block;
    float: none;
  }
  /* line 184, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form .form-type-password .form-text,
  .html .pane-coral-qa-ask-question .qa-form .form-type-textfield .form-text {
    font-size: 1em;
  }
  /* line 188, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form input.form-autocomplete {
    background-position: 99.5% 6px;
  }
  /* line 191, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form input.throbbing {
    background-position: 99.5% -128px;
  }
  /* line 194, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form .icon {
    top: -3em;
    right: 48.25%;
  }
  /* line 198, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form .node-question-form {
    margin-top: 3.75em;
  }
  /* line 203, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form.login form {
    margin-top: 0.625em;
  }
  /* line 206, ../../sass/panes/pane__coral_qa_ask_question.scss */
  .html .pane-coral-qa-ask-question .qa-form.login .hybridauth-widget {
    width: 100%;
  }
}
