/* line 338, icons/*.png */
.icons-sprite, .html div.pane-coral-comments-target .comment-node-pane-title .icon {
  background: url('/images/icons-s6bd60a2940.png') no-repeat;
}

/* line 16, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target {
  border-top: 1px solid #dddddd;
  border-left: 8px solid #c4c4c4;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
  margin-top: 2.8125em;
  margin-bottom: 1.25em;
  padding-left: 1em;
}
/* line 28, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target > h2.pane-title {
  font-size: 1.125em;
  line-height: 1.1111em;
  margin-top: 0.5555em;
  margin-bottom: 0.5555em;
  position: absolute;
  top: -2.1875em;
  left: 0;
}
/* line 36, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target.odd {
  background-color: #efefef;
}
/* line 39, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target.even {
  background-color: white;
}
/* line 43, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .views-row > .node-teaser.node-comment {
  padding-top: 0.71429em;
}
/* line 47, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .actions {
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.html div.pane-coral-comments-target .actions:after {
  content: "";
  display: table;
  clear: both;
}
/* line 52, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .actions .load-more {
  position: relative;
  margin-right: 5px;
}
/* line 56, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .actions .load-more .ajax-progress .throbber {
  margin: 1px -2px -1px 6px;
}
/* line 60, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .actions .load-more.hide {
  display: none;
}
/* line 64, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .actions .cls-comments {
  position: absolute;
  bottom: -5px;
  left: -28px;
  background: #d9837b;
  border: 1px solid #b02e1c;
  color: white;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  font-family: monospace, "Courier New", Courier;
  padding: 3px;
  line-height: 5px;
  height: 7px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;
}
/* line 84, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title {
  clear: none;
  float: left;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.html div.pane-coral-comments-target .comment-node-pane-title:after {
  content: "";
  display: table;
  clear: both;
}
/* line 90, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title .icon {
  display: block;
  float: left;
  margin-right: 5px;
  margin-left: -5px;
  margin-top: 3px;
  background-position: 0 -2277px;
  height: 12px;
  width: 19px;
}
/* line 100, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title > a {
  color: #919191;
  float: left;
  max-width: 90.85%;
}
/* line 104, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title > a:hover {
  color: #446eac;
}
/* line 106, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title > .top {
  border: 1px solid white;
  cursor: pointer;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: -2px 0 0 5px;
  background: #c4c4c4;
  /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#c4c4c4), to(white));
  /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #c4c4c4 0%, white 100%);
  /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #c4c4c4 0%, white 100%);
  background-image: -ms-radial-gradient(center center, circle contain, #c4c4c4 0%, white 100%);
  /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #c4c4c4 0%, white 100%);
  /* Opera (13?) */
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}
/* line 118, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title > .top .arrow-up {
  display: block;
  margin: 2px 0 0 5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5e5e5e;
}
/* line 124, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title > .top:hover {
  border: 1px solid #9d9d9d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px inset;
  background: #9d9d9d;
  /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#9d9d9d), to(#dddddd));
  /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  background-image: -ms-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* Opera (13?) */
}
/* line 129, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comment-node-pane-title > .top:hover .arrow-up {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}
/* line 135, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target.odd .comment-node-pane-title > .top {
  border: 1px solid #efefef;
  background: #c4c4c4;
  /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#c4c4c4), to(#efefef));
  /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  background-image: -ms-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  /* Opera (13?) */
}
/* line 139, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target.odd .comment-node-pane-title > .top:hover {
  border: 1px solid #969696;
  background: #9d9d9d;
  /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#9d9d9d), to(#dddddd));
  /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  background-image: -ms-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* Opera (13?) */
}
/* line 146, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .pane-coral-comments-target {
  margin-bottom: -1px;
  margin-right: -1px;
  padding-left: 1em;
}
/* line 151, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .comments-tgt.empty {
  padding-top: 1.25em;
}
/* line 156, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .pane-coral-node-stats {
  margin-top: -.2em;
}
/* line 159, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .pane-coral-node-stats .stat-comments {
  line-height: 2em;
}
/* line 163, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .pane-coral-node-stats .stat-editor .user-picture {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 167, ../../sass/panes/pane__coral_comments_target.scss */
.html div.pane-coral-comments-target .pane-coral-node-stats .stat-editor .username {
  margin-top: .2em;
}
