/* line 6, ../../sass/panes/pane__coral_people.scss */
.pane-coral-people {
  margin-top: 3.125em;
}
/* line 9, ../../sass/panes/pane__coral_people.scss */
.pane-coral-people p {
  float: right;
  width: 12em;
}
