/* line 146, icons/*.png */
.icons-sprite, .pane-coral-build-options .build-options .command-line .icon, .pane-coral-build-options .build-options .web-portal .icon, .pane-coral-build-options .build-options .mobile-apps .icon, .pane-coral-build-options .build-options .ruby-apps .icon {
  background: url('/images/icons-s76be0bee84.png') no-repeat;
}

/* line 10, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options li {
  list-style: none;
  margin: 0 0 1.25em 10px;
  position: relative;
}
/* line 15, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options .icon {
  display: block;
  position: absolute;
  left: -45px;
  top: 3px;
}
/* line 21, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options .label {
  color: #b02e1c;
}
/* line 24, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options .command-line .icon {
  background-position: 0 -925px;
  height: 28px;
  width: 33px;
}
/* line 27, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options .web-portal .icon {
  background-position: 0 -765px;
  height: 31px;
  width: 31px;
}
/* line 30, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options .mobile-apps .icon {
  background-position: 0 -519px;
  height: 39px;
  width: 34px;
}
/* line 33, ../../sass/panes/pane__coral_build_options_coral_build_options.scss */
.pane-coral-build-options .build-options .ruby-apps .icon {
  background-position: 0 -687px;
  height: 28px;
  width: 29px;
}
