/* line 474, icons/*.png */
.icons-sprite {
  background: url('/images/icons-sf4124cc822.png') no-repeat;
}

/* line 10, ../../sass/panes/pane__coral_about_derek.scss */
.pane-coral-about-derek {
  position: relative;
}
/* line 13, ../../sass/panes/pane__coral_about_derek.scss */
.pane-coral-about-derek .pane-title {
  color: #cc6b1d;
}
/* line 17, ../../sass/panes/pane__coral_about_derek.scss */
.pane-coral-about-derek .teammate {
  display: block;
  float: left;
  margin: 0 10px 5px 0;
  background: #dddddd;
  font-size: 3em;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}
