/* line 218, icons/*.png */
.icons-sprite, .pane-coral-getting-started .clowny, .pane-coral-getting-started .msg .up-pointer {
  background: url('/images/icons-s0640884fd9.png') no-repeat;
}

/* line 11, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started {
  position: relative;
}
/* line 14, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .clowny {
  display: block;
  font-size: 130%;
  left: -72px;
  top: -4px;
  position: absolute;
  background-position: 0 0;
  height: 56px;
  width: 65px;
}
/* line 24, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started h4 {
  color: #e17d2c;
}
/* line 27, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .shell {
  border-width: 1px;
  border-color: #777777;
  border-style: solid;
  padding: 0.625em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  background: #373737;
  background: -moz-linear-gradient(top, #373737 0%, #262626 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #262626));
  background: -webkit-linear-gradient(top, #373737 0%, #262626 100%);
  background: -o-linear-gradient(top, #373737 0%, #262626 100%);
  background: -ms-linear-gradient(top, #373737 0%, #262626 100%);
  background: linear-gradient(to bottom, #373737 0%, #262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 36, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .shell .line {
  padding: 0;
  font-size: .9em;
  font-weight: bold;
  font-family: monospace, "Courier New", Courier;
}
/* line 42, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .shell .line .prompt {
  color: #36b048;
}
/* line 45, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .shell .line .command {
  color: white;
}
/* line 50, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .msg {
  font-size: 90%;
  margin-top: 0.41667em;
  padding-top: 0.41667em;
  line-height: 1.125em;
  position: relative;
}
/* line 57, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .msg .up-pointer {
  display: block;
  position: absolute;
  left: -36px;
  top: -1px;
  background-position: 0 -1720px;
  height: 28px;
  width: 28px;
}
/* line 67, ../../sass/panes/pane__coral_getting_started.scss */
.pane-coral-getting-started .pricing, .pane-coral-getting-started .more {
  font-size: 90%;
}
