/* line 7, ../../sass/panes/pane__coral_documentation_welcome.scss */
.pane-coral-documentation-welcome {
  background: #fff9d0;
  color: #656565;
  margin-bottom: 1.25em;
  padding: 0.625em;
  text-align: center;
}
