/* line 490, icons/*.png */
.icons-sprite {
  background: url('/images/icons-s9e2153c174.png') no-repeat;
}

/* line 11, ../../sass/panes/pane__coral_about_support.scss */
.pane-coral-about-support .pane-title {
  color: #e17d2c;
  font-size: 2em;
  line-height: 1.4em;
  margin-top: .3125em;
  margin-bottom: .3125em;
  font-weight: bold;
  margin-bottom: .5em;
}
/* line 20, ../../sass/panes/pane__coral_about_support.scss */
.pane-coral-about-support h4 {
  color: #cc6b1d;
}
/* line 24, ../../sass/panes/pane__coral_about_support.scss */
.pane-coral-about-support ul {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
/* line 28, ../../sass/panes/pane__coral_about_support.scss */
.pane-coral-about-support ul li {
  margin-top: 0.41667em;
  margin-bottom: 0.41667em;
  margin-left: .75em;
}
