/* line 30, ../../sass/global/_dom.scss */
body.html {
  font-size: 16px;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.25em;
}

/* line 39, ../../sass/global/_dom.scss */
h1, h2, h3, h4, h5, h6 {
  color: #515151;
  margin: 1.25em 0 0.625em 0;
}

/* line 43, ../../sass/global/_dom.scss */
h1 {
  font-size: 1.5em;
}

/* line 44, ../../sass/global/_dom.scss */
h2 {
  font-size: 1.3em;
}

/* line 45, ../../sass/global/_dom.scss */
h3 {
  font-size: 1.25em;
}

/* line 46, ../../sass/global/_dom.scss */
h4 {
  font-size: 1.15em;
}

/* line 53, ../../sass/global/_dom.scss */
img,
object,
embed,
video {
  max-width: 100%;
}

/* line 61, ../../sass/global/_dom.scss */
a,
li a,
li.leaf a {
  color: #446eac;
  font-weight: bold;
  text-decoration: none;
}
/* line 66, ../../sass/global/_dom.scss */
a:active, a.active,
li a:active,
li a.active,
li.leaf a:active,
li.leaf a.active {
  color: #32547d;
}
/* line 67, ../../sass/global/_dom.scss */
a:hover,
li a:hover,
li.leaf a:hover {
  color: #2b486b;
}

/* line 71, ../../sass/global/_dom.scss */
strong, b {
  font-weight: bold;
}

/* line 75, ../../sass/global/_dom.scss */
p {
  margin: 0.625em 0 1.25em 0;
}

/* line 79, ../../sass/global/_dom.scss */
em, .em {
  font-style: italic;
}

/* line 85, ../../sass/global/_dom.scss */
ul {
  margin: 1.25em 0.5em;
}
/* line 88, ../../sass/global/_dom.scss */
ul li {
  list-style: disc;
  list-style-image: url("/sites/all/themes/mosaic/assets/images/li-red.png");
  margin: 0 0 0.625em 1em;
}

/* line 146, icons/*.png */
.icons-sprite, .pane-coral-sharing .sharing-options .private-projects .icon, .pane-coral-sharing .sharing-options .public-projects .icon {
  background: url('/images/icons-s76be0bee84.png') no-repeat;
}

/* line 10, ../../sass/panes/pane__coral_sharing_coral_sharing.scss */
.pane-coral-sharing .sharing-options li {
  list-style: none;
  margin: 0 0 1.25em 40px;
  position: relative;
}
/* line 15, ../../sass/panes/pane__coral_sharing_coral_sharing.scss */
.pane-coral-sharing .sharing-options .icon {
  display: block;
  position: absolute;
  left: -55px;
  top: 3px;
}
/* line 21, ../../sass/panes/pane__coral_sharing_coral_sharing.scss */
.pane-coral-sharing .sharing-options .label {
  color: #b02e1c;
}
/* line 24, ../../sass/panes/pane__coral_sharing_coral_sharing.scss */
.pane-coral-sharing .sharing-options .private-projects .icon {
  background-position: 0 -846px;
  height: 29px;
  width: 39px;
}
/* line 27, ../../sass/panes/pane__coral_sharing_coral_sharing.scss */
.pane-coral-sharing .sharing-options .public-projects .icon {
  background-position: 0 -444px;
  height: 25px;
  width: 42px;
}
