/* line 274, icons/*.png */
.icons-sprite, .pane-coral-build-options .build-options .command-line .icon, .pane-coral-build-options .build-options .web-portal .icon, .pane-coral-build-options .build-options .mobile-apps .icon, .pane-coral-build-options .build-options .ruby-apps .icon {
  background: url('/images/icons-sbf3e80bf87.png') no-repeat;
}

/* line 10, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options li {
  list-style: none;
  margin: 0 0 1.25em 10px;
  position: relative;
}
/* line 15, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .icon {
  display: block;
  position: absolute;
  left: -45px;
  top: 3px;
}
/* line 21, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .label {
  color: #b02e1c;
}
/* line 24, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .command-line .icon {
  background-position: 0 -1642px;
  height: 28px;
  width: 33px;
}
/* line 27, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .web-portal .icon {
  background-position: 0 -1228px;
  height: 31px;
  width: 31px;
}
/* line 30, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .mobile-apps .icon {
  background-position: 0 -709px;
  height: 39px;
  width: 34px;
}
/* line 33, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .ruby-apps .icon {
  background-position: 0 -1150px;
  height: 28px;
  width: 29px;
}
/* line 40, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .format-usage .pane-title {
  color: white;
  background: #919191;
  padding: 0.625em;
  margin-top: 0;
  line-height: .8em;
}
/* line 47, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .format-usage li {
  margin-left: 45px;
}
