/* line 12, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container {
  position: relative;
  margin-bottom: 2.5em;
}
/* line 16, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-content {
  position: relative;
  z-index: 2;
  background: #446eac;
  background: -moz-linear-gradient(top, #446eac 0%, #213752 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #446eac), color-stop(100%, #213752));
  background: -webkit-linear-gradient(top, #446eac 0%, #213752 100%);
  background: -o-linear-gradient(top, #446eac 0%, #213752 100%);
  background: -ms-linear-gradient(top, #446eac 0%, #213752 100%);
  background: linear-gradient(to bottom, #446eac 0%, #213752 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 21, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-content > div {
  background: url("../../assets/images/blue-ribbon-grad-sep.png") bottom center no-repeat;
}
/* line 26, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: .5em 1em;
  margin: 0;
  font-size: 1.45em;
}
/* line 35, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container ul {
  margin: 0.625em 1.25em 0;
  color: white;
}
/* line 39, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container ul li {
  margin-bottom: 0.625em;
  list-style-position: outside;
}
/* line 45, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .more {
  color: #c5e4c9;
  font-size: .8em;
  float: right;
  margin: 0 .5em .5em 0;
}
/* line 53, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-left,
.home-intro-container .home-intro-right {
  position: absolute;
  top: 10px;
}
/* line 58, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .angle {
  width: 25px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
/* line 64, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .angle:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  background: #446eac;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  top: 25px;
  left: 25px;
}
/* line 80, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-left {
  background: #365787;
  background: -moz-linear-gradient(top, #365787 0%, #152334 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #365787), color-stop(100%, #152334));
  background: -webkit-linear-gradient(top, #365787 0%, #152334 100%);
  background: -o-linear-gradient(top, #365787 0%, #152334 100%);
  background: -ms-linear-gradient(top, #365787 0%, #152334 100%);
  background: linear-gradient(to bottom, #365787 0%, #152334 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
  width: 50px;
  height: 100%;
  left: -40px;
  z-index: 1;
}
/* line 87, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-left span.top, .home-intro-container .home-intro-left span.bottom {
  position: absolute;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) white;
  border-width: 125px 25px;
}
/* line 93, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-left span.top {
  top: 0%;
}
/* line 96, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-left span.bottom {
  bottom: 0%;
}
/* line 100, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-left .angle {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  bottom: -26px;
  right: 12px;
}
/* line 111, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-right {
  background: #365787;
  background: -moz-linear-gradient(top, #365787 0%, #152334 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #365787), color-stop(100%, #152334));
  background: -webkit-linear-gradient(top, #365787 0%, #152334 100%);
  background: -o-linear-gradient(top, #365787 0%, #152334 100%);
  background: -ms-linear-gradient(top, #365787 0%, #152334 100%);
  background: linear-gradient(to bottom, #365787 0%, #152334 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
  width: 50px;
  height: 100%;
  right: -40px;
  z-index: 1;
}
/* line 118, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-right span.top, .home-intro-container .home-intro-right span.bottom {
  position: absolute;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0) white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  border-width: 125px 25px;
}
/* line 124, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-right span.top {
  top: 0%;
}
/* line 127, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-right span.bottom {
  bottom: 0%;
}
/* line 131, ../../sass/panes/pane__coral_home_intro.scss */
.home-intro-container .home-intro-right .angle {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  bottom: -39px;
  right: 26px;
}

@media screen and (max-width: 1024px) {
  /* line 145, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container h2 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 768px) {
  /* line 152, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container h2 {
    font-size: 1.15em;
  }
  /* line 155, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container ul {
    margin: 1.25em 1.25em 0;
    color: #5e5e5e;
  }
  /* line 159, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container ul li {
    margin-bottom: 0.625em;
    list-style-position: outside;
  }
  /* line 164, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container .more {
    color: #446eac;
  }
  /* line 167, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container .more:hover {
    color: #3a5e92;
  }
  /* line 171, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container .clearfix:after {
    display: none;
  }
}
@media screen and (max-width: 618px) {
  /* line 179, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container .home-intro-content .left {
    width: 100%;
    margin: 0;
  }
  /* line 183, ../../sass/panes/pane__coral_home_intro.scss */
  .home-intro-container .home-intro-content .grid-12-last ul {
    margin-top: 0;
  }
}
