/* line 8, ../../sass/panes/pane__coral_featured_users.scss */
.pane-coral-featured-users {
  margin-top: 1.25em;
  padding: 0 0 0 5px;
}
/* line 12, ../../sass/panes/pane__coral_featured_users.scss */
.pane-coral-featured-users .pane-title {
  font-size: 1.125em;
  line-height: 1.1111em;
  margin-top: 0.5555em;
  margin-bottom: 0.5555em;
  color: #777777;
}
/* line 17, ../../sass/panes/pane__coral_featured_users.scss */
.pane-coral-featured-users .user-picture {
  float: left;
  margin: 0 7px 7px 0;
}
/* line 20, ../../sass/panes/pane__coral_featured_users.scss */
.pane-coral-featured-users .user-picture img {
  display: block;
}
