/* line 12, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search {
  padding: 5px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #d0d0d0;
  background: -moz-linear-gradient(top, #d0d0d0 0%, #b7b7b7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #b7b7b7));
  background: -webkit-linear-gradient(top, #d0d0d0 0%, #b7b7b7 100%);
  background: -o-linear-gradient(top, #d0d0d0 0%, #b7b7b7 100%);
  background: -ms-linear-gradient(top, #d0d0d0 0%, #b7b7b7 100%);
  background: linear-gradient(to bottom, #d0d0d0 0%, #b7b7b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 19, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search .pane-title {
  display: none;
}
/* line 22, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search form .arrow-ring {
  position: absolute;
  display: block;
  top: 10px;
  right: -1em;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: #777777 #777777 #777777 #dddddd;
  border-width: 1px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #9d9d9d;
  background: -moz-linear-gradient(top, #9d9d9d 0%, #777777 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d9d9d), color-stop(100%, #777777));
  background: -webkit-linear-gradient(top, #9d9d9d 0%, #777777 100%);
  background: -o-linear-gradient(top, #9d9d9d 0%, #777777 100%);
  background: -ms-linear-gradient(top, #9d9d9d 0%, #777777 100%);
  background: linear-gradient(to bottom, #9d9d9d 0%, #777777 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 37, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search form .arrow {
  position: absolute;
  display: block;
  top: 5px;
  right: .1em;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
}
/* line 44, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search form .form-item {
  margin: 0;
}
/* line 47, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search form .form-text {
  width: 98.5%;
  height: 25px;
}
/* line 51, ../../sass/panes/pane__coral_tag_search.scss */
.pane-coral-tag-search form .form-submit {
  position: absolute;
  top: 10px;
  right: -1em;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  color: black;
  width: 22px;
  height: 22px;
  text-indent: -9999em;
}
