/* line 442, icons/*.png */
.icons-sprite, .pane-coral-home-getting-started .clowny, .pane-coral-home-getting-started .msg .up-pointer {
  background: url('/images/icons-s90292af557.png') no-repeat;
}

/* line 11, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started {
  position: relative;
}
/* line 14, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .pane-title {
  font-weight: bold;
}
/* line 18, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .clowny {
  display: block;
  font-size: 130%;
  right: 65px;
  top: -1px;
  position: absolute;
  background-position: 0 -106px;
  height: 56px;
  width: 65px;
}
/* line 28, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started h4 {
  color: #e17d2c;
}
/* line 31, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .shell {
  border-width: 1px;
  border-color: #777777;
  border-style: solid;
  padding: 0.3125em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
  background: #373737;
  background: -moz-linear-gradient(top, #373737 0%, #262626 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #262626));
  background: -webkit-linear-gradient(top, #373737 0%, #262626 100%);
  background: -o-linear-gradient(top, #373737 0%, #262626 100%);
  background: -ms-linear-gradient(top, #373737 0%, #262626 100%);
  background: linear-gradient(to bottom, #373737 0%, #262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 40, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .shell .line {
  padding: 0;
  font-size: .8em;
  font-weight: bold;
  font-family: monospace, "Courier New", Courier;
}
/* line 46, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .shell .line .prompt {
  color: #36b048;
}
/* line 49, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .shell .line .command {
  color: white;
}
/* line 54, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .msg {
  margin-top: 0.41667em;
  padding-top: 0.41667em;
  line-height: 1.125em;
  position: relative;
}
/* line 60, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .msg .up-pointer {
  display: block;
  position: absolute;
  left: -36px;
  top: -1px;
  background-position: 0 -2631px;
  height: 28px;
  width: 28px;
}
/* line 69, ../../sass/panes/pane__coral_home_getting_started.scss */
.pane-coral-home-getting-started .more {
  margin-top: 0.15625em;
}
