/* line 474, icons/*.png */
.icons-sprite, .pane-coral-qa-ask-question .field-name-field-tags .icon {
  background: url('/images/icons-sf4124cc822.png') no-repeat;
}

/* line 13, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question {
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: linear-gradient(to bottom, #eaeaea 0%, #d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
  margin: 1.25em 0;
  padding: 0.625em 0.625em 0;
  border: 1px solid #777777;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-coral-qa-ask-question:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-msg {
  background: #e8f4ea;
}
/* line 25, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .qa-msg .cont {
  border: 1px solid #a2d4a9;
  padding: 0.625em;
}
/* line 31, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-item {
  margin: 0 0 0.625em 0;
}
/* line 35, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-password,
.pane-coral-qa-ask-question .form-type-textfield {
  width: 47%;
  float: left;
  clear: right;
}
/* line 39, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-password .description,
.pane-coral-qa-ask-question .form-type-textfield .description {
  display: none;
}
/* line 40, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-password .form-text,
.pane-coral-qa-ask-question .form-type-textfield .form-text {
  width: 94.8%;
}
/* line 42, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-form .form-type-textfield {
  margin-top: -3.75em;
}
/* line 45, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .field-name-field-tags {
  position: relative;
}
/* line 47, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .field-name-field-tags .icon {
  display: block;
  position: absolute;
  top: 0.625em;
  right: 48.5%;
  background-position: 0 -3377px;
  height: 14px;
  width: 11px;
}
/* line 54, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .field-name-field-tags .form-type-textfield {
  float: right;
}
/* line 58, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-textarea {
  clear: both;
}
/* line 62, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-managed-file .file-widget {
  float: left;
  padding: 3px;
  background: white;
  border: 1px solid #777;
  margin-top: 5px;
}
/* line 69, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-managed-file .description {
  position: relative;
  top: 14px;
}
/* line 74, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .description {
  color: #777777;
  clear: left;
}
/* line 77, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .description .br {
  display: inline;
}
/* line 81, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-actions {
  float: right;
  margin: -3.75em 0 0 0;
  padding: 0;
}
/* line 86, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-question-form {
  background: #446eac;
  border: 2px solid #d0d0d0;
  padding: 0.625em;
  position: relative;
  background-color: rgba(208, 208, 208, 0.5);
  margin-top: 2.85em;
}
/* line 94, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-question-form .icon {
  position: absolute;
  top: -2.65em;
  right: 48.65%;
}
/* line 100, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .node-question-form label {
  display: none;
}
/* line 102, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .filter-wrapper {
  display: none;
}
/* line 103, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .vertical-tabs {
  display: none;
}
/* line 107, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question #user-login h2 {
  color: #777777;
  float: left;
  margin-left: 2em;
  position: relative;
  width: 40%;
  font-size: 1.25em;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  margin-top: 1em;
}
/* line 119, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question #user-login .gigya-login {
  background: #f1f1f1;
  border: 1px solid #9d9d9d;
  float: right;
  margin-right: 1%;
  margin-left: -50%;
  padding-left: 50%;
  padding-bottom: 0.625em;
  width: 48.8%;
}
/* line 129, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question #user-login label {
  float: left;
  margin-top: 7px;
}
/* line 134, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question #user-login .form-type-password,
.pane-coral-qa-ask-question #user-login .form-type-textfield {
  width: 44%;
}
/* line 137, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question #user-login .form-text {
  width: 62%;
  margin-left: 1%;
}
/* line 141, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question #user-login .form-actions {
  margin: 2px 1% 0 0;
  padding: 0;
}
