/* line 7, ../../sass/panes/pane__coral_answers_target.scss */
.pane-coral-answers-target {
  position: relative;
  background: #f1f1f1;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 3.75em;
}
/* line 15, ../../sass/panes/pane__coral_answers_target.scss */
.pane-coral-answers-target .load-more {
  position: absolute;
  bottom: -2.5em;
}
/* line 18, ../../sass/panes/pane__coral_answers_target.scss */
.pane-coral-answers-target .load-more .ajax-progress {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -25px;
  top: 8%;
}
/* line 27, ../../sass/panes/pane__coral_answers_target.scss */
.pane-coral-answers-target .load-more.hide {
  display: none;
}
