/* line 10, ../../sass/panes/pane__coral_thinking_help.scss */
.pane-coral-thinking-help {
  margin-top: 2.5em;
  position: relative;
  padding: .65em 0 .5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
  background: #d0d0d0;
  background: -moz-linear-gradient(top, #d0d0d0 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #d0d0d0 0%, #eaeaea 100%);
  background: -o-linear-gradient(top, #d0d0d0 0%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #d0d0d0 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #d0d0d0 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 17, ../../sass/panes/pane__coral_thinking_help.scss */
.pane-coral-thinking-help .pane-title {
  font-size: 125%;
  margin: 0 0 0 150px;
  padding: 0;
}
/* line 23, ../../sass/panes/pane__coral_thinking_help.scss */
.pane-coral-thinking-help img {
  position: absolute;
  top: 1.75em;
  left: 1.65em;
}
/* line 29, ../../sass/panes/pane__coral_thinking_help.scss */
.pane-coral-thinking-help ul {
  margin: .4em 0 .4em 145px;
}
