/* line 450, icons/*.png */
.icons-sprite, .pane-coral-add-comment .btn.comment .icon, .pane-coral-add-comment .btn.comments-hidden .icon, .pane-coral-add-comment .btn.comments-hidden:hover .icon {
  background: url('/images/icons-s7075c67732.png') no-repeat;
}

/* line 15, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment {
  float: left;
  margin: 0 5px 0 0;
}
/* line 19, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment {
  padding-left: 0;
  padding-right: 18px;
  position: relative;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: #515151;
  width: auto;
  color: #777777;
  font-size: .9em;
}
/* line 31, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment:hover {
  color: #919191;
}
/* line 35, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .circle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 14%;
  right: -4px;
  height: 16px;
  width: 16px;
}
/* line 44, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .circle .arrow {
  display: block;
  margin: 3px 0 0 2px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #515151;
}
/* line 49, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .circle .arrow-down {
  margin: 6px 0 0 -1px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #515151;
}
/* line 55, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .icon {
  display: block;
  float: left;
  margin-top: 1px;
  margin-right: 2px;
  background-position: 0 -2815px;
  height: 12px;
  width: 19px;
}
/* line 65, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .ajax-progress .throbber {
  margin: 1px -2px -1px 6px;
}
/* line 70, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comments-hidden .icon {
  background-position: 0 -2877px;
  height: 12px;
  width: 19px;
}
/* line 74, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comments-hidden:hover .icon {
  background-position: 0 -2815px;
  height: 12px;
  width: 19px;
}
