/* line 6, ../../sass/panes/pane__coral_people.scss */
.pane-coral-people {
  margin-top: 3.125em;
  padding-left: 1em;
}
/* line 10, ../../sass/panes/pane__coral_people.scss */
.pane-coral-people p {
  float: right;
  margin-top: 0.625em;
  width: 11em;
}
