/* line 338, icons/*.png */
.icons-sprite, .pane-coral-add-comment .btn.comment .icon, .pane-coral-add-comment .btn.comments-hidden .icon, .pane-coral-add-comment .btn.comments-hidden:hover .icon {
  background: url('/images/icons-s6bd60a2940.png') no-repeat;
}

/* line 15, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment {
  float: left;
  margin: 0 5px 0 0;
}
/* line 19, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment {
  padding-left: 0;
  padding-right: 18px;
  position: relative;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: #515151;
  width: auto;
  color: #777777;
  font-size: .9em;
}
/* line 31, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment:hover {
  color: #919191;
}
/* line 35, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .circle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 14%;
  right: -4px;
  height: 16px;
  width: 16px;
}
/* line 44, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .circle .arrow {
  display: block;
  margin: 3px 0 0 2px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #515151;
}
/* line 49, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .circle .arrow-down {
  margin: 6px 0 0 -1px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #515151;
}
/* line 55, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .icon {
  display: block;
  float: left;
  margin-top: 1px;
  margin-right: 2px;
  background-position: 0 -2215px;
  height: 12px;
  width: 19px;
}
/* line 65, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comment .ajax-progress .throbber {
  margin: 1px -2px -1px 6px;
}
/* line 70, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comments-hidden .icon {
  background-position: 0 -2277px;
  height: 12px;
  width: 19px;
}
/* line 74, ../../sass/panes/pane__coral_add_comment.scss */
.pane-coral-add-comment .btn.comments-hidden:hover .icon {
  background-position: 0 -2215px;
  height: 12px;
  width: 19px;
}

/* line 88, ../../sass/panes/pane__coral_add_comment.scss */
.view-comments.view-display-id-new_comments .views-row,
.view-comments.view-display-id-this_comment .views-row {
  background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
}
/* line 90, ../../sass/panes/pane__coral_add_comment.scss */
.view-comments.view-display-id-new_comments .views-row .pane-node-body,
.view-comments.view-display-id-this_comment .views-row .pane-node-body {
  padding-right: 1em;
}
/* line 93, ../../sass/panes/pane__coral_add_comment.scss */
.view-comments.view-display-id-new_comments .views-row .pane-coral-add-comment,
.view-comments.view-display-id-this_comment .views-row .pane-coral-add-comment {
  float: right;
}
/* line 96, ../../sass/panes/pane__coral_add_comment.scss */
.view-comments.view-display-id-new_comments .views-row .pane-coral-add-comment .anon,
.view-comments.view-display-id-this_comment .views-row .pane-coral-add-comment .anon {
  margin-right: 1em;
}
/* line 101, ../../sass/panes/pane__coral_add_comment.scss */
.view-comments.view-display-id-new_comments .views-row-first,
.view-comments.view-display-id-this_comment .views-row-first {
  margin-top: 0;
}
/* line 104, ../../sass/panes/pane__coral_add_comment.scss */
.view-comments.view-display-id-new_comments .pager,
.view-comments.view-display-id-this_comment .pager {
  display: none;
}

/* line 123, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .pane-coral-page-title h2,
.html div.node-teaser.node-comment .pane-coral-page-title h2 {
  color: #3a5e92;
  font-weight: bold;
  margin-top: .15em;
}
/* line 132, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node,
.html .node-type-comment .pane-coral-add-comment,
.html .node-type-comment .pane-coral-add-answer,
.html .node-type-comment .pane-node-links,
.html div.node-teaser.node-comment .pane-coral-flag-abuse-node,
.html div.node-teaser.node-comment .pane-coral-add-comment,
.html div.node-teaser.node-comment .pane-coral-add-answer,
.html div.node-teaser.node-comment .pane-node-links {
  float: right;
  height: 1.4em;
}
/* line 135, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node .links,
.html .node-type-comment .pane-coral-add-comment .links,
.html .node-type-comment .pane-coral-add-answer .links,
.html .node-type-comment .pane-node-links .links,
.html div.node-teaser.node-comment .pane-coral-flag-abuse-node .links,
.html div.node-teaser.node-comment .pane-coral-add-comment .links,
.html div.node-teaser.node-comment .pane-coral-add-answer .links,
.html div.node-teaser.node-comment .pane-node-links .links {
  padding: 0;
  margin: 0;
}
/* line 139, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node .links li,
.html .node-type-comment .pane-coral-add-comment .links li,
.html .node-type-comment .pane-coral-add-answer .links li,
.html .node-type-comment .pane-node-links .links li,
.html div.node-teaser.node-comment .pane-coral-flag-abuse-node .links li,
.html div.node-teaser.node-comment .pane-coral-add-comment .links li,
.html div.node-teaser.node-comment .pane-coral-add-answer .links li,
.html div.node-teaser.node-comment .pane-node-links .links li {
  margin: 0 5px 0 0;
  padding: 1px 6px 1px;
}
/* line 145, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node,
.html div.node-teaser.node-comment .pane-coral-flag-abuse-node {
  margin-right: 1em;
}
/* line 149, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .pane-node-field-tags,
.html div.node-teaser.node-comment .pane-node-field-tags {
  clear: left;
}
/* line 156, ../../sass/panes/pane__coral_add_comment.scss */
.html .node-type-comment .field-name-field-content,
.html .node-type-comment .field-name-field-comment-count,
.html .node-type-comment .field-type-file legend,
.html div.node-teaser.node-comment .field-name-field-content,
.html div.node-teaser.node-comment .field-name-field-comment-count,
.html div.node-teaser.node-comment .field-type-file legend {
  display: none;
}
