/* line 8, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-textfield {
  width: 47.8%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-textfield .form-text {
  width: 99.8%;
}
/* line 13, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .form-type-textfield label {
  display: none;
}
/* line 15, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .description .br {
  display: inline;
}
/* line 18, ../../sass/panes/pane__coral_qa_ask_question.scss */
.pane-coral-qa-ask-question .filter-wrapper {
  display: none;
}
