/* line 482, icons/*.png */
.icons-sprite, .pane-coral-build-options .build-options .command-line .icon, .pane-coral-build-options .build-options .coral-arch .icon, .pane-coral-build-options .build-options .integration .icon, .pane-coral-build-options .build-options .requirements .icon {
  background: url('/images/icons-s3f57c7e400.png') no-repeat;
}

/* line 10, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options li {
  list-style: none;
  margin: 0 0 1.25em 10px;
  position: relative;
}
/* line 15, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .icon {
  display: block;
  position: absolute;
  left: -45px;
  top: 3px;
}
/* line 21, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .label {
  color: #b02e1c;
}
/* line 24, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .command-line .icon {
  background-position: 0 -2412px;
  height: 28px;
  width: 33px;
}
/* line 27, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .coral-arch .icon {
  background-position: 0 -1998px;
  height: 31px;
  width: 31px;
}
/* line 30, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .integration .icon {
  left: -44px;
  background-position: 0 -1398px;
  height: 30px;
  width: 32px;
}
/* line 34, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .build-options .requirements .icon {
  left: -38px;
  top: 4px;
  background-position: 0 -2490px;
  height: 23px;
  width: 23px;
}
/* line 43, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .format-usage .pane-title {
  color: white;
  background: #919191;
  padding: 0.625em;
  margin-top: 0;
  line-height: .8em;
}
/* line 50, ../../sass/panes/pane__coral_build_options.scss */
.pane-coral-build-options .format-usage li {
  margin-left: 45px;
}
