/* line 402, icons/*.png */
.icons-sprite, .pane-coral-add-answer .btn.answer .icon, .pane-coral-add-answer .btn.answers-hidden .icon, .pane-coral-add-answer .btn.answers-hidden:hover .icon {
  background: url('/images/icons-s9fc993f7aa.png') no-repeat;
}

/* line 14, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer {
  float: left;
  margin: 0 5px 0 0;
}
/* line 18, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer {
  padding-left: 0;
  padding-right: 18px;
  position: relative;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: #515151;
  border-right: 1px solid #dddddd;
  color: #777777;
  font-size: .9em;
}
/* line 28, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer .circle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 14%;
  right: -4px;
  height: 16px;
  width: 16px;
}
/* line 37, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer .circle .arrow {
  display: block;
  margin: 3px 0 0 2px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #515151;
}
/* line 42, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer .circle .arrow-down {
  margin: 6px 0 0 -1px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #515151;
}
/* line 48, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer .icon {
  display: block;
  float: left;
  margin-top: 1px;
  margin-right: 2px;
  background-position: 0 -2469px;
  height: 15px;
  width: 15px;
}
/* line 57, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer:hover {
  color: #919191;
}
/* line 62, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answer .ajax-progress .throbber {
  margin: 1px -2px -1px 6px;
}
/* line 67, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answers-hidden .icon {
  background-position: 0 -2404px;
  height: 15px;
  width: 15px;
}
/* line 71, ../../sass/panes/pane__coral_add_answer.scss */
.pane-coral-add-answer .btn.answers-hidden:hover .icon {
  background-position: 0 -2469px;
  height: 15px;
  width: 15px;
}

/* line 83, ../../sass/panes/pane__coral_add_answer.scss */
.view-answers.view-display-id-this_answer .pager,
.view-answers.view-display-id-new_answers .pager {
  display: none;
}
/* line 85, ../../sass/panes/pane__coral_add_answer.scss */
.view-answers.view-display-id-this_answer .views-row,
.view-answers.view-display-id-new_answers .views-row {
  background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
}
