
// Primary palette file for Coral Nexus
//  Only coros related things should go in here.

// Primaries
$white: #ffffff;
$black: #000000;

// Grays
$ltgray: #dddddd;
$mdgray: #777777;
$dkgray: #515151;

// Blues
$ltblue: #cad5e2;
$mdblue: #446eac;
$dkblue: #2b486b;

// Reds
$ltred: #d9837b;
$mdred: #b02e1c;
$dkred: #762921;

// Greens
$ltgreen: #a2d4a9;
$mdgreen: #36b048;
$dkgreen: #20682a;

// Oranges
$ltorange: #fdaa68;
$mdorange: #e17d2c;
$dkorange: #b9490d;

// Yellows
$ltyellow: #fff6b6;
$mdyellow: #e5d14a;
$dkyellow: #ac9605;
