
// This file is used for global default classes and class sets.
//  It should contain only helper type class definitions.

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/site_vars';

// hides
.hide { position: absolute !important; left: -9999em; }

// floats
.left, div.left  { float: left;  }
.right, div.right { float: right; }

// and clears
.clear       { clear: both;  }
.clear-right { clear: right; }
.clear-left  { clear: left;  }

clear {
  display: block;
  width: 100%;
  clear: both;
}

.block {
  display: block;
}

// forms
.field-default {
  color: $mdgray; // default field text color - class applied in mosaicForms.js
}

// Site width
.site-width {
  @include site_width;
  
  .site-width {  
    width: 100%; // Reset inner level
  }
}


// Text
.sml,
.small {
  font-size: 80%;
  line-height: 1.25em;
}

.huge { @include huge; }
.h1 { @include h1; }
.h2 { @include h2; }
.h3 { @include h3; }
.h4 { @include h4; } 

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

// Simulated (override-able ;-) break tags
.br {
  display: block;
}

// Color construct
.white { color: $white; }
.black { color: $black; }
.ltgray { color: $ltgray; }
.mdgray { color: $mdgray; }
.dkgray { color: $dkgray; }
.silver { color: $silver; }
.ltred { color: $ltred; }
.mdred { color: $mdred; }
.dkred { color: $dkred; }
.ltgreen { color: $ltgreen; }
.mdgreen { color: $mdgreen; }
.dkgreen { color: $dkgreen; }
.ltblue { color: $ltblue; }
.mdblue { color: $mdblue; }
.dkblue { color: $dkblue; }
.ltorange { color: $ltorange; }
.mdorange { color: $mdorange; }
.dkorange { color: $dkorange; }
.ltyellow { color: $ltyellow; }
.mdyellow { color: $mdyellow; }
.dkyellow { color: $dkyellow; }


// borders
// -- lights
.b-top { border-top: 1px solid $ltgray; }
.b-bot { border-bottom: 1px solid $ltgray; }
.b-left { border-left: 1px solid $ltgray; }
.b-right { border-right: 1px solid $ltgray; }
.borders { border: 1px solid $ltgray; }

/*
.b-top-ltblu { border-top: 1px solid $ltblue; }
.b-bot-ltblu { border-bottom: 1px solid $ltblue; }
.b-left-ltblu { border-left: 1px solid $ltblue; }
.b-right-ltblu { border-right: 1px solid $ltblue; }
.borders-ltblu { border: 1px solid $ltblue; }

.b-top-ltred { border-top: 1px solid $ltred; }
.b-bot-ltred { border-bottom: 1px solid $ltred; }
.b-left-ltred { border-left: 1px solid $ltred; }
.b-right-ltred { border-right: 1px solid $ltred; }
.borders-ltred { border: 1px solid $ltred; }

.b-top-ltyel { border-top: 1px solid $ltyellow; }
.b-bot-ltyel { border-bottom: 1px solid $ltyellow; }
.b-left-ltyel { border-left: 1px solid $ltyellow; }
.b-right-ltyel { border-right: 1px solid $ltyellow; }
.borders-ltyel { border: 1px solid $ltyellow; }

.b-top-ltgrn { border-top: 1px solid $ltgreen; }
.b-bot-ltgrn { border-bottom: 1px solid $ltgreen; }
.b-left-ltgrn { border-left: 1px solid $ltgreen; }
.b-right-ltgrn { border-right: 1px solid $ltgreen; }
.borders-ltgrn { border: 1px solid $ltgreen; }
*/

// margins
.ml-1 {
  margin-left: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.mt-1 {
  margin-top: 1em;
}
.mb-1 {
  margin-bottom: 1em;
}

.mt-125 {
  margin-top: $default_vert_unit;
}
.mb-125 {
  margin-bottom: $default_vert_unit;
}

.mt-25 {
  margin-top: 2 * $default_vert_unit;
}
.mb-25 {
  margin-bottom: 2 * $default_vert_unit;
}

