
// This file is used for global default classes and class sets.
//  It should contain only helper type class definitions.

@import 'global/colors';
@import 'global/site_vars';

// hides
.hide { position: absolute; left: -9999em; }

// floats
.left, div.left  { float: left;  }
.right, div.right { float: right; }

// and clears
.clear       { clear: both;  }
.clear-right { clear: right; }
.clear-left  { clear: left;  }

// forms
.field-default {
  color: $mdgray; // default field text color - class applied in mosaicForms.js
}

// Site width
.site-width {
  @include site_width;
  .site-width {  // Reset inner level:
    width: auto; // we never want nested site-widths to have full width
  }
}

// Text
.sml,
.small {
  font-size: 80%;
  line-height: 1.25em;
}

// Simulated (override-able ;-) break tags
.br {
  display: block;
}

// Color construct
.white { color: $white; }
.black { color: $black; }
.ltgray { color: $ltgray; }
.mdgray { color: $mdgray; }
.dkgray { color: $dkgray; }
.silver { color: $silver; }
.ltred { color: $ltred; }
.mdred { color: $mdred; }
.dkred { color: $dkred; }
.ltgreen { color: $ltgreen; }
.mdgreen { color: $mdgreen; }
.dkgreen { color: $dkgreen; }
.ltblue { color: $ltblue; }
.mdblue { color: $mdblue; }
.dkblue { color: $dkblue; }
.ltorange { color: $ltorange; }
.mdorange { color: $mdorange; }
.dkorange { color: $dkorange; }
.ltyellow { color: $ltyellow; }
.mdyellow { color: $mdyellow; }
.dkyellow { color: $dkyellow; }
