
// This file is used for global default classes and class sets.
//  It should contain only helper type class definitions.

@import 'global/colors';
@import 'global/site_vars';

// hides
.hide { position: absolute; left: -9999em; }

// floats
.left  { float: left;  }
.right { float: right; }

// and clears
.clear       { clear: both;  }
.clear-right { clear: right; }
.clear-left  { clear: left;  }

// forms
.field-default {
  color: $mdgray; // default field text color - class applied in mosaicForms.js
}

// Site width
.site-width {
  @include site_width;
}

