
// File should only contain default dom object styles for Coral Nexus

@import "global/buttons";
@import "global/colors";
@import "global/headers";
@import "global/fonts";

@import "compass/utilities/general/clearfix";

// Base 16px
// pixel to em 
// 10px - 0.63em
// 11px - 0.689em
// 12px - 0.750em
// 13px - 0.814em
// 14px - 0.875em
// 15px - 0.938em
// 16px - 1em
// 17px - 1.064em
// 18px - 1.125em
// 19px - 1.188em
// 20px - 1.250em
// 21px - 1.313em
// 22px - 1.375em
// 23px - 1.438em
// 24px - 1.500em
// 25px - 1.563em
// 26px - 1.625em
// 27px - 1.688em
// 28px - 1.750em
// 29px - 1.813em
// 30px - 1.75em

body {
  font-size: 16px;
  font-family: $sans_fonts;
}
html > body {
  line-height: $default_vert_unit;
}


// --- Headers
h1, h2, h3, h4, h5, h6 {
  color: $dkgray;
  clear: left;
}
// See _headers.scss for mixins
h1 { 
  @include h1;
}
h2 { 
  @include h2;
}
h3 { 
  @include h3;
}
h4 { 
  @include h4;
}


// --- Media
img, 
object, 
embed, 
video {
  max-width: 100%;
}


// --- Links
a,
li a,
li.leaf a { 
  color: $mdblue;
  font-size: 100%;
  font-weight: bold;
  line-height: $default_vert_unit;
  text-decoration: none;
  outline: none;
    
  &:active, &.active { color: lighten($dkblue, 5%); }
  &:hover { color: $dkblue; }
}
a.freelink-createnode {
  color: $mdred;
  &:hover {
    color: $dkred;
  }
}

// --- Text
strong, b {
  font-weight: bold;
}

p {
  margin: 0 0 $default_vert_unit 0;
}

em,.em {
  font-style: italic;
}

small {
  font-size: 80%;
  line-height: 1.25em;
}


// --- Lists
ul,
.item-list ul {
  margin: $default_vert_unit .5em;
  
  li,
  li.leaf {
    list-style: disc;
    list-style-image: url('/sites/all/themes/mosaic/assets/images/li-red.png');
    margin: 0 0 0 1em;
    padding-top: 0;  
  }
  li.collapsed {
    margin: 0 0 0 1em;
    padding-top: 0;
  }
}
#autocomplete {
  border: 1px solid $ltgray;
  
  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  
    li,
    li.leaf {
      margin: 0;
      padding: 2px 3px;
      list-style: none;
      list-style-image: none;
      border-bottom: 1px solid $ltgray;
    } 
  }
}


ol {
  list-style: decimal;
  margin-left: 1.325em;
}

// the item actions (edit delete etc...)
.html ul.links {
  display: block;
  min-height: $default_vert_unit;
  margin: 0;
  
  li {
    float: right;
    font-size: .9em;
    margin: 0;
    padding: 0 3px;
    border-right: 1px solid $ltgray;
    
    a {
      color: lighten($mdgray,15%);
      
      &:hover {
        color: darken($mdgray, 10%);
      }
    }
  }
}



// --- Forms
.html .form-item {
  margin: ($default_vert_unit / 2) 0 $default_vert_unit 0;
  
  label {
    font-weight: bold;
    color: $mdgray;
  }
}

.html .form-actions {
  margin: ($default_vert_unit / 2) 0;
}

input.form-submit {
  @include btn-matte-inset;
  @include btn-structure;
  
  margin: 0 5px 0 0;
}
input#edit-delete {
  margin-left: 2em;
  @include btn-matte-inset(0px, 16px, $mdred, $mdred);
  @include btn-structure;
}

.form-textarea {
  font-size: 1em;
}
.filter-wrapper {
  padding: 0;
  
  .filter-help {
    float: right;
    text-align: right;
    width: 49%;
    padding: 0;
  }
  .form-item {
    float: left;
    width: 50%;
    margin: 0 0 $default_vert_unit;
    padding: 0;
    
    select,
    label {
      float: left;
      margin-right: 5px;
    }
  }
  .filter-guidelines {
    clear: both;
  }
}

.form-item .description {
 background: lighten($ltgreen, 20%);
 font-size: 0.85em;
 padding: 0 3px;
}

input.form-text {
  font-size: 135%;
  width: 98.45%;
  padding: .25em;
}

html.js input.form-autocomplete {
  background-image: url(../assets/images/coral-throbber-blue-15.gif);
  background-position: 99.5% 10px;
  background-repeat: no-repeat;
}

html.js input.form-autocomplete {
  background-position: 99.5% 10px;
}
html.js input.throbbing {
  background-position: 99.5% -124px; /* LTR */
}

.vertical-tabs ul li {
  list-style: none;
}


a.btn {
  &:hover {
    color: $white;
  }
  
  @include btn-matte-inset;
  @include btn-structure;
}


// Tables
table {
  th {
    color: $mdgray;
    padding: 0 2px;
  }
  tr.even {
    background: lighten($ltgray, 4%);
    border: none;
  }
  tr.odd {
    background: lighten($ltgray, 8%);
    border: none;
  }
  a.tabledrag-handle .handle {
    margin: 0em .25em 0 1em;
    padding: 0.5em 0.2em;
  }
}


