
// File should only contain default dom object styles for Coral Nexus

@import "global/buttons";
@import "global/colors";
@import "global/fonts";
//@import "sassy-buttons";



// Font Size Reference (12px base)
//------------------------------------------------------------------------------
//    6px   |   0.5em     |   50%     |   5pt
//    7px   |   0.583em   |   58.3%   |   5pt
//    8px   |   0.667em   |   66.7%   |   6pt
//    9px   |   0.75em    |   75%     |   7pt
//    10px  |   0.833em   |   83.3%   |   8pt
//    11px  |   0.917em   |   91.7%   |   8pt
//    12px  |   1em       |   100%    |   9pt
//    13px  |   1.083em   |   108.3%  |   10pt
//    14px  |   1.167em   |   116.7%  |   11pt
//    15px  |   1.25em    |   125%    |   11pt
//    16px  |   1.333em   |   133.3%  |   12pt
//    17px  |   1.417em   |   141.7%  |   13pt
//    18px  |   1.5em     |   150%    |   14pt
//    19px  |   1.583em   |   158.3%  |   14pt
//    20px  |   1.667em   |   166.7%  |   15pt
//    21px  |   1.75em    |   175%    |   16pt
//    22px  |   1.833em   |   183.3%  |   17pt
//    23px  |   1.917em   |   191.7%  |   17pt
//    24px  |   2em       |   200%    |   18pt

body.html {
  font-size: 16px;
  font-family: $sans_fonts;
  //letter-spacing: 1px;
  line-height: $default_vert_unit;
}


// --- Headers
h1, h2, h3, h4, h5, h6 {
  color: $dkgray;
  margin: $default_vert_unit 0 ($default_vert_unit / 2) 0;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.15em; }


// --- Media
img, 
object, 
embed, 
video {
  max-width: 100%;
}


// --- Links
a,
li a,
li.leaf a { 
  color: $mdblue;
  font-size: 100%;
  font-weight: bold;
  line-height: $default_vert_unit;
  text-decoration: none;
  outline: none;
    
  &:active, &.active { color: lighten($dkblue, 5%); }
  &:hover { color: $dkblue; }
}

// --- Text
strong, b {
  font-weight: bold;
}

p {
  margin: $default_vert_unit 0;
}

em,.em {
  font-style: italic;
}

small {
  font-size: 80%;
  line-height: 1.25em;
}


// --- Lists
ul,
.item-list ul {
  margin: $default_vert_unit .5em;
  
  li,
  li.leaf {
    list-style: disc;
    list-style-image: url('/sites/all/themes/mosaic/assets/images/li-red.png');
    margin: 0 0 0 1em;
    padding-top: 0;  
  }
  
}


// the edit / delete / reply links
ul.links {
  display: block;
  height: 2 * $default_vert_unit;
  margin: 0;
      
  li {
    float: right;
    margin: 0 0 0 5px;
        
    @include btn-matte-inset;
    @include btn-structure;
    
    // Link type overrides
      
    &.comment-delete {
      @include btn-matte-inset(0px, 16px, $mdred, darken($mdred, 4%));
      @include btn-structure;
    }
    a {
      color: #fff;
    }
  }
}



// --- Forms
input.form-submit {
  @include btn-glass;
  @include btn-structure;
}
input#edit-delete {
  margin-left: 2em;
  @include btn-glass(0px, 16px, $mdred, $mdred);
  @include btn-structure;
}

input.form-text {
  width: 80%;
}

