
// Contains only globally needed scss declarations
//  If it is not visible on EVERY page do not
//  add it here!

// external imports
@import 'compass/css3/opacity';

@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/site_vars';


// -- Global container widths
.pane-header,
.pane-footer,
.pane-page-tabs,
.pane-page-messages,
.pane-top-menus #mini-panel-top_menus,
.mosaic-cont > .container {
  @include site_width;
}

// site margin top and bottom
.pane-header { margin: 0 auto; padding-top: .5em; }
.pane-footer { margin: 0 auto $default_vert_unit; }

// Unset margin in the header
#mini-panel-header { 
  .inside, .panel-separator { margin: 0; }
}

// -- Coloration globals
// Site body
body.html {
  background: $dkgray; 
}
// See _menus.scss for primary (main) menu 
//  coloration settings.
header,
.mosaic-cont {
  background: $white;
}
.mosaic-cont {
  padding: 1em 0 0;
}

// -- Search form -- added here bc it is on every page
header .pane-search-form {
  background: url(../assets/images/search-bg.png) left top no-repeat;
  height: 50px;
  margin: 10px 0 0 10px;
  padding: 10px 0 0 18px;
  position: relative;
  width: 275px;
  
  .form-text {
    background: none;
    border: none;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 5px 8px;
    width: 185px;
  }
  .form-wrapper {
    border: 1px solid $dkblue;
    height: 27px;
    position: absolute;
    right: 8px;
    top: 11px;
    width: 60px;
    
    .form-submit {
      border: 1px solid $mdblue;
      color: $white;
      height: 27px;
      width: 60px;
      
      @include font(80%);
      @include linear-v-gradient(#0065a5, #2a4a70);
    }
  }
}

// -- Gigya
.pane-gigya-gigya-login {
  float: right;
  position: relative;
  
  .pane-title {
    text-align: center;
    color: $mdgray;
    
    @include font(70%, bold);
  }
  #divGigyaLogin_bottomLink {
    margin-top: -21px;
    
    table td { text-align: center; }
    
    @include opacity(.85);
  }
}
 


// -- Footer
.pane-coral-footer {
  color: $white;
  font-size: 90%;
  text-align: right;
  margin: 0;
  
  .fde { // footer data element
    margin: 0 0 ($default_vert_unit / 2);
  }
}
