
// Superfish definitions
//  Only superfish related styles should be here!

@import 'global/arrows';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
//@import 'global/icons';

// external imports
@import 'compass/css3/opacity';
@import 'compass/css3/text-shadow';
@import 'compass/css3/box-shadow';


@mixin plink() {
  color: $mdblue;
  line-height: 80px;
  padding: 0 .5em;
  @include text-shadow(1px 1px 2px lighten($ltblue, 7%));

  &:hover,
  &:active,
  &.active {
    color: $dkblue;
  }
}

.pane-menu-main {
  .pane-content {
    ul.menu {
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style-type: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
      }
      a {
        display: block;
        float: left;
        height: 80px;

        @include plink;
        @include font(115%, normal);

        &:hover,
        &:active,
        &.active {
          background: lighten($ltgray, 5%);
        }
      }
    }
    .respond {
      display: none;
      color: darken($ltgray, 7%);
      @include font(95%, normal);
      .icon {
        float: left;
        margin-right: .25em;
        @include icons-sprite('menu-main');
      }
    }
  }
}

header.collapsed {
  .pane-menu-main {
    .pane-content {
      ul.menu {
        li {
        }
        a {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}


@media screen and (max-width: $desktopw) {
  .pane-menu-main {
    .pane-content {
      ul.menu {
        a {
          font-size: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $tabletw) {
  .pane-menu-main {
    .pane-content {
      position: relative;

      ul.menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        li {
          padding: 0;
          display: block;
          float: none;
          background: lighten($ltgray, 7%);
          border-bottom: 1px solid darken($ltgray, 3%);
          a {
            padding: 0 1em;
            color: $mdblue;
            display: block;
            float: none;
            height: auto;
            line-height: 2 * $default_vert_unit;

          }
        }
      }
      .respond {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 29px;
        left: 30%;
        width: 120px;
      }
    }
  }

  header.collapsed .pane-menu-main {
    .pane-content {
      .respond {
        top: 16px;
      }
    }
  }
}


@media screen and (max-width: $phonew + 200) {
  .pane-menu-main {
    .pane-content {
      .respond {
        .txt {
          display: none;
        }
      }
    }
  }
}
