
// Contains styles for menus that are visible just about everywhere
//  Menus included:

//   Header (region)
//    - main menu
//    - user menu

//   Footer (region)
//    - general
//    - documentation
//    - account

@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';

// -- Header (region)

// -- Utility
.pane-menu-support {
}
@media screen and (max-width: $tabletw) {
}
@media screen and (max-width: $phonew) {
}


// -- Footer (region)
footer {
  @include linear-v-gradient(#313131, #515151);
}

#mini-panel-footer {
  font-size: 90%;
  padding-top: $default_vert_unit;

  .pane-title {
    color: $ltorange;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 ($default_vert_unit / 2);
  }

  ul.menu {
    margin: 0;

    li.leaf {
      font-size: 90%;
      list-style-image: none;
      list-style-type: none;
      margin: 0;

      a {
        color: $white;

        &:hover, &:active, &.active
        { color: $ltyellow; }
      }
    }
  }
}
@media screen and (max-width: $tabletw - 150px) {
  #mini-panel-footer .panel-col-first,
  #mini-panel-footer .panel-col-last {
    float: none;
    width: 100%;

    .inside {
      margin: 0 0 1em 0;
    }

    .pane-panels-mini {
      @include col(11);
    }
    .pane-coral-footer {
      @include col(13);
    }
  }
}

