
// Styles relating to Drupal primary and secondary tabs
@import 'global/fonts';

.pane-page-tabs {
  padding: 0 0 1em;
  
  ul { margin: 0; 
    li {
      //line-height: 1em;
      margin: 0 .5em 0 0;
      
      a {
        padding: 0 .5em;
        margin: 0;
      }
    }
  }
  ul.primary {
    line-height: $default_vert_unit;
    height: $default_vert_unit;
  }
}
