
// Base scss file for comment displays

@import 'global/colors';
@import 'global/fonts';


.views-row-even .comment {
  background: lighten($ltgray, 7%);
  border-style: solid;
  border-width: 1px 1px 1px 15px;
  border-color: lighten($mdgray, 15%);
}
.comment {
  padding: 0 1em;
  border-style: solid;
  border-width: 1px 1px 1px 15px;
  border-color: $ltgray;

  .user-picture {
    float: left;
    margin: 5px 5px 0 -5px;
    img {
      display: block;
      border: 1px solid $ltgray;
    }
  }
  .au-sub {
    float: left;
  }
  .po-sub {
    float: right;
    font-size: 90%;
    color: lighten($mdgray, 10%)
  }
  .new {
    color: $mdorange;
    font-weight: bold;
    float: left;
    margin-top: 1.75em;
    margin-right: 1em;
  }
  ul.links.inline {
    display: block;
  }
  h3.comment-title {
    a {
      color: $mdgray;
      &:hover {
        color: $dkgray;
      }
    }
  }
  .submitted {
    margin: ($default_vert_unit / 2) 0 $default_vert_unit;
  }
  .perma-link {
    float: right;
    font-size: 90%;
    margin: .75em 0 0 .5em;
    a {
      color: lighten($mdgray, 20%);
    }
  }
  .content {
    clear: left;
  }
}

$indents: 10;
@for $i from 1 through $indents {
  .comment-thread-#{$i} {
    margin-left: #{$i - 1}em;   
  }
}