
// Base scss file for comment displays

@import 'global/colors';
@import 'global/fonts';
@import 'global/icons';


.views-row-even .comment {
  background: lighten($ltgray, 7%);
  border-style: solid;
  border-width: 1px 1px 1px 15px;
  border-color: lighten($mdgray, 15%);
}
.comment {
  padding: 0 1em;
  border-style: solid;
  border-width: 1px 1px 1px 15px;
  border-color: $ltgray;

  .user-picture {
    float: left;
    margin: 5px 5px ($default_vert_unit / 2) -5px;
    img {
      display: block;
      border: 1px solid $ltgray;
    }
  }
  .au-sub {
    float: left;
  }
  .po-sub {
    float: right;
    font-size: 90%;
    color: lighten($mdgray, 10%)
  }
  .new {
    color: $mdorange;
    font-weight: bold;
    float: left;
    margin-top: 0;
    margin-right: .5em;
  }
  ul.links.inline {
    display: block;
    height: $default_vert_unit;
    border-top: 1px dotted $ltgray;
    margin-bottom: -1px;
    li {
      float: right;
      font-size: 80%;
      line-height: 1.5em;
      padding: 0 6px 0 3px;
      
      &.first {
        border-right: none;
      }
    }
  }
  h3.comment-title {
    a {
      color: $mdgray;
      &:hover {
        color: $dkgray;
      }
    }
  }
  .submitted {
    margin: ($default_vert_unit / 2) 0 $default_vert_unit;
  }
  .perma-link {
    float: right;
    font-size: 90%;
    margin: .75em 0 0 .5em;
    a {
      color: lighten($mdgray, 20%);
    }
  }
  .content {
    clear: left;
  }
  
  span.icon {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: -2px;
  }
   
  li.comment-delete span.icon {
    @include icons-sprite('delete-off');
  }
  li.comment-edit span.icon {
    @include icons-sprite('edit-off');
  }
  li.comment-reply span.icon {
    @include icons-sprite('coral-comment');
  }
  li.comment-delete a:hover span.icon {
    @include icons-sprite('delete');
  }
  li.comment-edit a:hover span.icon {
    @include icons-sprite('edit');
  }
  li.comment-reply a:hover span.icon {
    @include icons-sprite('coral-comment-on');
  }
}

$indents: 10;
@for $i from 1 through $indents {
  .comment-thread-#{$i} {
    margin-left: #{$i - 1}em;   
  }
}