
// Compiles Coral Nexus grid styles.
//  Only associated grid and layout styles
//  should be found here. Failure to 
//  abide by this policy could result in
//  doughnut priveleges being revoked!

$width: 100%; // total width (%) of page 
$columns: 16; // number of columns 
$col_margin: 1.65%; // margin (%) between columns 

// create row div
@mixin row() { 
  float: left; 
  clear: both; 
  width: $width; 
} 

// create a column div 
@mixin col($n: 1, $last:'false') { 
  float: left; 
  @include span($n, $last); 
} 

// make an element span n columns
@mixin span($n: 1, $last:'false') {
  @if $last == 'false' {
    width: percentage($n / $columns) - $col_margin;
  }
  @else {
    width: percentage($n / $columns);
  }
} 

// the last column in a row needs this 
@mixin last() { 
  margin-right: 0; 
} 

// prepend n blank columns 
@mixin prepend($n: 1) { 
  margin-left: $col_total_width * $n 
} 

// append n blank columns 
@mixin append($n: 1) { 
  margin-right: $col_total_width * $n + $col_margin
}

// Here is where the css is generated
@for $i from 1 through $columns {
  .grid-#{$i} { 
    @include col($i); 
    @if $i != $columns {
      margin-right: $col_margin; 
    }
  }
  .grid-#{$i}-last { 
    @include col($i, 'true'); 
  }  
}
.grid-last {
  @include last;
} 
.row {
  @include row;
}
