[submodule "sites/all/modules/contrib/admin_views"]
	path = sites/all/modules/contrib/admin_views
	url = http://git.drupal.org/project/admin_views
[submodule "sites/all/modules/contrib/navbar"]
	path = sites/all/modules/contrib/navbar
	url = http://git.drupal.org/project/navbar
[submodule "sites/all/modules/contrib/rules"]
	path = sites/all/modules/contrib/rules
	url = http://git.drupal.org/project/rules
[submodule "sites/all/modules/contrib/fape"]
	path = sites/all/modules/contrib/fape
	url = http://git.drupal.org/project/fape
[submodule "sites/all/modules/contrib/features"]
	path = sites/all/modules/contrib/features
	url = http://git.drupal.org/project/features
[submodule "sites/all/modules/contrib/strongarm"]
	path = sites/all/modules/contrib/strongarm
	url = http://git.drupal.org/project/strongarm
[submodule "sites/all/modules/contrib/devel"]
	path = sites/all/modules/contrib/devel
	url = http://git.drupal.org/project/devel
[submodule "sites/all/modules/contrib/views_bulk_operations"]
	path = sites/all/modules/contrib/views_bulk_operations
	url = http://git.drupal.org/project/views_bulk_operations
[submodule "sites/all/modules/contrib/module_filter"]
	path = sites/all/modules/contrib/module_filter
	url = http://git.drupal.org/project/module_filter
[submodule "sites/all/modules/contrib/better_formats"]
	path = sites/all/modules/contrib/better_formats
	url = http://git.drupal.org/project/better_formats
[submodule "sites/all/modules/contrib/node_clone"]
	path = sites/all/modules/contrib/node_clone
	url = http://git.drupal.org/project/node_clone
[submodule "sites/all/modules/contrib/diff"]
	path = sites/all/modules/contrib/diff
	url = http://git.drupal.org/project/diff
[submodule "sites/all/modules/contrib/menu_attributes"]
	path = sites/all/modules/contrib/menu_attributes
	url = http://git.drupal.org/project/menu_attributes
[submodule "sites/all/modules/contrib/taxonomy_manager"]
	path = sites/all/modules/contrib/taxonomy_manager
	url = http://git.drupal.org/project/taxonomy_manager
[submodule "sites/all/modules/contrib/date"]
	path = sites/all/modules/contrib/date
	url = http://git.drupal.org/project/date
[submodule "sites/all/modules/contrib/link"]
	path = sites/all/modules/contrib/link
	url = http://git.drupal.org/project/link
[submodule "sites/all/modules/contrib/entityreference"]
	path = sites/all/modules/contrib/entityreference
	url = http://git.drupal.org/project/entityreference
[submodule "sites/all/modules/contrib/entityreference_views_formatter"]
	path = sites/all/modules/contrib/entityreference_views_formatter
	url = http://git.drupal.org/project/entityreference_views_formatter
[submodule "sites/all/modules/contrib/entityreference_prepopulate"]
	path = sites/all/modules/contrib/entityreference_prepopulate
	url = http://git.drupal.org/project/entityreference_prepopulate
[submodule "sites/all/modules/contrib/field_group"]
	path = sites/all/modules/contrib/field_group
	url = http://git.drupal.org/project/field_group
[submodule "sites/all/modules/contrib/field_permissions"]
	path = sites/all/modules/contrib/field_permissions
	url = http://git.drupal.org/project/field_permissions
[submodule "sites/all/modules/contrib/interval"]
	path = sites/all/modules/contrib/interval
	url = http://git.drupal.org/project/interval
[submodule "sites/all/modules/contrib/gigya"]
	path = sites/all/modules/contrib/gigya
	url = http://git.drupal.org/project/gigya
[submodule "sites/all/modules/contrib/achievements"]
	path = sites/all/modules/contrib/achievements
	url = http://git.drupal.org/project/achievements
[submodule "sites/all/modules/contrib/book_explorer"]
	path = sites/all/modules/contrib/book_explorer
	url = http://git.drupal.org/project/book_explorer
[submodule "sites/all/modules/contrib/references_dialog"]
	path = sites/all/modules/contrib/references_dialog
	url = http://git.drupal.org/project/references_dialog
[submodule "sites/all/modules/contrib/views_autocomplete_filters"]
	path = sites/all/modules/contrib/views_autocomplete_filters
	url = http://git.drupal.org/project/views_autocomplete_filters
[submodule "sites/all/modules/contrib/wysiwyg"]
	path = sites/all/modules/contrib/wysiwyg
	url = http://git.drupal.org/project/wysiwyg
[submodule "sites/all/modules/contrib/views_slideshow"]
	path = sites/all/modules/contrib/views_slideshow
	url = http://git.drupal.org/project/views_slideshow
[submodule "sites/all/modules/contrib/media"]
	path = sites/all/modules/contrib/media
	url = http://git.drupal.org/project/media
[submodule "sites/all/modules/contrib/superfish"]
	path = sites/all/modules/contrib/superfish
	url = http://git.drupal.org/project/superfish
[submodule "sites/all/modules/contrib/insert"]
	path = sites/all/modules/contrib/insert
	url = http://git.drupal.org/project/insert
[submodule "sites/all/modules/contrib/tagclouds"]
	path = sites/all/modules/contrib/tagclouds
	url = http://git.drupal.org/project/tagclouds
[submodule "sites/all/modules/contrib/book_helper"]
	path = sites/all/modules/contrib/book_helper
	url = http://git.drupal.org/project/book_helper
[submodule "sites/all/modules/contrib/commerce"]
	path = sites/all/modules/contrib/commerce
	url = http://git.drupal.org/project/commerce
[submodule "sites/all/modules/contrib/commerce_sp"]
	path = sites/all/modules/contrib/commerce_sp
	url = http://git.drupal.org/project/commerce_sp
[submodule "sites/all/modules/contrib/commerce_authnet"]
	path = sites/all/modules/contrib/commerce_authnet
	url = http://git.drupal.org/project/commerce_authnet
[submodule "sites/all/modules/contrib/commerce_cardonfile"]
	path = sites/all/modules/contrib/commerce_cardonfile
	url = http://git.drupal.org/project/commerce_cardonfile
[submodule "sites/all/modules/contrib/commerce_recurring"]
	path = sites/all/modules/contrib/commerce_recurring
	url = http://git.drupal.org/project/commerce_recurring
[submodule "sites/all/modules/contrib/commerce_order_reference"]
	path = sites/all/modules/contrib/commerce_order_reference
	url = http://git.drupal.org/project/commerce_order_reference
[submodule "sites/all/modules/contrib/views"]
	path = sites/all/modules/contrib/views
	url = http://git.drupal.org/project/views
[submodule "sites/all/modules/contrib/token"]
	path = sites/all/modules/contrib/token
	url = http://git.drupal.org/project/token
[submodule "sites/all/modules/contrib/panels"]
	path = sites/all/modules/contrib/panels
	url = http://git.drupal.org/project/panels
[submodule "sites/all/modules/contrib/panels_everywhere"]
	path = sites/all/modules/contrib/panels_everywhere
	url = http://git.drupal.org/project/panels_everywhere
[submodule "sites/all/modules/contrib/panelizer"]
	path = sites/all/modules/contrib/panelizer
	url = http://git.drupal.org/project/panelizer
[submodule "sites/all/modules/contrib/fieldable_panels_panes"]
	path = sites/all/modules/contrib/fieldable_panels_panes
	url = http://git.drupal.org/project/fieldable_panels_panes
[submodule "sites/all/modules/contrib/entity_view_mode"]
	path = sites/all/modules/contrib/entity_view_mode
	url = http://git.drupal.org/project/entity_view_mode
[submodule "sites/all/modules/contrib/linkit"]
	path = sites/all/modules/contrib/linkit
	url = http://git.drupal.org/project/linkit
[submodule "sites/all/modules/contrib/timeago"]
	path = sites/all/modules/contrib/timeago
	url = http://git.drupal.org/project/timeago
[submodule "sites/all/modules/contrib/panels_breadcrumbs"]
	path = sites/all/modules/contrib/panels_breadcrumbs
	url = http://git.drupal.org/project/panels_breadcrumbs
[submodule "sites/all/modules/contrib/search_api"]
	path = sites/all/modules/contrib/search_api
	url = http://git.drupal.org/project/search_api
[submodule "sites/all/modules/contrib/search_api_autocomplete"]
	path = sites/all/modules/contrib/search_api_autocomplete
	url = http://git.drupal.org/project/search_api_autocomplete
[submodule "sites/all/modules/contrib/facetapi"]
	path = sites/all/modules/contrib/facetapi
	url = http://git.drupal.org/project/facetapi
[submodule "sites/all/modules/contrib/entity"]
	path = sites/all/modules/contrib/entity
	url = http://git.drupal.org/project/entity
[submodule "sites/all/modules/contrib/libraries"]
	path = sites/all/modules/contrib/libraries
	url = http://git.drupal.org/project/libraries
[submodule "sites/all/modules/contrib/ctools"]
	path = sites/all/modules/contrib/ctools
	url = http://git.drupal.org/project/ctools
[submodule "sites/all/modules/contrib/transliteration"]
	path = sites/all/modules/contrib/transliteration
	url = http://git.drupal.org/project/transliteration
[submodule "sites/all/modules/contrib/site_map"]
	path = sites/all/modules/contrib/site_map
	url = http://git.drupal.org/project/site_map
[submodule "sites/all/modules/contrib/auto_nodetitle"]
	path = sites/all/modules/contrib/auto_nodetitle
	url = http://git.drupal.org/project/auto_nodetitle
[submodule "sites/all/modules/contrib/jquery_update"]
	path = sites/all/modules/contrib/jquery_update
	url = http://git.drupal.org/project/jquery_update
