[submodule "sites/all/modules/contrib/admin_views"]
	path = sites/all/modules/contrib/admin_views
	url = http://git.drupal.org/project/admin_views
[submodule "sites/all/modules/contrib/navbar"]
	path = sites/all/modules/contrib/navbar
	url = http://git.drupal.org/project/navbar
[submodule "sites/all/modules/contrib/rules"]
	path = sites/all/modules/contrib/rules
	url = http://git.drupal.org/project/rules
[submodule "sites/all/modules/contrib/fape"]
	path = sites/all/modules/contrib/fape
	url = http://git.drupal.org/project/fape
[submodule "sites/all/modules/contrib/features"]
	path = sites/all/modules/contrib/features
	url = http://git.drupal.org/project/features
[submodule "sites/all/modules/contrib/strongarm"]
	path = sites/all/modules/contrib/strongarm
	url = http://git.drupal.org/project/strongarm
[submodule "sites/all/modules/contrib/devel"]
	path = sites/all/modules/contrib/devel
	url = http://git.drupal.org/project/devel
[submodule "sites/all/modules/contrib/views_bulk_operations"]
	path = sites/all/modules/contrib/views_bulk_operations
	url = http://git.drupal.org/project/views_bulk_operations
[submodule "sites/all/modules/contrib/module_filter"]
	path = sites/all/modules/contrib/module_filter
	url = http://git.drupal.org/project/module_filter
[submodule "sites/all/modules/contrib/better_formats"]
	path = sites/all/modules/contrib/better_formats
	url = http://git.drupal.org/project/better_formats
[submodule "sites/all/modules/contrib/node_clone"]
	path = sites/all/modules/contrib/node_clone
	url = http://git.drupal.org/project/node_clone
[submodule "sites/all/modules/contrib/diff"]
	path = sites/all/modules/contrib/diff
	url = http://git.drupal.org/project/diff
[submodule "sites/all/modules/contrib/menu_attributes"]
	path = sites/all/modules/contrib/menu_attributes
	url = http://git.drupal.org/project/menu_attributes
[submodule "sites/all/modules/contrib/taxonomy_manager"]
	path = sites/all/modules/contrib/taxonomy_manager
	url = http://git.drupal.org/project/taxonomy_manager
