/* line 442, icons/*.png */
.icons-sprite, .page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title .icon {
  background: url('/images/icons-s90292af557.png') no-repeat;
}

/* line 19, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .grid-11 {
  float: left;
  width: 31.33333%;
}
/* line 22, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .grid-13-last {
  float: left;
  width: 66.66667%;
}
/* line 27, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .node-teaser.node-comment {
  padding-top: 0.71429em;
}
/* line 31, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-comments-target.loose {
  margin-top: 0;
}
/* line 34, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-comments-target.loose .node-comment.node-teaser {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-node.node-type-comment .main-global .pane-coral-comments-target.loose .node-comment.node-teaser:after {
  content: "";
  display: table;
  clear: both;
}
/* line 39, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser {
  *zoom: 1;
  border-top: 1px solid #dddddd;
  border-left: 8px solid #c4c4c4;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
  margin-top: 1.125em;
  margin-bottom: 1.25em;
  padding-left: 1em;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser:after {
  content: "";
  display: table;
  clear: both;
}
/* line 62, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser > h2.comment-node-pane-title {
  height: 1px;
  line-height: 1px;
}
/* line 67, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser.odd {
  background-color: #efefef;
}
/* line 70, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser.even {
  background-color: white;
}
/* line 74, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .views-row > .node-teaser.node-comment {
  padding-top: 0.71429em;
}
/* line 78, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .load-more {
  position: absolute;
  bottom: -2.5em;
}
/* line 81, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .load-more .ajax-progress {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -25px;
  top: 8%;
}
/* line 90, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .load-more.hide {
  display: none;
}
/* line 94, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title {
  clear: none;
  float: left;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title:after {
  content: "";
  display: table;
  clear: both;
}
/* line 100, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title .icon {
  display: block;
  float: left;
  margin-right: 5px;
  margin-left: -5px;
  margin-top: 3px;
  background-position: 0 -2771px;
  height: 12px;
  width: 19px;
}
/* line 110, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title > a {
  color: #919191;
  float: left;
  max-width: 94.85%;
}
/* line 114, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title > a:hover {
  color: #446eac;
}
/* line 117, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comment-node-pane-title > .top {
  display: none;
}
/* line 121, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .node-teaser {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .node-teaser:after {
  content: "";
  display: table;
  clear: both;
}
/* line 125, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser.odd .comment-node-pane-title > .top {
  border: 1px solid #efefef;
  background: #c4c4c4;
  /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#c4c4c4), to(#efefef));
  /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  background-image: -ms-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #c4c4c4 0%, #efefef 100%);
  /* Opera (13?) */
}
/* line 129, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser.odd .comment-node-pane-title > .top:hover {
  border: 1px solid #969696;
  background: #9d9d9d;
  /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#9d9d9d), to(#dddddd));
  /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  background-image: -ms-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #9d9d9d 0%, #dddddd 100%);
  /* Opera (13?) */
}
/* line 136, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .pane-coral-comments-target {
  margin-bottom: -1px;
  margin-right: -1px;
  padding-left: 1em;
}
/* line 141, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .comments-tgt.empty {
  padding-top: 1.25em;
}
/* line 145, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .pane-coral-node-stats {
  margin-top: -.2em;
}
/* line 148, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .pane-coral-node-stats .stat-comments {
  line-height: 2.05em;
}
/* line 152, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .pane-coral-node-stats .stat-editor .user-picture {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 156, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .pane-coral-parent-content > .pane-content > .node-comment.node-teaser .pane-coral-node-stats .stat-editor .username {
  margin-top: .2em;
}
/* line 163, ../../../sass/nodes/view_modes/node_comment__page_manager.scss */
.page-node.node-type-comment .main-global .html .pane-coral-comments-target.comments-more {
  margin-bottom: 3.75em;
}
