/* line 8, ../../../sass/nodes/view_modes/node_question__page_manager.scss */
.page-node.node-type-question .main-global .grid-11 {
  float: left;
  width: 31.33333%;
}
/* line 11, ../../../sass/nodes/view_modes/node_question__page_manager.scss */
.page-node.node-type-question .main-global .grid-13-last {
  float: left;
  width: 66.66667%;
}
