
// Controls styles that are central to the mosaic landing 1 layout

@import "global/colors";
@import "global/fonts";

.layout-landing-1 {
 
  // Full width separator
  .follower {
    background: url('../../assets/images/coral-sep-long.png') top center no-repeat;  
    min-height: 1px;
  
    .pane-title {
      color: $mdred;
    }
  }
  
  // Use the med width separator on inner landing layouts
  //  unless overridden elsewhere.
  .layout-landing-1 .follower {
    background: url('../../assets/images/coral-sep-med.png') top center no-repeat;
  }

}

