/* line 6, ../../../sass/nodes/nids/node_921.scss */
.main-content.grid-13-last {
  float: left;
  width: 72.91667%;
  float: right;
}

/* line 10, ../../../sass/nodes/nids/node_921.scss */
.secondary-content.grid-11 {
  float: left;
  width: 25.08333%;
}

@media screen and (max-width: 1024px) {
  /* line 16, ../../../sass/nodes/nids/node_921.scss */
  .main-content.grid-13-last {
    width: 100%;
    float: none;
  }
  /* line 19, ../../../sass/nodes/nids/node_921.scss */
  .main-content.grid-13-last .prepend-1 {
    margin-left: 0;
  }

  /* line 23, ../../../sass/nodes/nids/node_921.scss */
  .secondary-content.grid-11 {
    float: left;
    width: 100%;
  }
}
