/* line 5, ../../../sass/nodes/nids/node_922.scss */
.main-content.grid-11 {
  float: left;
  width: 25.08333%;
}

/* line 8, ../../../sass/nodes/nids/node_922.scss */
.secondary-content.grid-13-last {
  float: left;
  width: 72.91667%;
}
