/* line 7, ../../../sass/nodes/nids/node_917.scss */
.coral-slide.cloud-handle {
  background: white;
}
/* line 9, ../../../sass/nodes/nids/node_917.scss */
.coral-slide.cloud-handle h2 {
  font-size: 3.25em;
  font-weight: bold;
  line-height: 1.35em;
  margin-top: -22%;
  margin-left: 38%;
  text-align: center;
  float: left;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  /* line 23, ../../../sass/nodes/nids/node_917.scss */
  .coral-slide.cloud-handle h2 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 767px) {
  /* line 28, ../../../sass/nodes/nids/node_917.scss */
  .coral-slide.cloud-handle h2 {
    font-size: 1.75em;
    margin-top: -23%;
  }
}
@media screen and (max-width: 320px) {
  /* line 34, ../../../sass/nodes/nids/node_917.scss */
  .coral-slide.cloud-handle h2 {
    font-size: 1.5em;
  }
}
/* line 39, ../../../sass/nodes/nids/node_917.scss */
.html .view-slideshow .view-content {
  background: url("../../../assets/images/coral-sep-long.png") top center no-repeat;
  padding-top: 1px;
}

/* line 43, ../../../sass/nodes/nids/node_917.scss */
.html .view-slideshow .view-content .bx-viewport {
  background: url("../../../assets/images/coral-sep-long.png") bottom center no-repeat;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  /* line 48, ../../../sass/nodes/nids/node_917.scss */
  .html .view-slideshow .view-content {
    background: url("../../../assets/images/coral-sep-med.png") top center no-repeat;
    padding-top: 1px;
  }

  /* line 52, ../../../sass/nodes/nids/node_917.scss */
  .html .view-slideshow .view-content .bx-viewport {
    background: url("../../../assets/images/coral-sep-med.png") bottom center no-repeat;
    padding-bottom: 20px;
  }
}
