
// Adds customization for slide 1 of the intro slides
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import "global/gradients";
@import "global/icons";

@import 'compass/css3/opacity';
@import 'compass/css3/box-shadow';

.intro-slide-4 {
  position: relative;
  height: 315px;
  width:410px;
  background: $ltyellow;
  
  @include linear-h-gradient(lighten($ltblue, 7%), #C9D5E1);
  
  img { display: none; }
  
  .header {
    background: $white;
    height: 315px;
    
    .title {
      background: $mdblue;
      margin: 0;
      padding: 1em;
    }
    .sep {
      border-bottom: 3px double $mdgray;
    }

    @include box-shadow(rgba(0,0,0,.3) 2px 0px 3px);
    @include linear-v-gradient(lighten($ltgray, 10%), darken($ltgray, 5%));
  }
  
  .inner {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .getting-started-icon {
    display: block;
    float: left;
    margin: ($default_vert_unit / 2);
    
    @include icons-sprite('getting-started');
  }
  
  h2 { 
    margin: 0; 
    color: $white; 
    line-height: $default_vert_unit;  
  }
  
  ul {
    margin: 1em;
  }
  li { margin: 0 0 ($default_vert_unit / 4) 1em; }
  
  p {
    margin: .625em 1em;
    font-size: 90%;
  }
  
  .more {
    margin: 0 1em;
    display: block;
    
    @include btn-glass;
  } 
}
