
// Adds customization for slide 1 of the intro slides
@import 'global/colors';
@import 'global/fonts';
@import "global/gradients";
@import "global/icons";

@import 'compass/css3/opacity';
@import 'compass/css3/box-shadow';

.intro-slide-3 {
  position: relative;
  height: 315px;
  width:410px;
  background: $ltgray;
  
  img { display: none; }
  
  .header {
    background: $ltgreen;

    @include box-shadow(rgba(0,0,0,.3) 0px 2px 4px);
    @include linear-v-gradient($ltgreen, darken($ltgreen, 5%));
  }
  
  .inner {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .portable-icon {
    display: block;
    position: absolute;
    top: (2.5 * $default_vert_unit);
    left: 10px;
    
    @include icons-sprite('cloud-case');
  }
  
  .title {
    padding: .35em 0;
    background: $mdgreen;
    margin: 0;
    
    h2 {
      color: $white; 
      margin: 0;
      line-height: $default_vert_unit;
    }
  }
  
  ul { margin-top: 1em; }
  li { margin: 0 0 ($default_vert_unit / 4) 1em; }
  p { margin-left: 105px; margin-right: 1em; }
}
