/* line 10, ../../sass/layouts/mosaic_landing_1.scss */
.layout-landing-1 .follower {
  background: url("../../assets/images/coral-sep-long.png") top center no-repeat;
  min-height: 1px;
}
/* line 14, ../../sass/layouts/mosaic_landing_1.scss */
.layout-landing-1 .follower .pane-title {
  color: #b02e1c;
}
/* line 22, ../../sass/layouts/mosaic_landing_1.scss */
.layout-landing-1 .layout-node-1 .follower,
.layout-landing-1 .layout-landing-1 .follower {
  background: url("../../assets/images/coral-sep-med.png") top center no-repeat;
}
