/* line 11, ../../sass/layouts/mosaic_landing_responsive.scss */
.layout-landing-responsive .follower {
  background: url("../../assets/images/coral-sep-long.png") top center no-repeat;
  min-height: 1px;
}
/* line 15, ../../sass/layouts/mosaic_landing_responsive.scss */
.layout-landing-responsive .follower .pane-title {
  color: #b02e1c;
}
/* line 22, ../../sass/layouts/mosaic_landing_responsive.scss */
.layout-landing-responsive .layout-node-1 .follower,
.layout-landing-responsive .layout-landing-responsive .follower {
  background: url("../../assets/images/coral-sep-med.png") top center no-repeat;
  padding-top: 0.15px;
}

/* line 29, ../../sass/layouts/mosaic_landing_responsive.scss */
.layout-landing-responsive .secondary-content {
  float: left;
  width: 31.33333%;
}

/* line 32, ../../sass/layouts/mosaic_landing_responsive.scss */
.layout-landing-responsive .main-content {
  float: left;
  width: 66.66667%;
  float: right;
}

@media screen and (max-width: 767px) {
  /* line 37, ../../sass/layouts/mosaic_landing_responsive.scss */
  .layout-landing-responsive .secondary-content {
    width: 100%;
  }
  /* line 40, ../../sass/layouts/mosaic_landing_responsive.scss */
  .layout-landing-responsive .secondary-content .panel-pane {
    width: 100%;
  }
  /* line 44, ../../sass/layouts/mosaic_landing_responsive.scss */
  .layout-landing-responsive .secondary-content .pane-documentation-related-view {
    margin-top: 0;
  }
  /* line 48, ../../sass/layouts/mosaic_landing_responsive.scss */
  .layout-landing-responsive .secondary-content .pane-related-qa-related-view {
    width: 100%;
    margin-right: 0;
  }

  /* line 53, ../../sass/layouts/mosaic_landing_responsive.scss */
  .layout-landing-responsive .main-content {
    width: 100%;
  }
  /* line 56, ../../sass/layouts/mosaic_landing_responsive.scss */
  .layout-landing-responsive .main-content > .prepend-1 {
    margin: 0;
  }
}
/* line 66, ../../sass/layouts/mosaic_landing_responsive.scss */
.layout-node-1 .main-content {
  width: 99.9%;
  float: none;
}
