
// Scss file for the popular tags view
@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';


// Normally this would be constrained to the view level but I need
//  access to the pane header.
.pane-tags-popular-popular-project-tags,
.pane-tags-popular-popular-snippet-tags,
.pane-tags-popular-popular-question-tags {
  margin-bottom: 2 * $default_vert_unit;
  
  .pane-title {
    color: $mdgray;
    padding-left: .75em;
    padding-right: .5em;
    margin-bottom: .1545em;
    position: relative;
    
    background: desaturate(lighten($ltgreen, 15%), 20%);
    @include col-gradient(desaturate(darken($mdgreen, 5%), 30%), lighten($ltgray, 7%), lighten($ltgray, 7%), 8px);//lighten($ltgray, 7%), lighten($ltgray, 7%), 8px);// desaturate(lighten($ltgreen, 20%), 20%), desaturate(lighten($ltgreen, 20%), 20%), 8px);
    border-bottom: 1px dotted desaturate(darken($mdgreen, 5%), 30%);
    
    &:after {
      display: block;
      position: absolute;
      top: .6em;
      left: 4px;
      content: ' ';
      
      @include arrow-right(8px, desaturate(darken($mdgreen, 5%), 30%));
    }
  }
  .pane-content {
    padding-top: .3em;
    
    .view-content {
      color: lighten($mdgray, 10%);
      font-weight: bold;
      margin-top: -.3em;
      background: $white;

      .views-row { padding-left: 1em; padding-right: 1em; }
      .views-row-even { background: lighten($ltgray, 7%); }
      
      .tag-active {
        &:after {
          content: "(x)";
          color: lighten(desaturate($mdred, 50%), 5%);
          margin-left: 5px;
        }
      }
      .tag-active:hover {
        &:after {
          color: $mdred;
        }
      }
    }
    
    .pager-load-more {
      margin: 0;
      padding: 3px;
      text-align: left;
      
      li {
        margin: 0;
        padding: 0;
      
        a { 
          color: $white; 
          
          @include btn-matte-inset(0px, 12px, $mdblue, darken($mdblue, 3%), $white);
          @include btn-structure(2px 5px, 12px, $radius: 0px);
          
          &:hover { 
            color: $white; 
          }
        }
      }
    }
  }
}
