
// Scss file for the view:answers > display:new_answers

@import 'global/colors';

.view-answers.view-display-id-new_answers,
.view-answers.view-display-id-this_answer  {
  .pager { display: none; }
  
  .views-row {
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: 0;
  }
}

// This kind of stinks, but we have to do it because we cannot 
//  guarantee that there is even a comment embedded anywhere in
//  the list on the page (if there are no comments on any answers) 
.view-comments.view-display-id-new_comments,
.view-comments.view-display-id-this_comment  {
  .pager { display: none; }
  
  .views-row {
    padding-left: 1em;
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: 0;
  }
}