
// Scss file for the view:answers > display:new_answers

@import 'global/colors';

.view-comments.view-display-id-new_comments,
.view-comments.view-display-id-this_comment  {
  //.pager { display: none; }
  
  .views-row {
    padding-left: 1em;
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: 0;
  }
}
