
// Node search styles
@import 'global/buttons';
@import 'global/colors';
@import 'global/headers';
@import 'global/fonts';
@import 'global/grid_mix';

@import "compass/utilities/general/clearfix";

// Ok so this may look like cheating but I need to style the 
//  pane title (outside the view object) so this is ok by me.

// Also the styles for the search page facets will live in here
//  They have giberish pane names so it seems logical.
.pane-node-search-node-search-results {
  .pane-title {
    @include h3;
    
    color: $mdred;
  }
  
  .views-row {
    margin: (1.2 * $default_vert_unit) 0 (2 * $default_vert_unit) 0;
  }
  
  // url and changed field should have line height rectified!
  .views-field-url {
    font-size: .85em;
    line-height: 1.17em;
    vertical-align: middle;
    a {
      color: $mdgreen;
      
      &:hover {
        color: $dkgreen;
      }
    }
  }
  .views-field-changed {
    color: $mdgray;
    line-height: 1.17em;
    vertical-align: middle;
    font-size: .85em;
  }
  .views-field-user-image {
    float: left;
    img {
      margin-right: .5em;
      margin-top: .3em;
    }
  }
}


// Facet block styles
.facet-pane {
  margin-bottom: $default_vert_unit;
  border: 1px solid $mdgray;
  
  .pane-title {
    @include h3;
    margin: 0;
    padding: .5em;
  }
  
  .item-list ul {
    padding: $default_vert_unit .5em;
    margin: 0;
    
    li.leaf {
      margin: 0;
      list-style-image: none;
      list-style: none;
    }
  }
  
  // The more link
  .facetapi-limit-link {
    @include btn-matte-inset;
    @include btn-structure(2px 5px, 14px, 0px);
    
    position: relative;
    top: (-1 * ($default_vert_unit / 2));
    left: .5em;
  }
  
  &.facet-types {
    background: lighten(desaturate($ltgreen, 15%), 20%);
    border-bottom: none;
    margin-bottom: 0;
    .pane-title {
      background: $mdblue;
      color: $white;
    }
  }
  &.facet-tags {
    border-top: none;
    .pane-title {
      border-top: 1px solid $ltorange;
      background: $mdorange;
      color: $white;
    }
  }
}


// Page layout modifications
.page-search-node {
  .main-content {
    @include col(6);
  }
  .secondary-content {
    @include col(18, 'TRUE');
  }
}


// Search form in the content area (not the header)
.secondary-content .pane-search-form {
  @include clearfix;
  
  .pane-content {
    background: url('../../assets/images/diag-tile.png');
    margin-bottom:  .8 * $default_vert_unit;
    padding: .35em 0 .3em .5em;
    min-height: 2em;
    
    @include col(16);
    
    input.form-text {
      font-size: 1em;
      border: 1px solid $ltgray;
      
      @include col(18);
    }
    
    input.form-submit {
      font-size: 115%;
      margin-top: 1px;
      @include col(5.5);
      @include prepend(.5);
    }
  }
}


