
// Scss file for the view:answers > display:new_answers

@import 'global/colors';

.view-answers.view-display-id-new_answers,
.view-answers.view-display-id-this_answer  {
  //.pager { display: none; }
  
  .views-row {
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: 0;
  }
}
