
// Scss file for the view:questions > display:new_questions

@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';

// This is kind of cheating.  Im adding this here 
//  instead of the pane bc I dont need two files here...
.pane-questions-new-questions > h2 {
  margin-bottom: 1em;
}

// end cheating

// Note the proper scope of these styles
.view-questions.view-display-id-new_questions {
  position: relative;
  .q-filtered-tag {
    position: absolute;
    top: -3.35em;
    left: 7.5em;
    color: $mdgray;
    background: $ltyellow;
    padding: 3px 5px;
    
    .filtered-by {
      margin-right: .75em;
      line-height: 1em;
    }
    .reset-filter a {
      @include btn-matte-inset(0px, 12px, $mdblue, darken($mdblue, 3%), $white);
      @include btn-structure(2px 5px, 12px, $radius: 0px);
    }
    .ftag {
      color: darken($mdgray, 5%);
      font-weight: bold;
      
      small {
        color: $mdgray;
        margin-left: 3px;
        position: relative;
        top: -1px;
      }
      
      a:hover small {
        color: $mdred;
      }
    }
  }
  .views-row {
    //background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {}

  .questions-more .btn {
    margin: ($default_vert_unit / 2) .5em ($default_vert_unit / 2) 0;
    position: relative;
    .ajax-progress {
      position: absolute;
      top: 20%;
      right: -20%;
    }
    
    @include btn-matte-inset;
    @include btn-structure;
  }
}
