
// Scss file for the view:questions > display:new_questions

@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';

// This is kind of cheating.  Im adding this here 
//  instead of the pane bc I dont need two files here...
.pane-questions-new-questions > h2 {
  margin-top: .2em;
  margin-bottom: .75em;
}

// end cheating

// Note the proper scope of these styles
.view-questions.view-display-id-new_questions {
  position: relative;
  .q-filtered-tag {
    position: absolute;
    top: -3.35em;
    left: 7.5em;
    color: $mdgray;
    background: $ltyellow;
    padding: 3px 5px;
    
    .filtered-by {
      margin-right: .75em;
      line-height: 1em;
    }
    .reset-filter a {
      @include btn-matte-inset(0px, 12px, $mdblue, darken($mdblue, 3%), $white);
      @include btn-structure(2px 5px, 12px, $radius: 0px);
    }
    .ftag {
      color: darken($mdgray, 5%);
      font-weight: bold;
    }
  }
  .views-row {
    //background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: $default_vert_unit;
  }
  h2.question-node-teaser-pane-title {
    margin-bottom: .05em;
  }
}
