
// Scss file for the user questions view.

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/icons';

@import "compass/utilities/general/clearfix";

.view-user-content {
  clear: both; // clear pane title icon
  
  .views-row {
    margin: 0 1em;
    border-bottom: 1px solid #dddddd;
    padding: $default_vert_unit 0;

    @include pie-clearfix;
  }
  .views-row-odd {

  }
  .views-field-title {
    //margin-right: .5em;
    
    a {
      color: $mdblue;
      &:active, &.active { color: lighten($dkblue, 5%); }
      &:hover { color: $dkblue; }
    }
  }
  .views-field-body {
    color: darken($mdgray, 7%);
    margin: ($default_vert_unit / 2) 0;
  }
  .views-field-field-answer-count,
  .views-field-field-component-count {
    color: $mdgray;
    float: right;
    .cnt {
      color: $mdgreen;
      font-weight: bold;
    }
  }
  .views-field-field-tags {
    //float: right;
    margin: ($default_vert_unit / 2) 0 0;
    //white-space: nowrap;

    .views-label {
      float: left;
      display: block;
      text-indent: -9999em;
      color: transparent;
      margin-top: 3px;
      margin-right: 5px;
      @include icons-sprite('coral-tag');
    }
    a {
      background: $ltgray;
      color: $mdgray;
      font-size: 85%;
      margin: 0 0 5px;
      padding: 0 3px;
       
      &:hover {
        color: $dkgray;
      }
    }
  }
  .views-field-timestamp {
    color: $dkorange;
    font-size: .9em;
  }
  .precrp {
    margin-bottom: 0;
    margin-top: $default_vert_unit;
  }
  
  .pager {
    margin: 0;
    color: $mdgray;
    li {
      padding: 0;
    }
  }
}

.pane-user-content-user-questions-fields {
  .pane-title {
    margin-top: 0;
    padding-top: 1em;
    
    .icon {
      margin: -8px .5em 0;
      display: block;
      float: left;
      @include icons-sprite('coral-qa');
    }
  }
}

.pane-user-content-user-snippets-fields {
  
  .pane-title {
    margin-top: 0;
    padding-top: 1em;
    
    .icon {
      margin: -3px .5em 0;
      display: block;
      float: left;
      @include icons-sprite('coral-snippet');
    }
  }
}
/**
// Sub teaser snippet display styles
.pane-user-content-user-snippet-sub-teasers {
  h2.snippet-node-pane-title {
    @include h0;
    .icon {
      display: none;
    }

    a {
      color: $mdblue;
      &:active, &.active { color: lighten($dkblue, 5%); }
      &:hover { color: $dkblue; }
    }
  }
  
  .field-type-text-with-summary {
    color: darken($mdgray, 7%);
    margin: ($default_vert_unit / 2) 0;
    
    * {
      margin: 0;
    }
  }
  
  .pane-node-field-tags {
    margin: ($default_vert_unit / 2) 0 0;
  }
}
*/