
// Overrides for the talk page 

@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';


.page-node-talk .view-discussion-comments .views-exposed-form {

  height: 3.45em; // container height to keep first comment from riding up

  .views-exposed-widgets.clearfix {
    display: block;
    height: 2.2em;
    background: lighten($ltyellow, 5%);
    margin-right: -2%;
    margin-bottom: 0;
    padding: ($default_vert_unit / 2) 0;
     
    @include col(13.98, true);
    &:after { display: inline; }
    
    select {
      position: relative;
      top: -1px;
      margin-left: 5px;  
    } 
    label { 
      float: left; 
      font-weight: normal;
    }
    .views-exposed-widget {
      margin: .45em 1em 0 0;
      padding: 0;
    }
    .views-widget-sort-by {
      margin-left: 1em;
    }
    .form-submit {
      margin-top: 0;
    }
  }
}

// Override margin-left on comments when sort by created
.view-discussion-comments.view-sortby-created .comment {
  margin-left: 0;
}
