
// Scss file for the related snippets view panes
@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';


// Normally this would be constrained to the view level but I need
//  access to the pane header.
.pane-related-snippets-related-node,
.pane-related-snippets-related-view {
  margin-top: $default_vert_unit;
  margin-bottom: 2 * $default_vert_unit;

  .pane-title {
    color: $mdgray;
    padding-left: .75em;
    padding-right: .5em;
    margin-bottom: .1545em;
    position: relative;
    
    background: desaturate(lighten($ltred, 30%), 30%);
    @include col-gradient(desaturate(lighten($dkred, 7%), 30%), lighten($ltgray, 7%), lighten($ltgray, 7%), 8px); //desaturate(lighten($ltred, 30%), 30%), desaturate(lighten($ltred, 30%), 30%), 8px);
    border-bottom: 1px dotted desaturate(lighten($dkred, 7%), 30%);
    
    &:after {
      display: block;
      position: absolute;
      top: .75em;
      left: 8px;
      content: ' ';

      @include arrow-right(4px, desaturate(lighten($dkred, 7%), 30%));
    }
  }
  .pane-content {
    padding-top: .3em;
    
    .view-content {
      color: lighten($mdgray, 10%);
      font-weight: bold;
      margin-top: -.3em;
      background: $white;

      .views-row { padding-left: 1em; padding-right: 1em; }
      .views-row-even { background: lighten($ltgray, 7%); }
    }
    
    .pager-load-more {
      margin: 0;
      padding: 3px;
      text-align: left;
      
      li {
        margin: 0;
        padding: 0;
      
        a { 
          color: $white; 
          
          @include btn-matte-inset(0px, 12px, $mdblue, darken($mdblue, 3%), $white);
          @include btn-structure(2px 5px, 12px, $radius: 0px);
          
          &:hover { 
            color: $white; 
          }
        }
      }
    }
  }
}
