
// Overrides for the talk page 

@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/site_vars';


.page-node-talk .view-discussion-comments .views-exposed-form {

  //height: 3.45em; // container height to keep first comment from riding up

  .views-exposed-widgets.clearfix {
    min-height: 2.25em;
    background: lighten($ltyellow, 5%);
    padding: ($default_vert_unit / 2);
    &:after { display: inline; }
    margin-bottom: 0;
    select {
      position: relative;
      top: -1px;
      margin-left: 5px;  
    } 
    label { 
      float: left; 
      font-weight: normal;
    }
    .views-exposed-widget {
      margin: .45em 1em 0 0;
      padding: 0;
      
      .form-item {
        margin: 0;
      }
    }
    .views-widget-sort-by {
      //margin-left: 1em;
    }
    .form-submit {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $desktopw + 150px) {
  .page-node-talk .view-discussion-comments .views-exposed-form {
    .views-exposed-widgets.clearfix {
      min-height: 4em; 
      
      .views-widget-per-page {
        clear: left;
      }   
    }
  }
}

// Override margin-left on comments when sort by created
.view-discussion-comments.view-sortby-created .comment {
  margin-left: 0;
}
