
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import 'compass/css3/opacity';

@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/site_vars';

// Basic styles
form.user-pass {
  .login-logo {
    display:none;
  }
  .form-item-name {
    label {
      display: none;
    }
  }
  p.right {
    margin-top: -1.625em;
    color: lighten($mdgray, 10%);
  }
}

body.page-user-password .mosaic-cont > .main-global {
  background: url('../../assets/images/yellowrays-3.jpg') top center no-repeat;
  background-size: cover;
}

// Advanced display
body.page-user-password .pane-page-content form.user-pass {
  padding: 5em 0;
      
  & > div {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    border: 2px solid $mdblue;
    padding: 4em 1em .5em;
    @include border-radius(15px);
    @include pie-clearfix;
    @include box-shadow(rgba(0,0,0,.25) 3px 3px 5px);
    @include reflected-v-gradient($white, $white, lighten($ltgray, 7%));
    
    input.form-text {
      width: 100%;
    }
    
    .login-logo {
      display: block;
      position: absolute;
      top: -24px;
      left: -15px;
    }
    p.right {
      margin-top: -2.25em;
    }
    .hybridauth-widget-wrapper .hybridauth-widget {
      margin-top: 6px;
      float: none;
      
      .hybridauth-icon-hybridauth-24 {
        @include opacity(.85);
        
        &:hover {
          @include opacity(1);
        }
      } 
    }
    .hybridauth-widget-wrapper {
      float: right;
      min-width: 80%;
    }
    .form-actions {
      float: left;
    }
  }
}

@media screen and (max-width: $tabletw) {
  body.page-user-password .mosaic-cont > .main-pass {
    background: none;
  }
  body.page-user-password .mosaic-cont {
    background: url('../../assets/images/yellowrays-3.jpg') top center no-repeat;
    background-size: cover;
  }
  
  body.page-user-password .pane-page-content form.user-pass {
    & > div {
      .login-logo {
        display: none;  
      }
      .login-logo-comp {
        display: block;
        position: absolute;
        top: -24px;
        left: -2px;
      }
      
      p.right {
        margin-top: -3.25em;
        font-size: 1em;
        text-align: right;

        span {
          display: block;
        }
        strong {
          display: none;
        }
      }
      
      .hybridauth-widget-wrapper {
        float: none;
        min-width: 100%;
        
        h3 {
          float: none;
        }
      }
      .form-actions {
        float: none;
      }
    }
  }
}
