
// Scss file for the add answer button

@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/icons';

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.pane-coral-add-answer {
  float: left;
  margin: 0 5px 0 0;
    
  .btn.answer {
    padding-left: 0;
    padding-right: 18px;
    position: relative;
    @include btn-reset;
    
    border-right: 1px solid $ltgray;
    color: $mdgray;
    font-size: .9em;
    
    .circle {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 14%;
      right: -4px;
      height: 16px;
      width: 16px;
      
      .arrow {
        display: block;
        margin: 3px 0 0 2px;
        @include arrow-right(5px, $dkgray);  
      }
      .arrow-down {
        margin: 6px 0 0 -1px;
        @include arrow-down(5px, $dkgray);  
      }
    }

    .icon {
      display: block;
      float: left;
      margin-top: 1px;
      margin-right: 2px;

      @include icons-sprite('coral-light-on');
    }
    
    &:hover {
      color: lighten($mdgray, 10%);
    }

    // Set up the throbber position in the button
    .ajax-progress .throbber {
      margin: 1px -2px -1px 6px;
    }
  }
  .btn.answers-hidden {
    .icon {
      @include icons-sprite('coral-light-off');
    }
    &:hover {
      .icon {
        @include icons-sprite('coral-light-on');
      }
    }
  }
}


// We cannot rely on the view being there.
//  We can rely on this pane being there.
.view-answers.view-display-id-this_answer,
.view-answers.view-display-id-new_answers  {
  .pager { display: none; }
  
  .views-row {
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: 0;
  }
}

