
// Provides styles for the support menu and associated popups
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/headers';
@import 'global/site_vars';

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

// Hide a few things when mce is in fullscreen mode
.mce-fullscreen {
  .sf-menu, //  superfish menus
  .navbar .bar { 
    position: fixed;
    z-index: 1;
  }
}

// Getting help pane
.html .pane-getting-help {
  margin: 30px 20%;
  width: 60%;
  @include col-gradient;
  @include box-shadow(rgba(0, 0, 0, 0.5) 10px 10px 20px);
  
  .panel-col-top {
    background: lighten($ltgray, 8%);
    
    display: table;
      
    h2.grid-6 {
      display: table-cell;
      float: none;
      width: 10em;
      
      @include h4;
    }
    .title-msg {
      float: none;
      display: table-cell;
      width: auto;
    }
    
    .inside {
      margin-bottom: 0;
    }
    
    .title-msg {
      font-size: 90%;
    }
  }
  .center-wrapper {
    display: table;
  }
  .panel-col-first {
    display: table-cell;
    float: none;
    width: 12em;
    vertical-align: top;

    .inside {
      margin: 0;
    }
    
    li {
      a {
        color: $dkblue;
        
        &:hover,
        &:active,
        &.active {
          color: $black;
        }
      }
      
      @include linear-h-gradient($ltgray, darken($ltgray, 7%));      
    }
    
    select {
      margin: 5px 1em 0;
    }
  }
  .panel-col-last {
    display: table-cell;
    vertical-align: top;
    float: none;
    width: 100%;

    .pane-content {
      border-top: 1px solid $mdgray;
      overflow-y: scroll;
      height: 366px;
      padding: 0 15px 15px;
    }
    
    & > .inside {
      margin: 0;
      
      h2 {
        margin: 0;
        padding: 16px;
        line-height: 16px;
        background: lighten($ltblue, 10%);
      }
    }
    
    .vertical-tabs,
    .filter-wrapper {
      display: none;
    }

    .form-actions {
      bottom: 6px;
      position: absolute;
      right: 5px;
      z-index: 5;
      margin: 0;
      padding: 0;
      
      input {
        font-weight: bold;
      }
    }
  }
  .panel-col-bottom {
    position: absolute;
    bottom: 0px;
    height: 2 * $default_vert_unit;
    background: lighten($ltgray, 8%);
    border-top: 1px solid darken($ltgray, 5%);
  }  
  .help-header {
    padding: 15px 20px; //(.5 * $default_vert_unit) $default_vert_unit;
    border-bottom: 1px solid darken($ltgray, 5%);
        
    h2 {
      margin: 0;
    }
  }
  .cls-help {
    margin-left: 5px;
    @include btn-matte-inset(0px, 16px, $mdred, darken($mdred, 3%), $white);
    @include btn-structure;
  }
}


@media screen and (max-width: $desktopw) {
  .html .pane-getting-help {
    margin: 30px 12.5%;
    width: 75%;
  } 
}
@media screen and (max-width: $tabletw) {
  .html .pane-getting-help {
    margin: 10px 5%;
    width: 90%;
    background: lighten($ltblue, 10%);

    .center-wrapper {
      display: block;
    }
    .panel-col-top {
      .title-msg {
        display: none;
      }
    }
    .panel-col-first {
      display: block;
      width: 100%;
      
      ul.sf-vertical {
        width: 100%;
        
        li {
          width: auto;
          background: $mdgray;
          margin: 5px 0 0 5px;
          
          @include border-radius(5px);
          
          a {
            color: $white;
            padding: ($default_vert_unit / 4);
            
            &:hover {
              color: $ltgray;
            }
          }
        }
      }
    }
    .panel-col-last {
      display: block;
      width: 100%;

      .pane-content {
        background: $white;
      }
      & > .inside {
        h2 {
          font-size: 1em;
        }
      }
    }
  }
}
@media screen and (max-width: $phonew) {
  .html .pane-getting-help {
    margin: 10px 3%;
    width: 94%;
    
    .panel-col-top {
      background: lighten($ltgray, 8%);
      display: block;

      h2.grid-6 {
        display: block;
        float: none;
        width: 100%;
      
        @include h4;
      }
    }
  }
}

// This is here so that when we are
// looking at a node edit page, and panels
// has totally boinked form output, we can still
// muddle through.
.pane-coral-ask-question {
  .field-name-field-answer,
  .field-name-field-comment-count,
  .field-name-field-answer-count,
  .field-type-file legend {
    display: none;
  } 
}
