
// Scss file for answers target specific items

@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/headers';
@import 'global/icons';

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/general/clearfix";

.html div.pane-coral-comments-target {
  //padding-bottom: $default_vert_unit;
  border-top: 1px solid $ltgray;
  border-left: 8px solid darken($ltgray, 10%);
  border-bottom: 1px solid darken($ltgray, 5%);
  position: relative;
  margin-top: 2.25 * $default_vert_unit;
  margin-bottom: $default_vert_unit;
  padding-left: 1em;
  
  
  // "Comments" (view pane title)
  & > h2.pane-title {
    @include h4;
    
    position: absolute;
    top: -1.75 * $default_vert_unit;
    left: 0;
  }
  
  &.odd {
    background-color: lighten($ltgray, 7%);
  }
  &.even {
    background-color: $white;
  }

  .views-row > .node-teaser.node-comment {
    padding-top: $default_vert_unit / 1.75;
  }
  
  .actions {
    position: relative;
    
    @include pie-clearfix;

    .load-more {
      position: relative;
      margin-right: 5px;
      // Set up the throbber position in the button
      .ajax-progress .throbber {
        margin: 1px -2px -1px 6px;
      }
    }
    .load-more.hide {
      display: none;
    }
    
    .cls-comments {
      position: absolute;
      bottom: -5px;
      left: -28px;
      background: $ltred;
      border: 1px solid $mdred;
      color: $white;
      cursor: pointer;
      font-size: 11px;
      font-weight: bold;
      font-family: $mono_fonts;
      padding: 3px;
      line-height: 5px;
      height: 7px;
      
      @include border-radius(8px);
      @include box-shadow(rgba(0, 0, 0, 0.35) 2px 2px 3px);
    }
  }
  
  .comment-node-pane-title {
    clear: none;
    float: left;
    @include h0;
    @include pie-clearfix;
    
    .icon {
      display: block;
      float: left;
      margin-right: 5px;
      margin-left: -5px;
      margin-top: 3px;

      @include icons-sprite('coral-comment');
    }
  }
  .comment-node-pane-title > a {
    color: lighten($mdgray, 10%);
    float: left;
    max-width: 90.85%;
    &:hover { color: $mdblue; }
  }
  .comment-node-pane-title > .top {
    border: 1px solid $white;
    cursor: pointer;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: -2px 0 0 5px;
    
    @include radial-gradient($white, darken($ltgray, 10%));
    @include border-radius(11px);
    
    .arrow-up {
      display: block;
      margin: 2px 0 0 5px;
      @include arrow-up(5px, darken($mdgray, 10%));
    }
    
    &:hover {
      border: 1px solid lighten($mdgray, 15%);
      @include box-shadow(rgba(0, 0, 0, 0.25) 0px 2px 3px inset);
      @include radial-gradient($ltgray, lighten($mdgray, 15%));
      
      .arrow-up {
        @include arrow-up(5px, $white);
      }
    }
  }
  
  &.odd .comment-node-pane-title > .top {
    border: 1px solid lighten($ltgray, 7%);
    @include radial-gradient(lighten($ltgray, 7%), darken($ltgray, 10%));
    
    &:hover {
      border: 1px solid lighten($mdgray, 12%);
      @include radial-gradient($ltgray, lighten($mdgray, 15%));
    }
  }
  
  // Nested targets!
  .pane-coral-comments-target {
    margin-bottom: -1px;
    margin-right: -1px;
    padding-left: 1em;
  }
  .comments-tgt.empty {
    padding-top: $default_vert_unit;
  }
  
  
  .pane-coral-node-stats {
    margin-top: -.2em;
    
    .stat-comments {
      line-height: 2em;
    }
    .stat-editor {
      .user-picture {
        margin-top: 0;
        margin-bottom: 0;
      }
      .username {
        margin-top: .2em;
      }
    }
  }
}
//.html .pane-coral-comments-target.comments-more {
//  margin-bottom: 3 * $default_vert_unit;
//}