
// User picture token pane
.pane-token.pane-user-picture {
  margin-right: 1em;
}

.page-user .leader {
  height: 140px;
  background: url('../../assets/images/coral-sep-long.png') bottom center no-repeat;
}
