
// User name token pane scss file

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/site_vars';

.pane-token.pane-user-name {
  margin-right: 1em;
  color: darken($ltgray, 10%);

  .pane-content {
    //@include huge; // 2em/32px
    @include h4;
    font-weight: bold;
    line-height: 2em; // 96px total
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: $tabletw) {
  .pane-token.pane-user-name {
    width: 60%;

    .pane-content {
      font-weight: bold;
      line-height: 2em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}