
// Scss file for coral_people custom content pane

@import 'global/fonts';

.pane-coral-people {
  margin-top: 2.5 * $default_vert_unit;
  padding-left: 1em;
  
  p {
    float: right;
    width: 11em;
  }
}

