
// Build options custom pane styles

@import "global/colors";
@import "global/fonts";
@import "global/icons";

.pane-coral-build-options {
  .build-options {
    li {
      list-style: none;
      margin: 0 0 $default_vert_unit 10px;
      position: relative;
    }
    .icon {
      display: block;
      position: absolute;
      left: -45px;
      top: 3px;
    }
    .label {
      color: $mdred;
    }
    .command-line .icon {
      @include icons-sprite('command-line');
    }
    .coral-arch .icon {
      @include icons-sprite('logo-icon');
    }
    .integration .icon {
      left: -44px;
      @include icons-sprite('integration');
    }
    .requirements .icon {
      left: -38px;
      top: 4px;
      @include icons-sprite('requirements');
    }
  }
  
  // Format usage overrides
  .format-usage {
    .pane-title {
      color: $white;
      background: lighten($mdgray, 10%);
      padding: ($default_vert_unit / 2);
      margin-top: 0;
      line-height: .8em;
    }
    li {
      margin-left: 45px; 
    }
  }
}
