
// Scss file for the add comments components (see coral_add_answer as well for similar comp.)

@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/icons';

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";


.pane-coral-add-comment {
  float: left;
  margin: 0 5px 0 0;
  
  .btn.comment {
    padding-left: 0;
    padding-right: 18px;
    position: relative;
    @include btn-reset;
    
    
    width: auto;
    
    color: $mdgray;
    font-size: .9em;
    
    &:hover {
      color: lighten($mdgray, 10%);
    }
    
    .circle {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 14%;
      right: -4px;
      height: 16px;
      width: 16px;
      
      .arrow {
        display: block;
        margin: 3px 0 0 2px;
        @include arrow-right(5px, $dkgray);  
      }
      .arrow-down {
        margin: 6px 0 0 -1px;
        @include arrow-down(5px, $dkgray);  
      }
    }
    
    .icon {
      display: block;
      float: left;
      margin-top: 1px;
      margin-right: 2px;

      @include icons-sprite('coral-comment-on');
    }

    // Set up the throbber position in the button
    .ajax-progress .throbber {
      margin: 1px -2px -1px 6px;
    }
  }
  .btn.comments-hidden {
    .icon {
      @include icons-sprite('coral-comment');
    }
    &:hover {
      .icon {
        @include icons-sprite('coral-comment-on');
      }
    }
  }
}


// We cannot rely on the view being there.
//  We can rely on this pane being there.
.view-comments.view-display-id-new_comments,
.view-comments.view-display-id-this_comment  {
  //.pager { display: none; }
  
  .views-row {
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
    .pane-node-body {
      padding-right: 1em;
    }
    .pane-coral-add-comment {
      float: right;
    }
    .pane-coral-add-comment .anon {
      margin-right: 1em;
    }
    .pane-coral-flag-abuse-node {}
  }
  .views-row-first {
    margin-top: 0;
  }
  .pager {
    display: none;
  }
}


.html .node-type-comment,
.html div.node-teaser.node-comment {
  
  .pane-coral-page-title,
  .comment-node-teaser-pane-title {
    .icon { // apply question mark icon
      //display: block;
      //float: left;
      //margin: 7px .5em 0 0;
      //@include icons-sprite('coral-q');
    }
  }
  
  .pane-coral-page-title h2 {
    color: darken($mdblue, 7%);
    font-weight: bold;
    margin-top: .15em;
  }
  
  .pane-coral-flag-abuse-node,
  .pane-coral-add-comment,
  .pane-coral-add-answer,
  .pane-node-links { // float links beside each other
    float: right;
    height: 1.12 * $default_vert_unit; // same as node links
    .links { // standardize 
      padding: 0; 
      margin: 0; 
      
      li {
        margin: 0 5px 0 0;
        padding: 1px 6px 1px;
      }
    }
  }
  .pane-coral-flag-abuse-node {
    margin-right: 1em;
  }
  
  .pane-node-field-tags {
    clear: left;
  }
   
  // Hide some things
  .field-name-field-content,
  .field-name-field-comment-count,
  .field-type-file legend {
    display: none;
  }
}
