
// Scss file for the wiki ask questions form pane

@import 'global/colors';
@import 'global/fonts';
@import 'global/icons';
@import 'global/site_vars';

@import "compass/utilities/general/clearfix";
@import "compass/css3";

.page-node.node-type-book .secondary-content {
  position: relative;
}


// General styles
.pane-coral-wiki-ask-question {
  margin-bottom: $default_vert_unit;
  position: relative;
  
  .ask-btn {
    position: relative;
    color: lighten($mdgray, 10%);
    cursor: pointer;
    font-size: 90%;
    font-weight: bold;
    padding-left: 20px;
    
    .icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 2px;
      margin-left: 2px;
      @include icons-sprite('help');
    }
  }
  
  .wiki-ask-question {
    width: 40%;
    left: 30%;
    top: 80px;
    display: none;
    @include box-sizing(border-box);
    
    & > h3 { // box title)
      margin-top: 0;
      background: lighten($ltgray, 6%);
      padding: .625em;
      border-bottom: 3px solid darken($ltgray, 3%);
      color: $dkblue;
    }
  }
  
  .node-question-form {
    overflow: auto;
    
    & > div > h3 { // Ask a question (title)
      margin-top: 0;
      background: lighten($ltgray, 6%);
      padding: .625em;
      border-bottom: 3px solid darken($ltgray, 3%);
      color: $dkblue;
    }
    
    & > div > div {
      margin-left: 1em !important;
      margin-right: 1em !important;
    }

    .form-item-title,
    .field-name-field-tags {
      margin: ($default_vert_unit/2) 0 $default_vert_unit 0;
      
      @include clearfix;
      
      label {
        width: 20%;
        float: left;
        line-height: 2.5em;
      }
      .form-text {
        width: 80%;
        float: right;
      }
      .form-item {
        margin: 0;
      }
      .description {
        width: 80%;
        float: right;
        clear: both;
      }
    }
    
    .form-item-title.compressed,
    .field-name-field-tags.compressed {
      label {
        width: 100%;
        float: none;
        line-height: 1.5em;
      }
      .form-text {
        width: 100%;
        float: none;
      }
      .description {
        width: 100%;
        float: none;
      }
    }    
    
    .form-textarea {
      min-height: 5em !important; 
    }
    
    .ta-help,
    .vertical-tabs,
    .filter-wrapper,
    .filter-guidelines {
      display: none;
    }
  }
  
  .user-login {
    p.h3 {
      display: none;
    }
    
    & > div {
      margin-left: 1em !important;
      margin-right: 1em !important;
    }
    .hybridauth-widget-wrapper {
      margin-left: 1em !important;
      margin-right: 1em !important;
    }
    .form-actions {
      float: right;
      margin: 0 0 $default_vert_unit;
    }
  }
}
@media screen and (max-width: $tabletw) {
  .pane-coral-wiki-ask-question {
    .wiki-ask-question {
      top: 5%;
      left: 15%;
      width: 70%;
      font-size: .9em;
    }
  }
}
@media screen and (max-width: $phonew) {
  .pane-coral-wiki-ask-question {
    .wiki-ask-question {
      top: 2%;
      left: 2%;
      width: 96%;
      font-size: .85em;
    }
  }
}

// Overrides and alterations
.pane-coral-wiki-ask-question.top {
  .ask-btn { 
    position: absolute;
    right: 5px;
    top: -2 * $default_vert_unit;
  }
}

.pane-coral-wiki-ask-question.bottom {
  margin-bottom: $default_vert_unit;
  
  @include pie-clearfix;
  
  .ask-btn {
    float: right;
  }
  .wiki-ask-question {
    clear: both;
  }
}
