
// File controls styles for coral_getting_started custom pane.

@import "global/buttons";
@import "global/colors";
@import "global/fonts";
@import "global/icons";
@import "global/gradients";

@import "compass/utilities/general/clearfix";

.pane-coral-home-login {
  position: relative;
  margin-bottom: $default_vert_unit;
    
  @include pie-clearfix;  
  //@include reflected-v-gradient(lighten($ltgray, 5%), darken($ltgray, 7%), $ltgray);
  
  a.btn {
    @include btn-glass-ltn(0px, 22px, darken($mdgreen, 15%), darken($mdgreen, 8%), $white);
    @include btn-structure(8px 1em, 22px, 0px);
    text-align: center;
    font-size: 1.5em;
  }
  
  ul, p {
    margin-top: 3px;
  }
  
  .login-sep {
    height: 25px;
    background: url('../../assets/images/coral-sep-long.png') top center no-repeat;
  }
}
