
// Scss file for answers target specific items

@import 'global/colors';
@import 'global/fonts';

.pane-coral-comments-target {
  //padding-bottom: $default_vert_unit;
  position: relative;
  background: lighten($ltgray, 8%);
  margin-bottom: $default_vert_unit;
  padding-left: 1em;
  padding-right: 1em;
  
  .load-more {
    position: absolute;
    bottom: -2 * $default_vert_unit;
    .ajax-progress {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: -25px;
      top: 8%;
    }
  }
  .load-more.hide {
    display: none;
  }
  .pane-coral-comments-target {
    margin-bottom: 0;
    padding-left: 0;  // we re-add the padding in the views row
    padding-right: 0;
    
    .pane-coral-node-stats {
      width: 99%;
    }
  }  
}
.pane-coral-comments-target.comments-more {
  margin-bottom: 3 * $default_vert_unit;
}