
// Customizations of the about intro

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/icons';
@import 'global/grid_mix';
@import 'global/site_vars';

.pane-coral-about-support {
  .pane-title {
    color: $mdorange;
  
    @include huge;
  
    font-weight: bold;
    margin-bottom: .5em;
  }
  
  h4 {
    color: darken($mdorange, 7%);
  }
  
  ul {
    margin-top: ($default_vert_unit / 2);
    margin-bottom: ($default_vert_unit / 2);
    
    li {
      margin-top: ($default_vert_unit / 3);
      margin-bottom: ($default_vert_unit / 3);
      margin-left: .75em;
    }
  }
}
@media screen and (max-width: $tabletw) {
  .pane-coral-about-support {
    @include col($columns, 'true'); // full w
    margin-bottom: 2 * $default_vert_unit;
  }
}