
// Customizations of the about intro

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/icons';
@import 'global/site_vars';


h1.page-title {
  color: $mdorange;
  
  @include huge;
  
  font-weight: bold;
  margin-bottom: .5em;
}


.pane-coral-about-intro {
  position: relative;
  
  h3 {
    //@include h2;
    font-weight: bold;
    line-height: $default_vert_unit;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 100px;
    padding-top: $default_vert_unit / 2;
  }
  
  h4 {
    @include h3;
    margin-bottom: $default_vert_unit;
    line-height: 1.25em;
  }
  
  .cloud-case {
    display: block;
    position: absolute;
    top: -4px;
    left: 0;
    @include icons-sprite('cloud-case'); 
  }
}

@media screen and (max-width: $tabletw + 50) {
  .pane-coral-about-intro {
    h3 {
      padding-top: 0;
    }
  }
}