
// Scss file for the add answer button

@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.pane-coral-add-answer {
  float: left;
  margin: 0 5px 0 0;
    
  .btn.answer {
    // reset the blue defaults
    @include btn-matte-inset(0px, 16px, $mdgreen, darken($mdgreen, 3%));
    @include btn-structure;
    
    // Override structure settings
    padding-right: 25px;
    position: relative;
    
    .circle {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 14%;
      right: 1.5%;
      height: 16px;
      width: 16px;
      border: 1px solid darken($mdgreen, 15%);
      
      @include box-shadow(rgba(0, 0, 0, 0.1) 0px 2px 3px inset);
      @include linear-v-gradient(lighten($ltyellow, 5%), $mdyellow);
      @include border-radius(8px);
      
      .arrow {
        display: block;
        margin: 3px 0 0 6px;
        @include arrow-right(5px, $dkgray);  
      }
      .arrow-down {
        margin: 6px 0 0 3px;
        @include arrow-down(5px, $dkgray);  
      }
    }
    &:hover .circle {
      @include box-shadow(rgba(0, 0, 0, 0.25) 0px 2px 3px inset);
      @include linear-v-gradient($mdyellow, $ltyellow);
    }
  }
}


// We cannot rely on the view being there.
//  We can rely on this pane being there.
.view-answers.view-display-id-this_answer,
.view-answers.view-display-id-new_answers  {
  .pager { display: none; }
  
  .views-row {
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
  }
  .views-row-first {
    margin-top: 0;
  }
}

