
// Main scss file for the node stats pane

@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/icons';

@import "compass/utilities/general/clearfix";

.pane-coral-node-stats {
  margin: 0 0 ($default_vert_unit / 2) 0;
  @include clearfix;
  
  .pane-content {}
  
  .statset-wrap {}
  
  .coral-stat {
    float: left;
    line-height: 2em;
    margin-right: .5em;
    color: lighten($mdgray, 7%);
  }
  
  .stat-answers .best-ans-ico {
    padding: 0 14px;
    margin: 0 0 0 5px;
    
    @include icons-sprite('check-sml');
  }
  
  .stat-editor {
    .user-picture {
      float: left;
      margin-right: .5em;
      margin-top: 3px;
      margin-left: 3px;
      img { 
        display: block;
        border: 1px solid darken($ltgray, 10%);
        width: 24px;
        height: 24px;
      }
    }
    .username {
      font-size: 115%;
      float: left;
      clear: right;
      line-height: 1.75em;
    }
    @include pie-clearfix;
  }
  
  .stat-edit {
    margin-left: 3px;
    .statid {
      display: none;
    }
    .icon {
      display: inline-block;
      float: left;
      margin-top: .6em;
      @include icons-sprite('edit-off');
    }
    &:hover {
      .icon {
        @include icons-sprite('edit');
      }
    }
  }
}

.node-answer .pane-coral-node-stats .statset-style-gray,
.node-question .pane-coral-node-stats .statset-style-gray {
  background: url('../../assets/images/diag-tile-lt.png');
  border-style: solid;
  border-width: 1px;
  border-color: lighten($ltgray, 5%);
  float: right;
  @include clearfix;
}

