
// Book explorer navigation styles

@import 'global/colors';
@import 'global/fonts';

.pane-book-explorer-book-explorer {
  margin-bottom: 2 * $default_vert_unit;
  
  .pane-title {
    color: $white;
    background: lighten($mdblue, 10%);
    padding: ($default_vert_unit / 2);
    margin: 0 0 3px;
    line-height: .8em;
  }
  
  ul.menu {
    padding: 10px;
    background: desaturate(lighten($ltblue, 8%), 15%);
    
    li.leaf,
    li.expanded {
      padding-top: 0;
      margin-bottom: 0;
      margin-left: 0 !important;
    }
    
    ul.menu {
      padding: 0;
    }
  }
}  