
@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';

.main-content .pane-menu-documentation {
  margin-bottom: 2 * $default_vert_unit;
  padding-left: 10px;
  
  .pane-title {
    color: darken($mdorange, 7%);
    
    @include h4;
  }
  
  ul {
    margin-top: ($default_vert_unit / 3);
    margin-bottom: ($default_vert_unit / 3);
    
    li {
      margin-top: ($default_vert_unit / 3);
      margin-bottom: ($default_vert_unit / 3);
      margin-left: .75em;
    }
    
  }
}
