
// File controls styles for coral_getting_started custom pane.

@import "global/colors";
@import "global/fonts";
@import "global/headers";
@import "global/icons";
@import "global/gradients";
@import "global/site_vars";

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

.pane-coral-home-getting-started {
  margin-top: 2em;
  margin-bottom: 2em;
  border-right: 1px solid $white;
  @include box-sizing(border-box);

  .pane-content {
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: .25em;
    border-right: 1px solid darken($ltgray, 12%);
  }

  .pane-title {
    @include hugeplus;
  }

  p {
    margin-left: 5px;
  }

  .shell {
    border-width: 1px;
    border-color: $mdgray;
    border-style: solid;
    padding: ($default_vert_unit / 4);
    background: darken($dkgray, 10%);
    font-weight: bold;
    font-family: $mono_fonts;

    @include h4;
    @include border-radius(15px);
    @include linear-v-gradient(darken($dkgray, 10%), darken($dkgray, 17%));

    line-height: 1.75em;
    padding: .25em .5em;
    margin-bottom: $default_vert_unit;

    .line {
      padding: 0;

      .prompt {
        color: $mdgreen;
      }
      .command {
        color: $white;
      }
    }
  }
}

@media screen and (max-width: $tabletw) {
  .pane-coral-home-getting-started {
    .pane-title {
      @include huge;
    }
    .shell {
      @include font(1em, 'normal', 'default', $sans_fonts, 'false', $default_vert_unit);
    }
  }
}

@media screen and (max-width: $tabletw - 200) {
  .pane-coral-home-getting-started {
    .pane-title {
      @include h2;
    }
    p {
      @include font(1em, 'normal', 'default', $sans_fonts, 'false', $default_vert_unit);
    }
  }
}

