
// Scss file for the ask question pane on the main qa page

@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/grid_mix';
@import 'global/headers';
@import 'global/icons';
@import 'global/site_vars';

@import 'compass/utilities/general/clearfix';
@import 'compass/css3';

.pane-coral-qa-ask-question {
  
  @include linear-v-gradient(lighten($ltgray, 5%), darken($ltgray, 5%));
  margin: $default_vert_unit 0;
  padding: ($default_vert_unit / 2);
  border: 1px solid $mdgray;

  @include pie-clearfix;
  
  & > .pane-content {
    
  }
  .qa-form.ask {
    @include box-sizing(border-box);
  }
  .qa-msg {
    background: lighten($ltgreen,20%);
    border: 1px solid $ltgreen;
    @include box-sizing(border-box);
    .cont {
      padding: ($default_vert_unit / 2);
    }
  }
  
  .form-item {
    margin: 0 0 ($default_vert_unit / 2) 0;
  }
  .form-item-name label {
    display: inherit !important;
  }
  .form-type-password,
  .form-type-textfield {
    width: 48%;
    float: left;
    clear: right;
    margin: ($default_vert_unit / 2) 0;
    .description { display: none; }
    .form-text { width: 94.8%; }
  }
  .node-form .form-item-title,
  .node-form .field-name-field-tags .form-type-textfield {
    margin-top: -3.75em;
  }
  .field-name-field-tags {
    position: relative;
    .icon {
      display: block;
      position: absolute;
      top: $default_vert_unit / 2;
      right: 48.5%;
      @include icons-sprite('coral-tag');
    }
    .form-type-textfield {
      float: right;
    }
  }
  .form-type-textarea {
    clear: both; // ensure this doesnt ride up on the fields (FFx3)
  }
  .form-type-managed-file {
    .file-widget {
      float: left;
      padding: 3px;
      background: white;
      border: 1px solid #777;
      margin-top: 5px;
    }
    .description {
      position: relative;
      top: 3px;
      height: 1.5em;
      overflow: auto;
    }
    .file {
      line-height: 2.15em;
    }
    table td .form-submit {
      margin: 0;
    }
  }
  .description{
    color: $mdgray;
    clear: left;
    .br {
      display: inline;
    }
  }
  .form-actions {
    float: right;
    margin: 0;
    padding: 0;
  }
  .node-question-form {
    background: $mdblue;
    border: 2px solid darken($ltgray, 5%);
    padding: ($default_vert_unit / 2);
    position: relative;
    background-color: rgba(208, 208, 208, .5);
    margin-top: 2.85em;
    margin-bottom: $default_vert_unit / 2;
    
    .icon {
      position: absolute;
      top: -2.65em;
      right: 48.65%;
    }
    
    .form-type-textfield {
      label { display: none; }
    } 
  }
  .filter-wrapper { display: none; }
  .vertical-tabs { display: none; }
  
  // anonymous (login form)
  .qa-form.login {
    
    form {
      border: 1px solid lighten($ltgray, 5%);
      background: rgba(255,255,255,.75) url(../../assets/images/diag-tile.png);
      padding: ($default_vert_unit / 2) .5em;
      @include box-sizing(border-box);
      min-height: 173px;
      @include pie-clearfix;
    }
    h3 { // use h3 settings
      color: $mdgray;
    }
    
    label {
      float: left;
      margin-top: 7px;
    }
    .form-type-password,
    .form-type-textfield {
      width: 49.5%;
    }
    .form-text {
      width: 60%;
      margin-left: 2%;
    }
    .form-actions {
      margin: 2px 1% 0 0;
      padding: 0;
    }
    
    .hybridauth-widget {
      float: left;
      margin-top: .3em;
    }
  }
  
  p.h3 {
    display: none;
  }
}
@media screen and (max-width: $tabletw + 150px) {
  .html .pane-coral-qa-ask-question {
    .qa-form {
      &.login {
        .hybridauth-widget {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: $tabletw) {
  .html .pane-coral-qa-ask-question {
    .qa-msg {
      @include col($columns, true);
      display: block;
      float: none;
      //margin-bottom: $default_vert_unit / 2;
    }
    .qa-form {
      @include col($columns, true);
      display: block;
      float: none;
      
      .form-type-password .form-text,
      .form-type-textfield .form-text {
        font-size: 1em;
      }
      
      input.form-autocomplete {
        background-position: 99.5% 6px;
      }
      input.throbbing {
        background-position: 99.5% -128px;
      }
      .icon {
        top: -3em;
        right: 48.25%;
      }
      .node-question-form {
        margin-top: 3 * $default_vert_unit;
      }
      
      &.login {
        form {
          margin-top: $default_vert_unit / 2;
        }
        .hybridauth-widget {
          width: 100%;
        }
      }
    }
  }
}
