
// Scss file for the pane-coral-answer-form

.pane-coral-answer-form {
  .filter-wrapper,
  .vertical-tabs {
    display: none;
  }
  .form-actions {
    position: relative;
    .ajax-progress {
      position: absolute;
      top: 15%;
      left: 3.5em;
    }
  }
}
