
// File controls styles for coral_getting_started custom pane.

@import "global/colors";
@import "global/fonts";
@import "global/icons";
@import 'global/site_vars';

.pane-coral-home-contribute {
  position: relative;
  margin-bottom: $default_vert_unit;
  float: right;

  .pane-title {
    font-weight: bold;
  }
  
  .public-work {
    display: block;
    float: left;
    margin: -5px 0 (-1 * $default_vert_unit) 0; 
    @include icons-sprite('public-projects');
  }
  
  .troubleshoot {
    display: block;
    float: left;
    margin: 2.3em 0 (-1 * $default_vert_unit) 0;
    @include icons-sprite('private-projects');
  }
  
  h4 {
    color: $mdorange;
    margin-left: 3em;
  }
  
}

@media screen and (max-width: $desktopw) {
  .pane-coral-home-contribute {
    width: 48%;
    margin-left: 2%;
    float: right;
  }
}
@media screen and (max-width: $tabletw) {
  .pane-coral-home-contribute {
    width: 100%;
    float: left;
    margin: 0 0 $default_vert_unit 0;
    & > h2,
    & > div {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}