
// Primary style for CoralNexus introduction pane.

@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/headers';
@import 'global/icons';
@import 'global/site_vars';

@import "compass/utilities/general/clearfix";

.pane-coralnexus-intro {
  margin: (3 * $default_vert_unit) 0 (3 * $default_vert_unit);
  position: relative;
  @include pie-clearfix;

  .pane-title {
    text-align: center;
    color: darken($mdblue, 5%);
    font-weight: bold;
    @include dblhuge;
    margin-bottom: .5em;
  }

  .clowny-an {
    display: block;
    @include icons-sprite('anemone-clown');
    position: absolute;
    top: 60px;
    left: 10px;
  }
  .clowny-an-sml {
    display: none;
    @include icons-sprite('anemone-clown-sml');
  }

  .msg {
    @include h1;
    line-height: 1.35em;
    display: block;
    color: darken($mdred, 5%);
    text-align: center;
    margin-left: 180px;
    margin-right: 100px;
  }
}




@media screen and (max-width: $desktopw - 100) {
  .pane-coralnexus-intro {
    .pane-title {
      font-size: 2.5em;
      line-height: 1.15em;
    }
    .msg {
      @include h3;
    }
  }
}

@media screen and (max-width: $tabletw - 50) {
  .pane-coralnexus-intro {
    margin: (2 * $default_vert_unit) 0 (2 * $default_vert_unit);
    .pane-title {
      font-size: 1.5em;
      line-height: 1.15em;
    }
    .msg {
      margin-left: 30px;
      margin-right: 30px;
    }
    .clowny-an {
      display: none;
    }
    .clowny-an-sml {
      display: block;
      float: left;
    }
  }
}
