
// Scss file for the best answer button

@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.pane-coral-best-answer {
  float: left;
  margin: 0 5px 0 0;
  .best-answer {
    position: relative;
    
    @include btn-matte-inset(0px, 16px, $mdgreen, darken($mdgreen, 3%));
    @include btn-structure;
    
    .best-ans-msg {
      background: $ltyellow;
      border: 1px solid $ltblue;
      color: $mdgray;
      display: inline;
      font-weight: normal;
      font-size: 90%;
      left: -55px;
      position: absolute;
      padding: 5px;
      text-align: center;
      text-shadow: none;
      top: 1.85em;
      width: 200px;
      z-index: 3;
      
      @include border-radius(8px);
      @include box-shadow(rgba(0,0,0,.35) 3px 3px 6px);
    }
  }
  // Set up the throbber position in the button
  .ajax-progress .throbber {
    margin: 1px -2px -1px 6px;
  }
}

