
// File controls styles for coral_getting_started custom pane.

@import "global/buttons";
@import "global/colors";
@import "global/fonts";
@import "global/icons";
@import "global/gradients";
@import "global/site_vars";

@import "compass/utilities/general/clearfix";

.pane-coral-home-login {
  position: relative;
  margin: $default_vert_unit 0;
    
  @include pie-clearfix;  
  //@include reflected-v-gradient(lighten($ltgray, 5%), darken($ltgray, 7%), $ltgray);
  
  a.btn {
    @include btn-glass-ltn(0px, 22px, darken($mdgreen, 15%), darken($mdgreen, 8%), $white);
    @include btn-structure(8px 1em, 22px, 0px);
    text-align: center;
    font-size: 1.5em;
  }
  
  ul, p {
    margin-top: 3px;
  }
  
  
  .grid-15-last {
    float: right;
  }
}

@media screen and (max-width: $desktopw + 100) {
  .pane-coral-home-login {
    .grid-4 {
      float: left;
      display: block;
      width: auto;
      padding-top: 4px;
    }
    .grid-15-last {
      display: inline;
      float: none;
      width: auto;
    }
    .grid-5 {
      width: 100%;
      margin: 0;
      
      ul li {
        float: left;
        margin-right: 1em;
        margin-left: 0;
      }
    }
  }
}