
// Scss file for the add comments components (see coral_add_answer as well for similar comp.)

@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";


.pane-coral-add-comment {
  float: left;
  margin: 0 5px 0 0;
  
  .btn.comment {
    border-width: 1px;
    
    @include btn-matte-inset;
    @include btn-structure;
    
    // Override structure settings
    padding-right: 25px;
    position: relative;
    
    .circle {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 14%;
      right: 1.5%;
      height: 16px;
      width: 16px;
      border: 1px solid darken($mdblue, 15%);
      
      @include box-shadow(rgba(0, 0, 0, 0.1) 0px 2px 3px inset);
      @include linear-v-gradient(lighten($ltyellow, 5%), $mdyellow);
      @include border-radius(8px);
      
      .arrow {
        display: block;
        margin: 3px 0 0 6px;
        @include arrow-right(5px, $dkgray);  
      }
      .arrow-down {
        margin: 6px 0 0 3px;
        @include arrow-down(5px, $dkgray);  
      }
    }
    &:hover .circle {
      @include box-shadow(rgba(0, 0, 0, 0.25) 0px 2px 3px inset);
      @include linear-v-gradient($mdyellow, $ltyellow);
    }
    // Set up the throbber position in the button
    .ajax-progress .throbber {
      margin: 1px -2px -1px 6px;
    }
  }
}


// We cannot rely on the view being there.
//  We can rely on this pane being there.
.view-comments.view-display-id-new_comments,
.view-comments.view-display-id-this_comment  {
  //.pager { display: none; }
  
  .views-row {
    background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
    .pane-node-body {
      padding-right: 1em;
    }
    .pane-coral-add-comment {
      float: right;
    }
    .pane-coral-add-comment .anon {
      margin-right: 1em;
    }
    .pane-coral-flag-abuse-node {}
  }
  .views-row-first {
    margin-top: 0;
  }
  .pager {
    display: none;
  }
}


.html .node-type-comment,
.html div.node-teaser.node-comment {
  
  .pane-coral-page-title,
  .comment-node-teaser-pane-title {
    .icon { // apply question mark icon
      //display: block;
      //float: left;
      //margin: 7px .5em 0 0;
      //@include icons-sprite('coral-q');
    }
  }
  
  .pane-coral-page-title h2 {
    color: darken($mdblue, 7%);
    font-weight: bold;
    margin-top: .15em;
  }
  
  .pane-coral-flag-abuse-node,
  .pane-coral-add-comment,
  .pane-coral-add-answer,
  .pane-node-links { // float links beside each other
    float: right;
    height: 2.12 * $default_vert_unit; // same as node links
    .links { // standardize 
      padding: 0; 
      margin: 0; 
      
      li {
        margin: 0 5px 0 0;
        padding: 2px 5px 1px;
      }
    }
  }
  .pane-coral-flag-abuse-node {
    margin-right: 1em;
  }
  
  .pane-node-field-tags {
    clear: left;
  }
   
  // Hide some things
  .field-name-field-content,
  .field-name-field-comment-count,
  .field-type-file legend {
    display: none;
  }
}
