
// User profile block scss file

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/grid_mix';
@import 'global/site_vars';

@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";

.pane-user-profile {
  margin-bottom: (2 * $default_vert_unit);

  h3 {
    @include h1;
    border-bottom: 1px solid $ltgray;
  }

  .profile {
    margin: 0;
    dt {
      margin: 0 .25em 0 0;
      float: left;
      clear: left;
      color: $mdgray;
    }
    dd {
      margin: 0 .25em ($default_vert_unit / 2);
      float: left;
    }
    dl {
      margin: 1.25em 1em;
    }

    .flags,
    .summary {
      margin-bottom: $default_vert_unit;
      padding-bottom: $default_vert_unit / 2;
      @include pie-clearfix;
      h3 {
        padding-left: .5em;
        padding-right: .5em;
        color: $mdred;
      }
    }
    .summary {}

    .item-list {
      background: lighten($ltgray, 9%);
      border: 1px solid $ltgray;
      @include pie-clearfix;

      h3 {
        padding-left: .5em;
        padding-right: .5em;
        color: $mdred;
      }
      ul {
        li {
          list-style-image: none;
          list-style-type: none;
          padding: 0 1em;
          margin: 0;
          a {
            vertical-align: top;
            line-height: 1.625em;
          }

          @include box-sizing(border-box);
          @include col(12);
          &.last {
            margin-top: $default_vert_unit;
            background: lighten($ltgreen, 22%);
            border-top: 1px solid $mdgreen;
            padding: ($default_vert_unit / 2) 1em;

            a {
              vertical-align: baseline;
              line-height: 1.25em;
            }

            @include col(24, 'true');
          }
        }

        &.empty {
          li {
            @include col(24, 'true');
          }
        }
      }
    }
  }
}

// Re-adjust the grid to our needs ;-)
#main-content .layout-landing-responsive .secondary-content {
  @include col(14, 'false', right);
  margin-right: 0;
  margin-left: 2%;
}
#main-content .layout-landing-responsive .main-content {
  @include col(10, 'true');
}
@media screen and (max-width: $tabletw + 200) {
  #main-content .layout-landing-responsive .secondary-content {
    .panel-pane {
      @include col($columns);
    }
  }
}

@media screen and (max-width: $tabletw - 100) {
  #main-content .layout-landing-responsive .secondary-content {
    @include col($columns, 'true');
    .prepend-1 {
      margin-left: 0;
      @include col($columns, 'true');
    }
  }
  #main-content .layout-landing-responsive .main-content {
    @include col($columns, 'true');
  }
}
