/* line 402, icons/*.png */
.icons-sprite, .comment li.comment-delete span.icon, .comment li.comment-edit span.icon, .comment li.comment-reply span.icon, .comment li.comment-delete a:hover span.icon, .comment li.comment-edit a:hover span.icon, .comment li.comment-reply a:hover span.icon {
  background: url('/images/icons-s9fc993f7aa.png') no-repeat;
}

/* line 9, ../../sass/global/comments.scss */
.views-row-even .comment {
  background: #efefef;
  border-style: solid;
  border-width: 1px 1px 1px 15px;
  border-color: #9d9d9d;
}

/* line 15, ../../sass/global/comments.scss */
.comment {
  padding: 0 1em;
  border-style: solid;
  border-width: 1px 1px 1px 15px;
  border-color: #dddddd;
}
/* line 21, ../../sass/global/comments.scss */
.comment .user-picture {
  float: left;
  margin: 5px 5px 0.625em -5px;
}
/* line 24, ../../sass/global/comments.scss */
.comment .user-picture img {
  display: block;
  border: 1px solid #dddddd;
}
/* line 29, ../../sass/global/comments.scss */
.comment .au-sub {
  float: left;
}
/* line 32, ../../sass/global/comments.scss */
.comment .po-sub {
  float: right;
  font-size: 90%;
  color: #919191;
}
/* line 37, ../../sass/global/comments.scss */
.comment .new {
  color: #e17d2c;
  font-weight: bold;
  float: left;
  margin-top: 0;
  margin-right: .5em;
}
/* line 44, ../../sass/global/comments.scss */
.comment ul.links.inline {
  display: block;
  height: 1.25em;
  border-top: 1px dotted #dddddd;
  margin-bottom: -1px;
}
/* line 49, ../../sass/global/comments.scss */
.comment ul.links.inline li {
  float: right;
  font-size: 80%;
  line-height: 1.5em;
  padding: 0 6px 0 3px;
}
/* line 55, ../../sass/global/comments.scss */
.comment ul.links.inline li.first {
  border-right: none;
}
/* line 61, ../../sass/global/comments.scss */
.comment h3.comment-title a {
  color: #777777;
}
/* line 63, ../../sass/global/comments.scss */
.comment h3.comment-title a:hover {
  color: #515151;
}
/* line 68, ../../sass/global/comments.scss */
.comment .submitted {
  margin: 0.625em 0 1.25em;
}
/* line 71, ../../sass/global/comments.scss */
.comment .perma-link {
  float: right;
  font-size: 90%;
  margin: .75em 0 0 .5em;
}
/* line 75, ../../sass/global/comments.scss */
.comment .perma-link a {
  color: #aaaaaa;
}
/* line 79, ../../sass/global/comments.scss */
.comment .content {
  clear: left;
}
/* line 83, ../../sass/global/comments.scss */
.comment span.icon {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: -2px;
}
/* line 89, ../../sass/global/comments.scss */
.comment li.comment-delete span.icon {
  background-position: 0 -3400px;
  height: 15px;
  width: 15px;
}
/* line 92, ../../sass/global/comments.scss */
.comment li.comment-edit span.icon {
  background-position: 0 -3335px;
  height: 15px;
  width: 15px;
}
/* line 95, ../../sass/global/comments.scss */
.comment li.comment-reply span.icon {
  background-position: 0 -2277px;
  height: 12px;
  width: 19px;
}
/* line 98, ../../sass/global/comments.scss */
.comment li.comment-delete a:hover span.icon {
  background-position: 0 -3465px;
  height: 15px;
  width: 15px;
}
/* line 101, ../../sass/global/comments.scss */
.comment li.comment-edit a:hover span.icon {
  background-position: 0 -2339px;
  height: 15px;
  width: 15px;
}
/* line 104, ../../sass/global/comments.scss */
.comment li.comment-reply a:hover span.icon {
  background-position: 0 -2215px;
  height: 12px;
  width: 19px;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-1 {
  margin-left: 0em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-2 {
  margin-left: 1em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-3 {
  margin-left: 2em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-4 {
  margin-left: 3em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-5 {
  margin-left: 4em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-6 {
  margin-left: 5em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-7 {
  margin-left: 6em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-8 {
  margin-left: 7em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-9 {
  margin-left: 8em;
}

/* line 111, ../../sass/global/comments.scss */
.comment-thread-10 {
  margin-left: 9em;
}
