/* line 35, ../../sass/global/_dom.scss */
body {
  font-size: 16px;
  font-family: arial, helvetica, sans-serif;
  color: #373737;
}

/* line 40, ../../sass/global/_dom.scss */
html > body {
  line-height: 1.25em;
}

/* line 46, ../../sass/global/_dom.scss */
h1, h2, h3, h4, h5, h6 {
  color: #515151;
  clear: left;
}

/* line 51, ../../sass/global/_dom.scss */
h1 {
  font-size: 1.5em;
  line-height: 1.6667em;
  margin-top: 0.4167em;
  margin-bottom: 0.4167em;
}

/* line 54, ../../sass/global/_dom.scss */
h2 {
  font-size: 1.375em;
  line-height: 1.8182em;
  margin-top: 0.4545em;
  margin-bottom: 0.4545em;
}

/* line 57, ../../sass/global/_dom.scss */
h3 {
  font-size: 1.25em;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 60, ../../sass/global/_dom.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.1111em;
  margin-top: 0.5555em;
  margin-bottom: 0.5555em;
}

/* line 69, ../../sass/global/_dom.scss */
img,
object,
embed,
video {
  max-width: 100%;
}

/* line 77, ../../sass/global/_dom.scss */
a,
li a,
li.leaf a {
  color: #446eac;
  font-size: 100%;
  font-weight: bold;
  line-height: 1.25em;
  text-decoration: none;
  outline: none;
}
/* line 85, ../../sass/global/_dom.scss */
a:active, a.active,
li a:active,
li a.active,
li.leaf a:active,
li.leaf a.active {
  color: #32547d;
}
/* line 86, ../../sass/global/_dom.scss */
a:hover,
li a:hover,
li.leaf a:hover {
  color: #2b486b;
}

/* line 88, ../../sass/global/_dom.scss */
a.freelink-createnode {
  color: #b02e1c;
}
/* line 90, ../../sass/global/_dom.scss */
a.freelink-createnode:hover {
  color: #762921;
}

/* line 96, ../../sass/global/_dom.scss */
strong, b {
  font-weight: bold;
}

/* line 100, ../../sass/global/_dom.scss */
p {
  margin: 0 0 1.25em 0;
}

/* line 104, ../../sass/global/_dom.scss */
em, .em {
  font-style: italic;
}

/* line 108, ../../sass/global/_dom.scss */
small {
  font-size: 80%;
  line-height: 1.25em;
}

/* line 116, ../../sass/global/_dom.scss */
ul,
.item-list ul {
  margin: 1.25em 0.5em;
}
/* line 120, ../../sass/global/_dom.scss */
ul li,
ul li.leaf,
.item-list ul li,
.item-list ul li.leaf {
  list-style: disc;
  list-style-image: url("/sites/all/themes/mosaic/assets/images/li-red.png");
  margin: 0 0 0 1em;
  padding-top: 0;
}
/* line 126, ../../sass/global/_dom.scss */
ul li.collapsed,
.item-list ul li.collapsed {
  margin: 0 0 0 1em;
  padding-top: 0;
}

/* line 131, ../../sass/global/_dom.scss */
#autocomplete {
  border: 1px solid #dddddd;
}
/* line 134, ../../sass/global/_dom.scss */
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 141, ../../sass/global/_dom.scss */
#autocomplete ul li,
#autocomplete ul li.leaf {
  margin: 0;
  padding: 2px 3px;
  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid #dddddd;
}

/* line 151, ../../sass/global/_dom.scss */
ul.menu li {
  margin: 0;
}

/* line 155, ../../sass/global/_dom.scss */
ol {
  list-style: decimal;
  margin-left: 1.325em;
}

/* line 161, ../../sass/global/_dom.scss */
.html ul.links {
  display: block;
  min-height: 1.25em;
  margin: 0;
}
/* line 166, ../../sass/global/_dom.scss */
.html ul.links li {
  float: right;
  font-size: .9em;
  margin: 0;
  padding: 0 3px;
  border-right: 1px solid #dddddd;
}
/* line 173, ../../sass/global/_dom.scss */
.html ul.links li a {
  color: #9d9d9d;
}
/* line 176, ../../sass/global/_dom.scss */
.html ul.links li a:hover {
  color: #5e5e5e;
}

/* line 186, ../../sass/global/_dom.scss */
.html .form-item {
  margin: 0.625em 0 1.25em 0;
}
/* line 189, ../../sass/global/_dom.scss */
.html .form-item label {
  font-weight: bold;
  color: #777777;
}

/* line 195, ../../sass/global/_dom.scss */
.html .form-actions {
  margin: 0.625em 0;
}

/* line 199, ../../sass/global/_dom.scss */
input.form-submit {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF446EAC', endColorstr='#FF273F63');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #446eac), color-stop(70%, #4067a1));
  background: -webkit-linear-gradient(#446eac, #4067a1 70%);
  background: -moz-linear-gradient(#446eac, #4067a1 70%);
  background: -o-linear-gradient(#446eac, #4067a1 70%);
  background: linear-gradient(#446eac, #4067a1 70%);
  -webkit-box-shadow: #7496c8 0 1px 0 inset;
  -moz-box-shadow: #7496c8 0 1px 0 inset;
  box-shadow: #7496c8 0 1px 0 inset;
  border: 1px solid #385b8f;
  color: white;
  text-shadow: #1f3350 0 -1px 0;
  font-size: 16px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin: 0 5px 0 0;
}
/* line 15, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:hover {
  background-color: #385b8f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #3d629a), color-stop(75%, #385b8f));
  background: -webkit-linear-gradient(#3d629a 3%, #385b8f 75%);
  background: -moz-linear-gradient(#3d629a 3%, #385b8f 75%);
  background: -o-linear-gradient(#3d629a 3%, #385b8f 75%);
  background: linear-gradient(#3d629a 3%, #385b8f 75%);
}
/* line 21, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit:active {
  -webkit-box-shadow: #345484 0 1px 2px inset;
  -moz-box-shadow: #345484 0 1px 2px inset;
  box-shadow: #345484 0 1px 2px inset;
}
/* line 6, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input.form-submit.disabled, input.form-submit[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #4067a1;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
input.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 205, ../../sass/global/_dom.scss */
input#edit-delete {
  margin-left: 2em;
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB02E1C', endColorstr='#FF58170E');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b02e1c), color-stop(70%, #b02e1c));
  background: -webkit-linear-gradient(#b02e1c, #b02e1c 70%);
  background: -moz-linear-gradient(#b02e1c, #b02e1c 70%);
  background: -o-linear-gradient(#b02e1c, #b02e1c 70%);
  background: linear-gradient(#b02e1c, #b02e1c 70%);
  -webkit-box-shadow: #e04d39 0 1px 0 inset;
  -moz-box-shadow: #e04d39 0 1px 0 inset;
  box-shadow: #e04d39 0 1px 0 inset;
  border: 1px solid #9a2818;
  color: white;
  text-shadow: #42110b 0 -1px 0;
  font-size: 16px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 15, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete:hover {
  background-color: #9a2818;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #9a2818), color-stop(75%, #9a2818));
  background: -webkit-linear-gradient(#9a2818 3%, #9a2818 75%);
  background: -moz-linear-gradient(#9a2818 3%, #9a2818 75%);
  background: -o-linear-gradient(#9a2818 3%, #9a2818 75%);
  background: linear-gradient(#9a2818 3%, #9a2818 75%);
}
/* line 21, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete:active {
  -webkit-box-shadow: #8d2516 0 1px 2px inset;
  -moz-box-shadow: #8d2516 0 1px 2px inset;
  box-shadow: #8d2516 0 1px 2px inset;
}
/* line 6, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input#edit-delete.disabled, input#edit-delete[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #b02e1c;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
input#edit-delete::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 211, ../../sass/global/_dom.scss */
.form-textarea {
  font-size: 1em;
}

/* line 214, ../../sass/global/_dom.scss */
.filter-wrapper {
  padding: 0;
}
/* line 217, ../../sass/global/_dom.scss */
.filter-wrapper .filter-help {
  float: right;
  text-align: right;
  width: 49%;
  padding: 0;
}
/* line 223, ../../sass/global/_dom.scss */
.filter-wrapper .form-item {
  float: left;
  width: 50%;
  margin: 0 0 1.25em;
  padding: 0;
}
/* line 230, ../../sass/global/_dom.scss */
.filter-wrapper .form-item select,
.filter-wrapper .form-item label {
  float: left;
  margin-right: 5px;
}
/* line 235, ../../sass/global/_dom.scss */
.filter-wrapper .filter-guidelines {
  clear: both;
}

/* line 240, ../../sass/global/_dom.scss */
.form-item .description {
  background: #e8f4ea;
  font-size: 0.85em;
  padding: 0 3px;
}

/* line 246, ../../sass/global/_dom.scss */
input.form-text {
  font-size: 135%;
  width: 98.45%;
  padding: .25em;
}

/* line 252, ../../sass/global/_dom.scss */
html.js input.form-autocomplete {
  background-image: url(../assets/images/coral-throbber-blue-15.gif);
  background-position: 99.5% 10px;
  background-repeat: no-repeat;
}

/* line 258, ../../sass/global/_dom.scss */
html.js input.form-autocomplete {
  background-position: 99.5% 10px;
}

/* line 261, ../../sass/global/_dom.scss */
html.js input.throbbing {
  background-position: 99.5% -124px;
  /* LTR */
}

/* line 265, ../../sass/global/_dom.scss */
.vertical-tabs ul li {
  list-style: none;
}

/* line 270, ../../sass/global/_dom.scss */
a.btn {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF446EAC', endColorstr='#FF273F63');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #446eac), color-stop(70%, #4067a1));
  background: -webkit-linear-gradient(#446eac, #4067a1 70%);
  background: -moz-linear-gradient(#446eac, #4067a1 70%);
  background: -o-linear-gradient(#446eac, #4067a1 70%);
  background: linear-gradient(#446eac, #4067a1 70%);
  -webkit-box-shadow: #7496c8 0 1px 0 inset;
  -moz-box-shadow: #7496c8 0 1px 0 inset;
  box-shadow: #7496c8 0 1px 0 inset;
  border: 1px solid #385b8f;
  color: white;
  text-shadow: #1f3350 0 -1px 0;
  font-size: 16px;
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 271, ../../sass/global/_dom.scss */
a.btn:hover {
  color: white;
}
/* line 15, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.btn:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.btn:hover {
  background-color: #385b8f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #3d629a), color-stop(75%, #385b8f));
  background: -webkit-linear-gradient(#3d629a 3%, #385b8f 75%);
  background: -moz-linear-gradient(#3d629a 3%, #385b8f 75%);
  background: -o-linear-gradient(#3d629a 3%, #385b8f 75%);
  background: linear-gradient(#3d629a 3%, #385b8f 75%);
}
/* line 21, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.btn:active {
  -webkit-box-shadow: #345484 0 1px 2px inset;
  -moz-box-shadow: #345484 0 1px 2px inset;
  box-shadow: #345484 0 1px 2px inset;
}
/* line 6, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
a.btn.disabled, a.btn[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #4067a1;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
a.btn::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 282, ../../sass/global/_dom.scss */
table th {
  color: #777777;
  padding: 0 2px;
}
/* line 286, ../../sass/global/_dom.scss */
table tr.even {
  background: #e7e7e7;
  border: none;
}
/* line 290, ../../sass/global/_dom.scss */
table tr.odd {
  background: #f1f1f1;
  border: none;
}
/* line 294, ../../sass/global/_dom.scss */
table a.tabledrag-handle .handle {
  margin: 0em .25em 0 1em;
  padding: 0.5em 0.2em;
}

/* line 6, ../../sass/global/mce_content.scss */
body.mce-content-body {
  background-color: #fff;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 16px;
  scrollbar-3dlight-color: #f0f0ee;
  scrollbar-arrow-color: #676662;
  scrollbar-base-color: #f0f0ee;
  scrollbar-darkshadow-color: #ddd;
  scrollbar-face-color: #e0e0dd;
  scrollbar-highlight-color: #f0f0ee;
  scrollbar-shadow-color: #f0f0ee;
  scrollbar-track-color: #f5f5f5;
}

/* line 21, ../../sass/global/mce_content.scss */
td,
th {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
}

/* line 26, ../../sass/global/mce_content.scss */
.mce-object {
  border: 1px dotted #3a3a3a;
  background: #d5d5d5 url(img/object.gif) no-repeat center;
}

/* line 31, ../../sass/global/mce_content.scss */
.mce-pagebreak {
  cursor: default;
  display: block;
  border: 0;
  width: 100%;
  height: 5px;
  border: 1px dashed #666;
  margin-top: 15px;
}

/* line 41, ../../sass/global/mce_content.scss */
.mce-item-anchor {
  cursor: default;
  display: inline-block;
  -webkit-user-select: all;
  -webkit-user-modify: read-only;
  -moz-user-select: all;
  -moz-user-modify: read-only;
  width: 9px !important;
  height: 9px !important;
  border: 1px dotted #3a3a3a;
  background: #d5d5d5 url(img/anchor.gif) no-repeat center;
}

/* line 54, ../../sass/global/mce_content.scss */
.mce-nbsp {
  background: #AAA;
}

/* line 58, ../../sass/global/mce_content.scss */
hr {
  cursor: default;
}

/* line 62, ../../sass/global/mce_content.scss */
.mce-match-marker {
  background: green;
  color: #fff;
}

/* line 67, ../../sass/global/mce_content.scss */
.mce-spellchecker-word {
  background: url(img/wline.gif) repeat-x bottom left;
  cursor: default;
}

/* line 75, ../../sass/global/mce_content.scss */
.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
  border: 1px dashed #BBB;
}

/* line 80, ../../sass/global/mce_content.scss */
td.mce-item-selected,
th.mce-item-selected {
  background-color: #3399ff !important;
}

/* line 83, ../../sass/global/mce_content.scss */
.mce-edit-focus {
  outline: 1px dotted #333;
}
