
// Field tags scss styles
@import 'global/colors';
@import 'global/fonts';
@import 'global/icons';

.field-name-field-tags {
  margin: $default_vert_unit 0;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .field-label {
    float: left;
    display: block;
    text-indent: -9999em;
    color: $white;
    margin-top: 1px;
    margin-right: 5px;
    @include icons-sprite('coral-tag');
  }
  .field-item {
    float: left;
        
    &:after {
      content: ",";
      margin-right: 3px;
    }
    
    a {
      background: $ltgray;
      color: $mdgray;
      font-size: 85%;
      float: left;
      margin: 0 0 5px;
      padding: 0 3px;
      
      &:hover {
        color: $dkgray;
      }
    }
  }  
  .field-item:last-child {
    &:after {
      content: '';
      margin-right: 0;
    }
  }
} 

