/* line 6, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 15, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-label,
.field-name-field-tags .field-item {
  float: left;
}
