/* line 218, icons/*.png */
.icons-sprite, .field-name-field-tags .field-label {
  background: url('/images/icons-s0640884fd9.png') no-repeat;
}

/* line 7, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags {
  margin: 1.25em 0;
}
/* line 10, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 18, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-label {
  float: left;
  display: block;
  text-indent: -9999em;
  color: white;
  margin-top: 1px;
  margin-right: 5px;
  background-position: 0 -1798px;
  height: 14px;
  width: 11px;
}
/* line 27, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-item {
  float: left;
}
/* line 30, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-item:after {
  content: ",";
  margin-right: 3px;
}
/* line 35, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-item a {
  background: #dddddd;
  color: #777777;
  font-size: 85%;
  float: left;
  margin: 0 0 5px;
  padding: 0 3px;
}
/* line 43, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-item a:hover {
  color: #515151;
}
/* line 49, ../../sass/fields/field__field_tags.scss */
.field-name-field-tags .field-item:last-child:after {
  content: '';
  margin-right: 0;
}
