/* line 490, icons/*.png */
.icons-sprite, .field-name-field-locked .field-locked {
  background: url('/images/icons-s9e2153c174.png') no-repeat;
}

/* line 7, ../../sass/fields/field__field_locked.scss */
.field-name-field-locked .field-locked {
  color: transparent;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  float: right;
  cursor: default;
  margin-left: 5px;
  background-position: 0 -3441px;
  height: 25px;
  width: 25px;
}
