/* line 658, icons/*.png */
.icons-sprite {
  background: url('/images/icons-sab53ba634c.png') no-repeat;
}

/* line 13, ../../sass/views/view__slideshow.scss */
.html .view-slideshow ul {
  margin: 0;
}
/* line 15, ../../sass/views/view__slideshow.scss */
.html .view-slideshow ul li {
  margin: 0;
  padding: 0;
}
/* line 20, ../../sass/views/view__slideshow.scss */
.html .view-slideshow .bx-wrapper {
  margin-bottom: 2.5em;
}
/* line 24, ../../sass/views/view__slideshow.scss */
.html .view-slideshow .bx-wrapper .bx-pager,
.html .view-slideshow .bx-wrapper .bx-controls-auto {
  bottom: -5px;
}
/* line 28, ../../sass/views/view__slideshow.scss */
.html .view-slideshow .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: none;
}
/* line 37, ../../sass/views/view__slideshow.scss */
.html .view-slideshow .bx-controls .bx-prev {
  left: -10px;
}
/* line 40, ../../sass/views/view__slideshow.scss */
.html .view-slideshow .bx-controls .bx-next {
  right: -10px;
}
