/* line 8, ../../sass/views/view__answers__new_answers.scss */
.view-answers.view-display-id-new_answers .pager,
.view-answers.view-display-id-this_answer .pager {
  display: none;
}
/* line 10, ../../sass/views/view__answers__new_answers.scss */
.view-answers.view-display-id-new_answers .views-row,
.view-answers.view-display-id-this_answer .views-row {
  background: url(../../assets/images/coral-sep-med-simple.png) bottom center no-repeat;
}
/* line 13, ../../sass/views/view__answers__new_answers.scss */
.view-answers.view-display-id-new_answers .views-row-first,
.view-answers.view-display-id-this_answer .views-row-first {
  margin-top: 0;
}

/* line 23, ../../sass/views/view__answers__new_answers.scss */
.view-comments.view-display-id-new_comments .pager,
.view-comments.view-display-id-this_comment .pager {
  display: none;
}
/* line 25, ../../sass/views/view__answers__new_answers.scss */
.view-comments.view-display-id-new_comments .views-row,
.view-comments.view-display-id-this_comment .views-row {
  background: none;
}
/* line 28, ../../sass/views/view__answers__new_answers.scss */
.view-comments.view-display-id-new_comments .views-row-first,
.view-comments.view-display-id-this_comment .views-row-first {
  margin-top: 0;
}
