/* line 10, ../../sass/views/view__entity_authors__icon_set.scss */
.pane-entity-authors-icon-set {
  margin: 1.25em 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-entity-authors-icon-set:after {
  content: "";
  display: table;
  clear: both;
}
/* line 17, ../../sass/views/view__entity_authors__icon_set.scss */
.pane-entity-authors-icon-set h3 {
  border: 1px solid #efefef;
  overflow: visible;
  float: left;
  clear: none;
  margin-right: 0.3125em;
}
/* line 23, ../../sass/views/view__entity_authors__icon_set.scss */
.pane-entity-authors-icon-set h3 img {
  display: block;
}
