/* line 642, icons/*.png */
.icons-sprite, .view-user-content .views-field-field-tags .views-label, .pane-user-content-user-questions-fields .pane-title .icon, .pane-user-content-user-snippets-fields .pane-title .icon {
  background: url('/images/icons-s03a4934389.png') no-repeat;
}

/* line 11, ../../sass/views/view__user_content.scss */
.view-user-content {
  clear: both;
}
/* line 14, ../../sass/views/view__user_content.scss */
.view-user-content .views-row {
  margin: 0 1em;
  border-bottom: 1px solid #dddddd;
  padding: 1.25em 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-user-content .views-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-title a {
  color: #446eac;
}
/* line 29, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-title a:active, .view-user-content .views-field-title a.active {
  color: #32547d;
}
/* line 30, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-title a:hover {
  color: #2b486b;
}
/* line 33, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-body {
  color: #656565;
  margin: 0.625em 0;
}
/* line 38, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-field-answer-count,
.view-user-content .views-field-delta {
  color: #777777;
  float: right;
}
/* line 41, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-field-answer-count .cnt,
.view-user-content .views-field-delta .cnt {
  color: #36b048;
  font-weight: bold;
}
/* line 46, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-field-tags {
  margin: 0.625em 0 0;
}
/* line 51, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-field-tags .views-label {
  float: left;
  display: block;
  text-indent: -9999em;
  color: transparent;
  margin-top: 3px;
  margin-right: 5px;
  background-position: 0 -4713px;
  height: 14px;
  width: 11px;
}
/* line 60, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-field-tags a {
  background: #dddddd;
  color: #777777;
  font-size: 85%;
  margin: 0 0 5px;
  padding: 0 3px;
}
/* line 67, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-field-tags a:hover {
  color: #515151;
}
/* line 72, ../../sass/views/view__user_content.scss */
.view-user-content .views-field-timestamp {
  color: #b9490d;
  font-size: .9em;
}
/* line 76, ../../sass/views/view__user_content.scss */
.view-user-content .precrp {
  margin-bottom: 0;
  margin-top: 1.25em;
}
/* line 81, ../../sass/views/view__user_content.scss */
.view-user-content .pager {
  margin: 0;
  color: #777777;
}
/* line 84, ../../sass/views/view__user_content.scss */
.view-user-content .pager li {
  padding: 0;
}

/* line 91, ../../sass/views/view__user_content.scss */
.pane-user-content-user-questions-fields .pane-title {
  margin-top: 0;
  padding-top: 1em;
}
/* line 95, ../../sass/views/view__user_content.scss */
.pane-user-content-user-questions-fields .pane-title .icon {
  margin: -8px .5em 0;
  display: block;
  float: left;
  background-position: 0 -318px;
  height: 52px;
  width: 90px;
}

/* line 105, ../../sass/views/view__user_content.scss */
.pane-user-content-user-snippets-fields .pane-title {
  margin-top: 0;
  padding-top: 1em;
}
/* line 109, ../../sass/views/view__user_content.scss */
.pane-user-content-user-snippets-fields .pane-title .icon {
  margin: -3px .5em 0;
  display: block;
  float: left;
  background-position: 0 -2510px;
  height: 46px;
  width: 71px;
}
