/* line 210, icons/*.png */
.icons-sprite, .pane-coral-projects-panel-pane-1.proj-shell .icon, .pane-coral-projects-panel-pane-1.proj-drupal .icon, .pane-coral-projects-panel-pane-1.proj-vagrant .icon, .pane-coral-projects-panel-pane-1.proj-puppet .icon, .pane-coral-projects-panel-pane-1.proj-ruby .icon {
  background: url('/images/icons-sc44a47acbe.png') no-repeat;
}

/* line 9, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 {
  background: #d4dde7;
  margin-bottom: 1.25em;
  padding-bottom: 4px;
  border-bottom: 1px solid #b3c3d5;
  position: relative;
}
/* line 16, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .icon {
  display: block;
  position: absolute;
  top: 6px;
  left: 10px;
}
/* line 23, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .pane-title {
  font-size: 115%;
  padding: .75em 0 .75em 3em;
  margin: 0;
}
/* line 29, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 a {
  position: relative;
  top: -2px;
  font-size: 85%;
}
/* line 35, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects {
  background: #e5e5e5;
}
/* line 38, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-field-title {
  line-height: 1.25em;
  margin-top: 0.59524em;
  float: left;
  width: 25.08333%;
  margin-left: 2.08333%;
}
/* line 45, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-field-title a {
  color: #e17d2c;
}
/* line 47, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-field-title a:hover {
  color: #bf641b;
}
/* line 52, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .proj-links {
  line-height: 1.25em;
  margin-bottom: 0.625em;
  float: left;
  width: 27.16667%;
  margin-left: 2.08333%;
}
/* line 61, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-field-body {
  float: right;
  width: 68.75%;
}
/* line 62, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-field-body p {
  font-size: 85%;
  margin: 0.625em 0.625em 0.625em 0;
}
/* line 70, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-row {
  border-bottom: 1px solid #eaeaea;
}
/* line 73, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1 .view-coral-projects .views-row-even {
  background: #cad5e2;
}

/* line 80, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1.proj-shell .icon {
  top: 10px;
  background-position: 0 -1572px;
  height: 28px;
  width: 33px;
}

/* line 86, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1.proj-drupal .icon {
  background-position: 0 -898px;
  height: 38px;
  width: 33px;
}

/* line 91, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1.proj-vagrant .icon {
  background-position: 0 -546px;
  height: 38px;
  width: 37px;
}

/* line 96, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1.proj-puppet .icon {
  background-position: 0 -986px;
  height: 35px;
  width: 34px;
}

/* line 101, ../../sass/views/view__coral_projects.scss */
.pane-coral-projects-panel-pane-1.proj-ruby .icon {
  top: 10px;
  background-position: 0 -1150px;
  height: 28px;
  width: 29px;
}
