/* line 10, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form {
  height: 3.45em;
}
/* line 14, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix {
  display: block;
  height: 2.2em;
  background: #fff9d0;
  margin-right: -2%;
  margin-bottom: 0;
  padding: 0.625em 0;
  float: left;
  width: 58.25%;
}
/* line 23, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix:after {
  display: inline;
}
/* line 25, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix select {
  position: relative;
  top: -1px;
  margin-left: 5px;
}
/* line 30, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix label {
  float: left;
  font-weight: normal;
}
/* line 34, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix .views-exposed-widget {
  margin: .45em 1em 0 0;
  padding: 0;
}
/* line 38, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix .views-exposed-widget .form-item {
  margin: 0;
}
/* line 42, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix .views-widget-sort-by {
  margin-left: 1em;
}
/* line 45, ../../sass/views/view__discussion_comments.scss */
.page-node-talk .view-discussion-comments .views-exposed-form .views-exposed-widgets.clearfix .form-submit {
  margin-top: 0;
}

/* line 52, ../../sass/views/view__discussion_comments.scss */
.view-discussion-comments.view-sortby-created .comment {
  margin-left: 0;
}
