/* line 586, icons/*.png */
.icons-sprite, .view-user-bookmarks .views-field-field-tags .views-label {
  background: url('/images/icons-sfc34dd85de.png') no-repeat;
}

/* line 10, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-row {
  margin: 0 1em;
  border-bottom: 1px solid #dddddd;
  padding: 1.25em 0;
}
/* line 18, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-title {
  margin-right: .5em;
}
/* line 21, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-title a {
  color: #446eac;
}
/* line 23, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-title a:active, .view-user-bookmarks .views-field-title a.active {
  color: #32547d;
}
/* line 24, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-title a:hover {
  color: #2b486b;
}
/* line 27, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-body {
  color: #656565;
  margin: 0.625em 0;
}
/* line 31, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-field-answer-count {
  color: #777777;
  float: right;
}
/* line 34, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-field-answer-count .cnt {
  color: #36b048;
  font-weight: bold;
}
/* line 39, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-timestamp {
  color: #b9490d;
  font-size: .9em;
}
/* line 44, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-field-tags {
  margin: 0.625em 0 0;
}
/* line 49, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-field-tags .views-label {
  float: left;
  display: block;
  text-indent: -9999em;
  color: transparent;
  margin-top: 3px;
  margin-right: 5px;
  background-position: 0 -4203px;
  height: 14px;
  width: 11px;
}
/* line 58, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-field-tags a {
  background: #dddddd;
  color: #777777;
  font-size: 85%;
  margin: 0 0 5px;
  padding: 0 3px;
}
/* line 65, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .views-field-field-tags a:hover {
  color: #515151;
}
/* line 71, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .precrp {
  margin-bottom: 0;
  margin-top: 1.25em;
}
/* line 76, ../../sass/views/view__user_bookmarks.scss */
.view-user-bookmarks .pager {
  margin: 0;
  color: #777777;
}
