/* line 274, icons/*.png */
.icons-sprite, .node-type-question .pane-coral-page-title .icon,
.node-type-question .question-node-teaser-pane-title .icon,
.node-teaser.node-question .pane-coral-page-title .icon,
.node-teaser.node-question .question-node-teaser-pane-title .icon {
  background: url('/images/icons-sbf3e80bf87.png') no-repeat;
}

/* line 16, ../../../sass/nodes/types/node_question.scss */
.node-type-question .pane-coral-page-title,
.node-type-question .question-node-teaser-pane-title,
.node-teaser.node-question .pane-coral-page-title,
.node-teaser.node-question .question-node-teaser-pane-title {
  line-height: 1.125em;
}
/* line 19, ../../../sass/nodes/types/node_question.scss */
.node-type-question .pane-coral-page-title .icon,
.node-type-question .question-node-teaser-pane-title .icon,
.node-teaser.node-question .pane-coral-page-title .icon,
.node-teaser.node-question .question-node-teaser-pane-title .icon {
  display: block;
  float: left;
  margin: 5px .5em 0 0;
  background-position: 0 -1796px;
  height: 27px;
  width: 24px;
}
/* line 27, ../../../sass/nodes/types/node_question.scss */
.node-type-question .pane-coral-page-title h2,
.node-teaser.node-question .pane-coral-page-title h2 {
  color: #3a5e92;
  font-weight: bold;
  margin-top: .15em;
}
/* line 35, ../../../sass/nodes/types/node_question.scss */
.node-type-question .pane-coral-add-comment,
.node-type-question .pane-coral-add-answer,
.node-type-question .pane-node-links,
.node-teaser.node-question .pane-coral-add-comment,
.node-teaser.node-question .pane-coral-add-answer,
.node-teaser.node-question .pane-node-links {
  float: left;
  height: 2.65em;
}
/* line 38, ../../../sass/nodes/types/node_question.scss */
.node-type-question .pane-coral-add-comment .links,
.node-type-question .pane-coral-add-answer .links,
.node-type-question .pane-node-links .links,
.node-teaser.node-question .pane-coral-add-comment .links,
.node-teaser.node-question .pane-coral-add-answer .links,
.node-teaser.node-question .pane-node-links .links {
  padding: 0;
  margin: 0;
}
/* line 42, ../../../sass/nodes/types/node_question.scss */
.node-type-question .pane-coral-add-comment .links li,
.node-type-question .pane-coral-add-answer .links li,
.node-type-question .pane-node-links .links li,
.node-teaser.node-question .pane-coral-add-comment .links li,
.node-teaser.node-question .pane-coral-add-answer .links li,
.node-teaser.node-question .pane-node-links .links li {
  margin: 0 5px 0 0;
  padding: 2px 5px 1px;
}
/* line 53, ../../../sass/nodes/types/node_question.scss */
.node-type-question .field-name-field-answer,
.node-type-question .field-name-field-comment-count,
.node-type-question .field-name-field-answer-count,
.node-type-question .field-type-file legend,
.node-teaser.node-question .field-name-field-answer,
.node-teaser.node-question .field-name-field-comment-count,
.node-teaser.node-question .field-name-field-answer-count,
.node-teaser.node-question .field-type-file legend {
  display: none;
}
/* line 59, ../../../sass/nodes/types/node_question.scss */
.node-type-question .layout-node-1 .site-width,
.node-teaser.node-question .layout-node-1 .site-width {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.node-type-question .layout-node-1 .site-width:after,
.node-teaser.node-question .layout-node-1 .site-width:after {
  content: "";
  display: table;
  clear: both;
}
