/* line 250, icons/*.png */
.icons-sprite {
  background: url('/images/icons-s3a3d07d586.png') no-repeat;
}

/* line 25, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .pane-coral-page-title h2,
.html .node-teaser.node-comment .pane-coral-page-title h2 {
  color: #3a5e92;
  font-weight: bold;
  margin-top: .15em;
}
/* line 34, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node,
.html .node-type-comment .pane-coral-add-comment,
.html .node-type-comment .pane-coral-add-answer,
.html .node-type-comment .pane-node-links,
.html .node-teaser.node-comment .pane-coral-flag-abuse-node,
.html .node-teaser.node-comment .pane-coral-add-comment,
.html .node-teaser.node-comment .pane-coral-add-answer,
.html .node-teaser.node-comment .pane-node-links {
  float: right;
  height: 2.65em;
}
/* line 37, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node .links,
.html .node-type-comment .pane-coral-add-comment .links,
.html .node-type-comment .pane-coral-add-answer .links,
.html .node-type-comment .pane-node-links .links,
.html .node-teaser.node-comment .pane-coral-flag-abuse-node .links,
.html .node-teaser.node-comment .pane-coral-add-comment .links,
.html .node-teaser.node-comment .pane-coral-add-answer .links,
.html .node-teaser.node-comment .pane-node-links .links {
  padding: 0;
  margin: 0;
}
/* line 41, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node .links li,
.html .node-type-comment .pane-coral-add-comment .links li,
.html .node-type-comment .pane-coral-add-answer .links li,
.html .node-type-comment .pane-node-links .links li,
.html .node-teaser.node-comment .pane-coral-flag-abuse-node .links li,
.html .node-teaser.node-comment .pane-coral-add-comment .links li,
.html .node-teaser.node-comment .pane-coral-add-answer .links li,
.html .node-teaser.node-comment .pane-node-links .links li {
  margin: 0 5px 0 0;
  padding: 2px 5px 1px;
}
/* line 47, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .pane-coral-flag-abuse-node,
.html .node-teaser.node-comment .pane-coral-flag-abuse-node {
  margin-right: 1em;
}
/* line 51, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .pane-node-field-tags,
.html .node-teaser.node-comment .pane-node-field-tags {
  clear: left;
}
/* line 58, ../../../sass/nodes/types/node_comment.scss */
.html .node-type-comment .field-name-field-content,
.html .node-type-comment .field-name-field-comment-count,
.html .node-type-comment .field-type-file legend,
.html .node-teaser.node-comment .field-name-field-content,
.html .node-teaser.node-comment .field-name-field-comment-count,
.html .node-teaser.node-comment .field-type-file legend {
  display: none;
}
