/* line 338, icons/*.png */
.icons-sprite, .html div.node-type-answer .pane-coral-page-title .icon,
.html div.node-type-answer .answer-node-teaser-pane-title .icon,
.html div.node-teaser.node-answer .pane-coral-page-title .icon,
.html div.node-teaser.node-answer .answer-node-teaser-pane-title .icon {
  background: url('/images/icons-s6bd60a2940.png') no-repeat;
}

/* line 15, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer,
.html div.node-teaser.node-answer {
  margin: 0;
}
/* line 22, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .pane-coral-page-title .icon,
.html div.node-type-answer .answer-node-teaser-pane-title .icon,
.html div.node-teaser.node-answer .pane-coral-page-title .icon,
.html div.node-teaser.node-answer .answer-node-teaser-pane-title .icon {
  display: block;
  float: left;
  margin: 3px .5em 0 0;
  background-position: 0 -1720px;
  height: 26px;
  width: 25px;
}
/* line 32, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .pane-coral-add-comment,
.html div.node-type-answer .pane-coral-add-answer,
.html div.node-type-answer .pane-node-links,
.html div.node-teaser.node-answer .pane-coral-add-comment,
.html div.node-teaser.node-answer .pane-coral-add-answer,
.html div.node-teaser.node-answer .pane-node-links {
  float: left;
}
/* line 35, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .pane-coral-add-comment .links,
.html div.node-type-answer .pane-coral-add-answer .links,
.html div.node-type-answer .pane-node-links .links,
.html div.node-teaser.node-answer .pane-coral-add-comment .links,
.html div.node-teaser.node-answer .pane-coral-add-answer .links,
.html div.node-teaser.node-answer .pane-node-links .links {
  padding: 0;
  margin: 0;
}
/* line 39, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .pane-coral-add-comment .links li,
.html div.node-type-answer .pane-coral-add-answer .links li,
.html div.node-type-answer .pane-node-links .links li,
.html div.node-teaser.node-answer .pane-coral-add-comment .links li,
.html div.node-teaser.node-answer .pane-coral-add-answer .links li,
.html div.node-teaser.node-answer .pane-node-links .links li {
  margin: 0 6px 0 0;
  padding: 1px 3px 0 0;
}
/* line 46, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .answer-node-pane-title,
.html div.node-teaser.node-answer .answer-node-pane-title {
  font-size: 1.25em;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}
/* line 52, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .layout-node-1 .site-width,
.html div.node-teaser.node-answer .layout-node-1 .site-width {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.html div.node-type-answer .layout-node-1 .site-width:after,
.html div.node-teaser.node-answer .layout-node-1 .site-width:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../../../sass/nodes/types/node_answer.scss */
.html div.node-type-answer .field-name-field-content,
.html div.node-type-answer .field-name-field-comment-count,
.html div.node-type-answer .field-type-file legend,
.html div.node-teaser.node-answer .field-name-field-content,
.html div.node-teaser.node-answer .field-name-field-comment-count,
.html div.node-teaser.node-answer .field-type-file legend {
  display: none;
}
