/* line 250, icons/*.png */
.icons-sprite {
  background: url('/images/icons-s3a3d07d586.png') no-repeat;
}

/* line 25, ../../../sass/nodes/types/node_comment.scss */
.node-type-comment .pane-coral-page-title h2,
.node-teaser.node-comment .pane-coral-page-title h2 {
  color: #3a5e92;
  font-weight: bold;
  margin-top: .15em;
}
/* line 33, ../../../sass/nodes/types/node_comment.scss */
.node-type-comment .pane-coral-add-comment,
.node-type-comment .pane-coral-add-answer,
.node-type-comment .pane-node-links,
.node-teaser.node-comment .pane-coral-add-comment,
.node-teaser.node-comment .pane-coral-add-answer,
.node-teaser.node-comment .pane-node-links {
  float: left;
  height: 2.65em;
}
/* line 36, ../../../sass/nodes/types/node_comment.scss */
.node-type-comment .pane-coral-add-comment .links,
.node-type-comment .pane-coral-add-answer .links,
.node-type-comment .pane-node-links .links,
.node-teaser.node-comment .pane-coral-add-comment .links,
.node-teaser.node-comment .pane-coral-add-answer .links,
.node-teaser.node-comment .pane-node-links .links {
  padding: 0;
  margin: 0;
}
/* line 40, ../../../sass/nodes/types/node_comment.scss */
.node-type-comment .pane-coral-add-comment .links li,
.node-type-comment .pane-coral-add-answer .links li,
.node-type-comment .pane-node-links .links li,
.node-teaser.node-comment .pane-coral-add-comment .links li,
.node-teaser.node-comment .pane-coral-add-answer .links li,
.node-teaser.node-comment .pane-node-links .links li {
  margin: 0 5px 0 0;
  padding: 2px 5px 1px;
}
/* line 47, ../../../sass/nodes/types/node_comment.scss */
.node-type-comment .pane-node-field-tags,
.node-teaser.node-comment .pane-node-field-tags {
  clear: left;
}
/* line 54, ../../../sass/nodes/types/node_comment.scss */
.node-type-comment .field-name-field-content,
.node-type-comment .field-name-field-comment-count,
.node-type-comment .field-type-file legend,
.node-teaser.node-comment .field-name-field-content,
.node-teaser.node-comment .field-name-field-comment-count,
.node-teaser.node-comment .field-type-file legend {
  display: none;
}
