/* line 442, icons/*.png */
.icons-sprite, .html .node-type-question .pane-coral-page-title .icon,
.html .node-type-question .question-node-teaser-pane-title .icon,
.html .node-teaser.node-question .pane-coral-page-title .icon,
.html .node-teaser.node-question .question-node-teaser-pane-title .icon {
  background: url('/images/icons-s90292af557.png') no-repeat;
}

/* line 16, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .pane-coral-page-title,
.html .node-type-question .question-node-teaser-pane-title,
.html .node-teaser.node-question .pane-coral-page-title,
.html .node-teaser.node-question .question-node-teaser-pane-title {
  line-height: 1.125em;
}
/* line 19, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .pane-coral-page-title .icon,
.html .node-type-question .question-node-teaser-pane-title .icon,
.html .node-teaser.node-question .pane-coral-page-title .icon,
.html .node-teaser.node-question .question-node-teaser-pane-title .icon {
  display: block;
  float: left;
  margin: 5px .5em 0 0;
  background-position: 0 -2290px;
  height: 27px;
  width: 24px;
}
/* line 27, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .pane-coral-page-title h2,
.html .node-teaser.node-question .pane-coral-page-title h2 {
  color: #3a5e92;
  font-weight: bold;
  margin-top: .15em;
}
/* line 35, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .pane-coral-add-comment,
.html .node-type-question .pane-coral-add-answer,
.html .node-type-question .pane-node-links,
.html .node-teaser.node-question .pane-coral-add-comment,
.html .node-teaser.node-question .pane-coral-add-answer,
.html .node-teaser.node-question .pane-node-links {
  float: left;
}
/* line 38, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .pane-coral-add-comment .links,
.html .node-type-question .pane-coral-add-answer .links,
.html .node-type-question .pane-node-links .links,
.html .node-teaser.node-question .pane-coral-add-comment .links,
.html .node-teaser.node-question .pane-coral-add-answer .links,
.html .node-teaser.node-question .pane-node-links .links {
  padding: 0;
  margin: 0;
}
/* line 42, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .pane-coral-add-comment .links li,
.html .node-type-question .pane-coral-add-answer .links li,
.html .node-type-question .pane-node-links .links li,
.html .node-teaser.node-question .pane-coral-add-comment .links li,
.html .node-teaser.node-question .pane-coral-add-answer .links li,
.html .node-teaser.node-question .pane-node-links .links li {
  margin: 0 6px 0 0;
  padding: 1px 3px 1px 0;
}
/* line 53, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .field-name-field-answer,
.html .node-type-question .field-name-field-comment-count,
.html .node-type-question .field-name-field-answer-count,
.html .node-type-question .field-type-file legend,
.html .node-teaser.node-question .field-name-field-answer,
.html .node-teaser.node-question .field-name-field-comment-count,
.html .node-teaser.node-question .field-name-field-answer-count,
.html .node-teaser.node-question .field-type-file legend {
  display: none;
}
/* line 59, ../../../sass/nodes/types/node_question.scss */
.html .node-type-question .layout-node-1 .site-width,
.html .node-teaser.node-question .layout-node-1 .site-width {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.html .node-type-question .layout-node-1 .site-width:after,
.html .node-teaser.node-question .layout-node-1 .site-width:after {
  content: "";
  display: table;
  clear: both;
}

/* line 65, ../../../sass/nodes/types/node_question.scss */
.html .node-question.boxopen {
  position: relative;
  z-index: 6;
  background: white;
  margin-top: -0.625em;
  margin-bottom: -0.625em;
  margin-left: -1.25em;
  margin-right: -1.25em;
  padding: 0.625em 1.25em;
}
