
// Section intro attachment styles.
// Used for section intros for project types: packages, components, etc.

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";

@import 'global/arrows';
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/headers';

.node-section-intro {
  margin-bottom: (1.25 * $default_vert_unit) !important;

  .content {
    padding: 0 1em;
  }

  .field-name-field-logo {
    @include col(4.5);
    margin-right: 2%;
    margin-top: $default_vert_unit;
    img {
    }
  }
  .field-name-body {
    @include col(19.5);
  }

  .node-teaser-title {
    display: none;
  }
}



// instance modifications
//  we know it will need chichlets here.
div.ui-tabs.project-library {
  & > h3 {
    @include h2;
    @include text-shadow(2px 2px 2px $white);
    @include pie-clearfix;
    background: lighten($ltgray, 8%);
    margin: 0 0 .85em -15.5em;
    padding: 0 0 0 15.75em;
    color: $mdgray;
    border-top: 1px solid $mdgray;
    box-sizing: border-box;
    position: relative;

    span {
      display: block;
      float: left;
      border-top: 3px solid $mdgray;
      position: relative;
      padding: .25em 0 .25em 0;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 45%;
        height: 0px;
        width: 0px;
        @include arrow-down(6px, $mdgray);
      }
    }
  }
  .ui-tabs-panel {
    border: none;
  }
  .ui-tabs-nav {
    li {
      border-bottom-width: 1px;

      @include btn-glass(5px, 16px, $mdblue, lighten($mdblue, 10%), $white);
      @include btn-structure(1px 0px, 16px, 0px);

      a {
        color: $white;
      }

      &.ui-state-active {
        border: none;
        background: none;

        @include box-shadow(inset 0 0 0 rgba(0, 0, 0, 0));

        text-shadow: none;

        a {
          color: $dkgray;

          .ltyellow {
            color: $dkyellow;
          }
        }
      }
    }
    li.ui-tabs-active {
      margin-bottom: 0px;
      padding-bottom: 3px;
    }
    li.ui-corner-top {
      margin-bottom: .5em;
      @include border-radius(4px);
      a {
        padding: ($default_vert_unit / 4) ($default_vert_unit / 2);
      }
    }
    li.ui-tabs-selected {
      padding-bottom: 0px;
      margin-bottom: .5em;
    }
  }
  .ui-widget-header {
    background: none;
    border: none;
    padding: .25em 0 0 0;
  }
}