
// Node question scss file

@import 'global/colors';
@import 'global/fonts';
@import 'global/icons';
@import 'global/gradients';

@import 'compass/utilities/general/clearfix';
@import 'compass/css3/box-shadow';

.html .node-type-question,
.html .node-teaser.node-question {
  
  .pane-coral-page-title,
  .question-node-teaser-pane-title {
    line-height: .9 * $default_vert_unit;
    
    .icon { // apply question mark icon
      display: block;
      float: left;
      margin: 5px .5em 0 0;
      @include icons-sprite('coral-q');
    }
  }
  
  .pane-coral-page-title h2 {
    color: darken($mdblue, 7%);
    font-weight: bold;
    margin-top: .15em;
  }
  
  .pane-coral-add-comment,
  .pane-coral-add-answer,
  .pane-node-links { // float links beside each other
    float: left;

    .links { // standardize 
      padding: 0; 
      margin: 0; 
      
      li {
        margin: 0 6px 0 0;
        padding: 1px 3px 1px 0;
      }
    }
  }
  
  // Hide some things
  .field-name-field-answer,
  .field-name-field-comment-count,
  .field-name-field-answer-count,
  .field-type-file legend {
    display: none;
  }
  
  // Inner question node + answers form and view
  .layout-node-1 {
    .site-width {
      @include pie-clearfix;
    }
  }
}

.html .node-question.boxopen {
  position: relative;
  z-index: 6;
  background: $white;
  margin-top: -1 * ($default_vert_unit / 2);
  margin-bottom: -1 * ($default_vert_unit / 2);
  margin-left: -1 * ($default_vert_unit);
  margin-right: -1 * ($default_vert_unit);
  padding: ($default_vert_unit / 2) $default_vert_unit;
}

