
// Some scss customizations for the book node type.
//  adjusts a few layout parameters
@import 'global/arrows';
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/headers';
@import 'global/icons';
@import 'global/site_vars';
@import 'global/gradients';

@import 'compass/utilities/general/clearfix';
@import 'compass/css3/box-sizing';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';

// Re-adjust the grid ;-)
// Actual book node styles
.layout-landing-responsive .secondary-content { @include col(8); }
.layout-landing-responsive .main-content { 
  .limiter.prepend-1 {
    margin-left: $default_vert_unit / 2;
  }
  
  @include col(16, 'true', right); 
}

.page-comment-reply .book-node-pane-title,
.node-type-book .book-node-pane-title,
.node-type-book .pane-node-title,
.node-teaser.node-book .book-node-pane-title {
  h1 { // main page title
    margin: -.15em 0 .65em 0;
    line-height: 16px;
  }

  .icon {
    display: block;
    float: left;
    margin-right: .4em;
    margin-top: -3px;
    @include icons-sprite('coral-book');
  }
}
// Override the icon settings on the teaser mode
.node-teaser.node-book .book-node-pane-title {
  .icon {
    margin-top: .35em;
  }
}

.node-type-book .book-node-pane-title {
  display: none;
}

.node-teaser.node-book,
.node-type-book {
  
  // Add icons and so on
  .links {
    .icon {
      display: block;
      float: left;
      margin: 2px 2px 0 0;
    }
    .discussion a {
      .icon {
        @include icons-sprite('coral-comment');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('coral-comment-on');
      }
    }
    
    .book_printer a {
      .icon {
        @include icons-sprite('print-off');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('print');
      }
    }
    
    .book_add_child a {
      .icon {
        @include icons-sprite('coral-new-page-off');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('coral-new-page');
      }
    }
  }
  
  .pane-coral-node-stats {
    margin: .525em 0 1.25em; // same as fields here...
    
    .coral-stat {
      float: right;
      line-height: inherit;
      font-size: 90%;
      .icon {
        margin: 0;
      }
    }
  }
}


// Full node display
.page-node.node-type-book .pane-node .links {
  //padding: ($default_vert_unit / 2) 0;
  
  li.first {
    border-right: none;
  }
}


// Talk section styles - see Discussion (talk) tab
.page-comment-reply .layout-node-1 .main-content,
.node-type-book.node-talk .layout-node-1 .main-content { 
  position: relative;
  //overflow: hidden;
  
  h1.page-title {
    margin-bottom: 0;
  }

  .book-node-pane-title {
    @include h0;
    display: block;
    background: lighten($mdgray, 7%);
    margin: -1em -1em $default_vert_unit;
    padding: $default_vert_unit / 2;
    .icon {
      margin-top: 0;
    }
    a {
      color: $white;
    }
    //@include col(10, false, right);
  }
  
  //pane-entity-view pane-node
  //.pane-node-body {
  .pane-entity-view.pane-node {
    background: lighten($ltgray, 10%);
    margin-left: 1em;
    margin-bottom: $default_vert_unit;
    
    h2.node-title {
      display: none;
    }
    
    & > .pane-content {
      border: 1px solid $mdgray;
      padding: 1em;
      //.node-book { margin-top: $default_vert_unit; }
    }
    ul.links.inline {
      margin: 0;

      &:after {
        display: none;
      }
      
      li.first {
        border-right: none;
      }
    }
    
    @include col(10, false, right);   
  }
  
  @include col(24, true, none); 
}

@media screen and (max-width: $tabletw) {
  .node-type-book .pane-coral-node-stats {
    
  }
}
@media screen and (max-width: $tabletw) {
  .page-comment.page-comment-reply,
  .page-node.node-type-book {
    .layout-landing-responsive .secondary-content { 
      @include col($columns, 'true');
    
      .panel-pane {
        @include col($columns, 'true');
        margin-right: 0;
      }
      
      .pane-documentation-related-node {
        margin-top: 0;
      }
      
      .pane-related-qa-small-list {
        @include col($columns, 'true');
        margin-right: 0;
      }
    }
    .layout-landing-responsive .main-content { 
      @include col($columns, 'true');
      
      & > .prepend-1 {
        margin: 0;
      }
    }
    
    #main-content .layout-node-1 {
      .pane-node {
        float: right;
        width: 100%;
        margin-right: -100%;
        
        // Prevent the node's height from 
        //  affecting the comment container for now
        display: none;
      }
      h1.page-title {
        &:after {
          display: block;
        }
      }
    }
    
    // tags and stats will sit atop one another
    .pane-node-field-tags,
    .pane-coral-node-stats {
      width: 100%;
      float: none;
    }
  }
}

.node-full-node.node-book, // full node
.node-teaser.node-book {   // and teaser
  .pane-node-field-book-timeline {
    .tline {
      height: 100%;
      position: absolute; 
      left: 50%;
      width: 2px;
      background: $ltblue;
      bottom: 10px;
      margin-left: -1px;
      z-index: 5;
    }
    .field-name-field-book-timeline > .field-items {
      width: 100%;
      position: relative;
      list-style: none;
      overflow: hidden; 
      padding: 0px;
      margin: 0;
    
      & > .field-item {
        width: 48%;
        background: desaturate(lighten($ltblue, 10%), 20%);
        color: $dkgray;
        position: relative;
        margin-bottom: 10px;
  
        &:before{
          border: 7px solid;
          content: '';
          display: block;
          position: absolute;
        }
        
        .field-collection-view {
          border-bottom: none;
          padding: 0;
          margin: 0;
        }
      }
      & > .field-item.even {
        float:left;
        clear:left;
        
        &:before{
          border-color: $white $white $white lighten($ltblue, 5%);
          right: -14px;
          top: 14px;
        }
      }
      & > .field-item.odd {
        float:right;
        clear:right;
        
        &:before{
          border-color: $white lighten($ltblue, 5%) $white $white;
          left: -14px;
          top: 14px;
        }
      }
      .field-item.spacer {
        background: none;
  
        &:before {
          display: none;
        }
      }
    }
    
    .field-name-field-timeline-item-label  {
      font-weight: bold;
      color: $mdgray;
      float: left;
      margin: ($default_vert_unit / 2) .5em ($default_vert_unit / 2) 1em;
    }
    
    .field-name-field-timeline-item-date {
      float: right;
      color: $mdblue;
      margin: ($default_vert_unit / 2) 1em ($default_vert_unit / 2) .5em;
    }
    
    .field-name-field-timeline-item-body {
      padding: ($default_vert_unit / 2) 1em;
      border-top: 1px solid $silver;
      clear: both;
      background: rgba(255,255,255,.35);
    }
  }
  .field-name-field-timeline-title {
    @include h4;
    color: $dkorange;
  }
  .btn.tl { // timeline view/hide button
    margin-bottom: $default_vert_unit / 2;
  }
}
