
// Snippet node scss file

@import 'global/arrows';
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/headers';
@import 'global/icons';

.page-node.node-type-snippet {
  .layout-landing-1 {
    .grid-11 {
      @include col(8);
    };
    .grid-13-last {
      @include col(16, true);
    };
  }
  
  // Only apply to full-node display
  .snippet-node-pane-title {
    a {
      color: $mdred;
      cursor: text;
      font-weight: normal;
    }
    @include h1;
  }
}

.node-snippet {
  padding-bottom: $default_vert_unit;
  
  .snippet-node-pane-title {
    .icon {
      display: block;
      float: left;
      margin-top: 7px;
      margin-right: 5px;
      @include icons-sprite('coral-snippet-tools');
    }
  }
  .pane-node-links {
    float: right;
    margin-bottom: $default_vert_unit / 2;
    li.first {
      border-right: none;
    }
  }
  .pane-coral-snippet-components {
    float: right;
    li.comp_count {
      padding-right: 5px;
    }
    a {
      color: lighten($mdgray,15%);
      
      &:hover {
        color: darken($mdgray, 10%);
      }
    }
  }
  
  .field-collection-container {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  .field-collection-view {
    padding: 0 0 $default_vert_unit;
    margin: $default_vert_unit 0 $default_vert_unit;
    border-bottom: 1px solid $ltgray;
    
    .field-name-field-component-label {
      @include h4;
      margin-top: 0;
      color: desaturate($mdblue, 15%);
      float: left;
    }
    .field-name-field-component-language {
      float: left;
      color: lighten($mdgray, 7%);
      line-height: 2.5em;
      margin-left: 1em;
    }
    .field-name-field-component-description {
      clear: both;
      .field-item {
        margin: $default_vert_unit 0;
      }
    }
    
    .field-collection-view-links {
      display: none;
    }
    
    .cp-cont {
      height: $default_vert_unit;
      margin: 0 0 10px;
      position: relative;
      
      .copy-btn {
        color: transparent;
        text-indent: -9999em;
        display: block;
        float: right;
        
        @include icons-sprite('copy-clip'); 
      }
      .copy-msg {
        position: absolute;
        top: 25px;
        right: -56px;
        background: $ltblue;
        z-index: 8;
        min-width: 125px;
        text-align: center;
        
        .arrow-up {
          display: block;
          position: absolute;
          top: -10px;
          right: 58px;
          @include arrow-up(5px, $ltblue)
        }
      }
    }
  }
  .field-collection-description,
  .action-links-field-collection-add {
    display: none;
  }
}

.pane-coral-wiki-ask-question .ask-btn .icon {
  margin-top: 0;
}
