
// Some scss customizations for the book node type.
//  adjusts a few layout parameters
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/icons';

@import "compass/utilities/general/clearfix";

// Re-adjust the grid ;-)
// Actual book node styles
.layout-landing-1 .main-content      { @include col(8); }
.layout-landing-1 .secondary-content { 
  .limiter.prepend-1 {
    margin-left: $default_vert_unit / 2;
  }
  
  @include col(16, true); 
}

.page-comment-reply .pane-node-title,
.node-type-book .pane-node-title {
  h1 { 
    margin: .75em 0;
    line-height: 16px;
  }
    
  .icon {
    display: block;
    float: left;
    margin-right: .4em;
    margin-top: -3px;
    
    @include icons-sprite('coral-book');
  }
  ul.links li {
    float: left;
    margin: 0 5px 5px 0;
  }
}

.node-type-book {
  // Add icons and so on
  .links {
    .icon {
      display: block;
      float: left;
      margin: 2px 2px 0 0;
    }
    .discussion a {
      .icon {
        @include icons-sprite('coral-comment');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('coral-comment-on');
      }
    }
    
    .book_printer a {
      .icon {
        @include icons-sprite('print-off');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('print');
      }
    }
    
    .book_add_child a {
      .icon {
        @include icons-sprite('coral-new-page-off');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('coral-new-page');
      }
    }
  }
  
  .book-navigation {
    clear: both;
    .menu {
      padding: .3125em 1em;
      margin: 0;
    }
  }
}


// Full node display
.page-node.node-type-book .pane-node .links {
  padding: ($default_vert_unit / 2) 0;
  
  li.first {
    border-right: none;
  }
}


// Talk section styles - see Discussion (talk) tab
.page-comment-reply .layout-node-1 .main-content,
.node-type-book.node-talk .layout-node-1 .main-content { 
  position: relative;
  
  .pane-page-title h1 {

  }
  
  .pane-node-title {
     background: lighten($mdgray, 7%);
     position: absolute;
     top: 0;
     right: 0px;
     .icon {
       margin-top: 0;
     }
     a {
       color: $white;
     }
     
     .pane-content {
       padding: $default_vert_unit / 2;
     }
      
    @include col(10, false, right);
  }
  
  //pane-entity-view pane-node
  //.pane-node-body {
  .pane-entity-view.pane-node {
    background: lighten($ltgray, 10%);
    margin-left: 1em;
    margin-bottom: $default_vert_unit;
    
    h2.node-title {
      display: none;
    }
    
    & > .pane-content {
      border: 1px solid $mdgray;
      padding: (2 * $default_vert_unit) 16px 16px;
      .node-book { margin-top: $default_vert_unit; }
    }
    ul.links.inline {
      margin: 0;

      &:after {
        display: none;
      }
      
      li.first {
        border-right: none;
      }
    }
    
    @include col(10, false, right);   
  }
  
  @include col(24, true, none); 
}