
// Scss file for node answers

@import 'global/colors';
@import 'global/fonts';
@import 'global/headers';
@import 'global/icons';
@import 'global/gradients';

@import 'compass/utilities/general/clearfix';
@import 'compass/css3/box-shadow';


div.node-type-answer,
div.node-teaser.node-answer {
  
  margin: 0;
      
  .pane-coral-page-title,
  .answer-node-teaser-pane-title {
    .icon { // apply question mark icon
      display: block;
      float: left;
      margin: 3px .5em 0 0;
      @include icons-sprite('coral-a');
    }
  }
  
  .pane-coral-add-comment,
  .pane-coral-add-answer,
  .pane-node-links { // float links beside each other
    float: left;

    .links { // standardize 
      padding: 0; 
      margin: 0; 
      
      li {
        margin: 0 6px 0 0;
        padding: 1px 3px 0 0;
      }
    }
  }
  
  .answer-node-pane-title {
    @include h3;
  }
  
  // Inner question node + answers form and view
  .layout-node-1 {
    .site-width {
      @include pie-clearfix;
    }
  }
  
  // Hide some things
  .field-name-field-content,
  .field-name-field-comment-count,
  .field-type-file legend {
    display: none;
  }
}

