
// Snippet node scss file

@import 'global/arrows';
@import 'global/colors';
@import 'global/fonts';
@import 'global/grid_mix';
@import 'global/headers';
@import 'global/icons';
@import 'global/site_vars';

.page-node.node-type-snippet {
  // Only apply to full-node display
  .snippet-node-pane-title {
    a {
      color: $mdred;
      cursor: text;
      font-weight: normal;
    }
    @include h1;
  }
}

.node-snippet {
  padding-bottom: $default_vert_unit;
  
  .snippet-node-pane-title {
    .icon {
      display: block;
      float: left;
      margin-top: 7px;
      margin-right: 5px;
      @include icons-sprite('coral-snippet-tools');
    }
  }
  .pane-node-links {
    float: right;
    margin-bottom: $default_vert_unit / 2;
    li.first {
      border-right: none;
    }
    .icon {
      display: block;
      float: left;
      margin: 2px 2px 0 0;
    }
    li.discussion a {
      .icon {
        @include icons-sprite('coral-comment');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('coral-comment-on');
      }
    }
    li.node-readmore {
      .icon {
        @include icons-sprite('coral-new-page-off');
      }
    
      &.active .icon,
      &:hover .icon {
        @include icons-sprite('coral-new-page');
      }
    }
    li.comp_count .cmpcnt {
      color: $mdgreen;
    }
  }

  .pane-coral-flag-abuse-node {
    font-size: .9em;
    float: right;
    padding: 0 0 0 4px;
    a {
      color: lighten($mdgray,15%);
      
      &:hover {
        color: darken($mdgray, 10%);
      }
    }
  }
  .pane-coral-snippet-components {
    float: right;
    li.comp_count {
      padding-right: 5px;
    }
    a {
      color: lighten($mdgray,15%);
      
      &:hover {
        color: darken($mdgray, 10%);
      }
    }
  }
  
  .field-collection-container {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  .field-collection-view {
    padding: 0 0 $default_vert_unit;
    margin: $default_vert_unit 0 $default_vert_unit;
    border-bottom: 1px solid $ltgray;
    
    .field-name-field-component-label {
      @include h4;
      margin-top: 0;
      color: desaturate($mdblue, 15%);
      float: left;
    }
    .field-name-field-component-language {
      float: left;
      color: lighten($mdgray, 7%);
      margin-left: 1em;
    }
    .field-name-field-component-description {
      clear: both;
      .field-item {
        margin: $default_vert_unit 0;
      }
    }
    
    .field-collection-view-links {
      display: none;
    }
    
    .cp-cont {
      height: $default_vert_unit;
      margin: 0 0 10px;
      position: relative;
      
      .copy-btn {
        color: transparent;
        text-indent: -9999em;
        display: block;
        float: right;
        
        @include icons-sprite('copy-clip'); 
      }
      .copy-msg {
        position: absolute;
        top: 25px;
        right: -56px;
        background: $ltblue;
        z-index: 8;
        min-width: 125px;
        text-align: center;
        
        .arrow-up {
          display: block;
          position: absolute;
          top: -10px;
          right: 58px;
          @include arrow-up(5px, $ltblue)
        }
      }
    }
  }
  .field-collection-description,
  .action-links-field-collection-add {
    display: none;
  }
}

.pane-coral-wiki-ask-question .ask-btn .icon {
  margin-top: 0;
}


// Talk section styles - see Discussion (talk) tab
.page-comment-reply .layout-node-1 .main-content,
.node-type-snippet.node-talk .layout-node-1 .main-content { 
  position: relative;
  
  h1.page-title {
    margin-bottom: 0;
  }

  .pane-entity-view.pane-node {
    background: lighten($ltgray, 10%);
    margin-left: 1em;
    margin-bottom: $default_vert_unit;

    h2.node-title {
      display: none;
    }

    .snippet-node-pane-title {
      background: $mdblue;
      @include h0;
      padding: ($default_vert_unit / 2);
      margin: -16px -16px 0;
      
      .icon {
        margin-top: 0;
      }
      a {
        font-weight: bold;
        color: $white;
      }
    }

    & > .pane-content {
      border: 1px solid $mdgray;
      padding: 16px 16px;
      .node-snippet > .panel-display { margin-top: $default_vert_unit; }
    }
    ul.links.inline {
      margin: 0;

      &:after {
        display: none;
      }

      li.first {
        border-right: none;
      }
    }

    @include col(10, false, right);   
  }

  @include col(24, true, none); 
}


@media screen and (max-width: $tabletw) {
  .page-comment.page-comment-reply,
  .page-node.node-type-snippet {
    .layout-landing-responsive .secondary-content { 
      @include col($columns, 'true');
    
      .panel-pane {
        @include col($columns, 'true');
        margin-right: 0;
      }
      
      .pane-documentation-related-node {
        margin-top: 0;
      }
      
      .pane-related-qa-small-list {
        @include col($columns, 'true');
        margin-right: 0;
      }
    }
    .layout-landing-responsive .main-content { 
      @include col($columns, 'true');
      
      & > .prepend-1 {
        margin: 0;
      }
    }
    
    #main-content .layout-node-1 {
      .pane-node {
        float: right;
        width: 100%;
        margin-right: -100%;
        
        // Prevent the node's height from 
        //  affecting the comment container for now
        display: none;
      }
      h1.page-title {
        &:after {
          display: block;
        }
      }
    }
  }
}
