
@import 'global/buttons';
@import 'global/colors';
@import 'global/fonts';
@import 'global/gradients';
@import 'global/headers';
@import 'global/site_vars';

@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';

.node-project {
  
  .project-node-pane-title {
    @include huge;
    a {
      color: $mdorange;
      margin-left: -.5em;
    }    
    
    img { // floats beside title
      float: left;
      margin-right: .75em;
      margin-left: .25em;
      margin-bottom: $default_vert_unit / 2;
      position: relative;
      z-index: 1;
    }
  }
  
  .pane-node-body {
    padding-left: 2em;
    margin-top: $default_vert_unit;
    color: darken($mdgray, 10%);
  }
  
  .pane-node-field-item-featureset {

    .field-collection-container {
      border-bottom: none;
    }
    
    .field-name-field-item-featureset {
    
      .field-collection-view {
        border: none;
        padding: 0;
        margin: 0;
      }
      
      .entity-field-collection-item {
        width: auto;
        padding: 0 1em 0 4em;
        margin-bottom: ($default_vert_unit / 2);
        background: url('../../../assets/images/li-red.png') 2.75em .25em no-repeat;
        div {
          display: inline;
        }
      }
      
      .field-name-field-item-feature-label {
        margin-right: .25em;
        font-size: 115%;
        color: lighten($dkblue, 7%);
      }
      .field-name-field-item-feature-text {
        font-size: 90%;
        color: $dkgray;
      }
    }
    
  }
  
  .pane-node-field-documentation-reference {
    float: left;
    margin-left: .5em;
    margin-right: -.5em;
    margin-bottom: $default_vert_unit;
    background: url('../../../assets/images/line-divider.png') right center no-repeat;
    padding-right: 1em;
    a {
      @include btn-matte-inset(3px, 18px, $mdblue, darken($mdblue, 3%), $white);
      @include btn-structure(2px .5em, 18px, 3px);
    }
  }
  
  .pane-node-field-project-repo {
    float: left;
    margin: 0 0 $default_vert_unit;
    padding: 0 .5em;
    position: relative;
    top: .25em;
    
    a {
      //color: darken($mdgreen, 10%);
      
      //&:hover { color: lighten($dkgreen, 10%); } 
    }
  }
  .pane-node-field-issue-queue {
    float: left;
    margin: 0 0 $default_vert_unit;
    padding: 0 .5em;
    position: relative;
    top: .25em;
    border-left: 1px solid $ltgray;

    a {
      //color: $dkred;
      
      //&:hover { color: lighten($dkred, 10%); }  
    }
  }
  
  .pane-node-links {
    position: relative;
    top: .25em;
    float: right;

    .first {
      border-right: none;
    }
  }
}
.node-project.node-924 {
  .pane-node-field-documentation-reference {
    a {
      @include btn-matte-inset(3px, 18px, darken($mdyellow,10%), darken($mdyellow, 15%), $white);
      @include btn-structure(2px .5em, 18px, 3px);
    }
  }
}

// Main node page... override above and whatnot
.page-node.node-type-project {
  .node-project.node-teaser {
    .project-node-pane-title {
      @include huge;
      a {
        color: $mdorange;
        margin-left: 0;
      }    
      
      img { // floats beside title
        float: left;
        margin-right: .5em;
        margin-bottom: $default_vert_unit / 2;
        position: relative;
        z-index: 1;
      }
    }
    
    .pane-node-field-item-featureset {

    }
    
    .pane-node-field-documentation-reference {
      display: none;  
    }
    
    .pane-node-field-project-repo a {
      @include btn-matte-inset(3px, 16px, $mdgreen, darken($mdgreen, 3%), $white);
      @include btn-structure(2px .5em, 16px, 3px);
    }
    .pane-node-field-issue-queue a {
      @include btn-matte-inset(3px, 16px, $mdred, darken($mdred, 3%), $white);
      @include btn-structure(2px .5em, 16px, 3px);
    }
  }
  
  .pane-doc-ref-node-teaser-view {

    & > .pane-title {
      color: darken($mdred, 10%);
    }

    & > .pane-content {
      padding: 0 $default_vert_unit 1em;
      background: desaturate(lighten($ltyellow, 12%), 10%);
      border: 1px solid $mdyellow;
      margin: 0 0 ($default_vert_unit / 2);
      
      .pane-node-links .first {
        border-right: none;
      }
      
      @include linear-v-gradient(desaturate(lighten($ltyellow, 12%), 10%), $white);
    }
  }
  
  .pane-coral-wiki-ask-question {
    margin-bottom: 2em;
    margin-top: .625em;
  }

  /*
  .layout-landing-responsive {
    .main-content {
      float: left;
      width: 66.66667%;
      
      & > .prepend-1 {
        margin-left: 0;
        margin-right: $default_vert_unit / 2;
      }
    }
    .secondary-content {
      margin-right: 0;
      margin-left: 2%;
    }
  }
  */
}


@media screen and (max-width: $desktopw) {
  .node-project.node-teaser {
    .project-node-pane-title {
      @include h1;

      a {
        margin-left: -.25em;
      }
      img {
        max-height: 100px;
      }
    }
    
    .pane-node-body {
      margin-top: 0;
      padding-left: 1em;
    }
  }
}

@media screen and (max-width: $tabletw) {
  .node-project.node-teaser {
    .project-node-pane-title {
      @include h2;
      a {
        margin-left: 0em;
      }
      img {
        max-height: 75px;
      }
    }
  }
}