// Node 917: Image slide: Home - Cloud handle


// Slide container
.coral-slide.cloud-handle {
  position: relative;
  
  h2 {
    position: absolute;
    top: 1em;
    right: 108px;
    width: 363px;
    font-size: 3.25em;
    font-weight: bold;
    line-height: 1.35em;
  }
  
}
