// Node 919: Image slide: Home - Coral diagram

@import 'global/colors';

// Slide container
.coral-slide.coral-diagram {
  position: relative;
  
  h2 {
    position: absolute;
    top: .25em;
    right: 48px;
    width: 585px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.35em;
    text-align: center;
  }
  
  ul {
    position: absolute;
    top: 100px;
    width: 415px;
    right: 20px;
    
    li {
      font-weight: bold;
      margin-bottom: .65em; 
      font-size: .9em;
      
      color: darken($mdgray, 5%);
    }
  }
  
  a {
    position: absolute;
    bottom: 15px;
    right: 22px;  
  }
  
}