/* line 17, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/global/_construct.scss */
.hide {
  position: absolute;
  left: -9999em;
}

/* line 11, ../sass/global/_construct.scss */
.left {
  float: left;
}

/* line 12, ../sass/global/_construct.scss */
.right {
  float: right;
}

/* line 15, ../sass/global/_construct.scss */
.clear {
  clear: both;
}

/* line 16, ../sass/global/_construct.scss */
.clear-right {
  clear: right;
}

/* line 17, ../sass/global/_construct.scss */
.clear-left {
  clear: left;
}

/* line 20, ../sass/global/_construct.scss */
.field-default {
  color: #777777;
}

/* line 30, ../sass/global/_dom.scss */
body.html {
  font-size: 16px;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.25em;
}

/* line 39, ../sass/global/_dom.scss */
h1, h2, h3, h4, h5, h6 {
  color: #515151;
  margin: 1.25em 0 0.625em 0;
}

/* line 43, ../sass/global/_dom.scss */
h1 {
  font-size: 1.5em;
}

/* line 44, ../sass/global/_dom.scss */
h2 {
  font-size: 1.3em;
}

/* line 45, ../sass/global/_dom.scss */
h3 {
  font-size: 1.25em;
}

/* line 46, ../sass/global/_dom.scss */
h4 {
  font-size: 1.15em;
}

/* line 53, ../sass/global/_dom.scss */
img,
object,
embed,
video {
  max-width: 100%;
}

/* line 61, ../sass/global/_dom.scss */
a,
li a,
li.leaf a {
  color: #446eac;
  font-weight: bold;
  text-decoration: none;
}
/* line 66, ../sass/global/_dom.scss */
a:active, a.active,
li a:active,
li a.active,
li.leaf a:active,
li.leaf a.active {
  color: #32547d;
}
/* line 67, ../sass/global/_dom.scss */
a:hover,
li a:hover,
li.leaf a:hover {
  color: #2b486b;
}

/* line 71, ../sass/global/_dom.scss */
strong, b {
  font-weight: bold;
}

/* line 75, ../sass/global/_dom.scss */
p {
  margin: 0.625em 0 1.25em 0;
}

/* line 79, ../sass/global/_dom.scss */
em, .em {
  font-style: italic;
}

/* line 85, ../sass/global/_dom.scss */
ul {
  margin: 1.25em 0.5em;
}
/* line 88, ../sass/global/_dom.scss */
ul li {
  list-style: disc;
  list-style-image: url("/sites/all/themes/mosaic/assets/images/li-red.png");
  margin: 0 0 0.625em 1em;
}

/* line 19, ../sass/global/_global.scss */
.main-global,
.pane-header,
.pane-footer,
.pane-top-menus #mini-panel-top_menus {
  width: 962px;
  margin: 0 auto;
}

/* line 25, ../sass/global/_global.scss */
.pane-header {
  margin: 0 auto;
  padding-top: .5em;
}

/* line 26, ../sass/global/_global.scss */
.pane-footer {
  margin: 0 auto 1.25em;
}

/* line 30, ../sass/global/_global.scss */
#mini-panel-header .inside, #mini-panel-header .panel-separator {
  margin: 0;
}

/* line 35, ../sass/global/_global.scss */
body.html {
  background: #515151;
}

/* line 41, ../sass/global/_global.scss */
header,
.mosaic-cont {
  background: white;
}

/* line 44, ../sass/global/_global.scss */
.mosaic-cont {
  padding: 1em 0;
}

/* line 50, ../sass/global/_global.scss */
header .pane-search-form {
  background: url(../assets/images/search-bg.png) left top no-repeat;
  height: 50px;
  margin: 10px 0 0 10px;
  padding: 10px 0 0 18px;
  position: relative;
  width: 275px;
}
/* line 58, ../sass/global/_global.scss */
header .pane-search-form .form-text {
  background: none;
  border: none;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 5px 8px;
  width: 185px;
}
/* line 67, ../sass/global/_global.scss */
header .pane-search-form .form-wrapper {
  border: 1px solid #2b486b;
  height: 27px;
  position: absolute;
  right: 8px;
  top: 11px;
  width: 60px;
}
/* line 75, ../sass/global/_global.scss */
header .pane-search-form .form-wrapper .form-submit {
  border: 1px solid #446eac;
  color: white;
  height: 27px;
  width: 60px;
  font-size: 80%;
  font-weight: "normal";
  font-style: "default";
  font-family: arial, helvetica, sans-serif;
  background: #0065a5;
  background: -moz-linear-gradient(top, #0065a5 0%, #2a4a70 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0065a5), color-stop(100%, #2a4a70));
  background: -webkit-linear-gradient(top, #0065a5 0%, #2a4a70 100%);
  background: -o-linear-gradient(top, #0065a5 0%, #2a4a70 100%);
  background: -ms-linear-gradient(top, #0065a5 0%, #2a4a70 100%);
  background: linear-gradient(to bottom, #0065a5 0%, #2a4a70 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}

/* line 88, ../sass/global/_global.scss */
.pane-gigya-gigya-login {
  float: right;
  position: relative;
}
/* line 92, ../sass/global/_global.scss */
.pane-gigya-gigya-login .pane-title {
  text-align: center;
  color: #777777;
  font-size: 70%;
  font-weight: bold;
  font-style: "default";
  font-family: arial, helvetica, sans-serif;
}
/* line 98, ../sass/global/_global.scss */
.pane-gigya-gigya-login #divGigyaLogin_bottomLink {
  margin-top: -21px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
/* line 101, ../sass/global/_global.scss */
.pane-gigya-gigya-login #divGigyaLogin_bottomLink table td {
  text-align: center;
}

/* line 110, ../sass/global/_global.scss */
.pane-coral-footer {
  color: white;
  font-size: 90%;
  text-align: right;
  margin: 1.25em 0;
}
/* line 116, ../sass/global/_global.scss */
.pane-coral-footer .fde {
  margin: 0 0 0.625em;
}

/* line 52, ../sass/global/grid.scss */
.grid-1 {
  float: left;
  width: 2.16667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-1-last {
  float: left;
  width: 4.16667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-1 {
  margin-left: 4.16667%;
}

/* line 60, ../sass/global/grid.scss */
.append-1 {
  margin-right: 4.16667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-2 {
  float: left;
  width: 6.33333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-2-last {
  float: left;
  width: 8.33333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-2 {
  margin-left: 8.33333%;
}

/* line 60, ../sass/global/grid.scss */
.append-2 {
  margin-right: 8.33333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-3 {
  float: left;
  width: 10.5%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-3-last {
  float: left;
  width: 12.5%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-3 {
  margin-left: 12.5%;
}

/* line 60, ../sass/global/grid.scss */
.append-3 {
  margin-right: 12.5%;
}

/* line 52, ../sass/global/grid.scss */
.grid-4 {
  float: left;
  width: 14.66667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-4-last {
  float: left;
  width: 16.66667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-4 {
  margin-left: 16.66667%;
}

/* line 60, ../sass/global/grid.scss */
.append-4 {
  margin-right: 16.66667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-5 {
  float: left;
  width: 18.83333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-5-last {
  float: left;
  width: 20.83333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-5 {
  margin-left: 20.83333%;
}

/* line 60, ../sass/global/grid.scss */
.append-5 {
  margin-right: 20.83333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-6 {
  float: left;
  width: 23%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-6-last {
  float: left;
  width: 25%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-6 {
  margin-left: 25%;
}

/* line 60, ../sass/global/grid.scss */
.append-6 {
  margin-right: 25%;
}

/* line 52, ../sass/global/grid.scss */
.grid-7 {
  float: left;
  width: 27.16667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-7-last {
  float: left;
  width: 29.16667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-7 {
  margin-left: 29.16667%;
}

/* line 60, ../sass/global/grid.scss */
.append-7 {
  margin-right: 29.16667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-8 {
  float: left;
  width: 31.33333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-8-last {
  float: left;
  width: 33.33333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-8 {
  margin-left: 33.33333%;
}

/* line 60, ../sass/global/grid.scss */
.append-8 {
  margin-right: 33.33333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-9 {
  float: left;
  width: 35.5%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-9-last {
  float: left;
  width: 37.5%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-9 {
  margin-left: 37.5%;
}

/* line 60, ../sass/global/grid.scss */
.append-9 {
  margin-right: 37.5%;
}

/* line 52, ../sass/global/grid.scss */
.grid-10 {
  float: left;
  width: 39.66667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-10-last {
  float: left;
  width: 41.66667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-10 {
  margin-left: 41.66667%;
}

/* line 60, ../sass/global/grid.scss */
.append-10 {
  margin-right: 41.66667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-11 {
  float: left;
  width: 43.83333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-11-last {
  float: left;
  width: 45.83333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-11 {
  margin-left: 45.83333%;
}

/* line 60, ../sass/global/grid.scss */
.append-11 {
  margin-right: 45.83333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-12 {
  float: left;
  width: 48%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-12-last {
  float: left;
  width: 50%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-12 {
  margin-left: 50%;
}

/* line 60, ../sass/global/grid.scss */
.append-12 {
  margin-right: 50%;
}

/* line 52, ../sass/global/grid.scss */
.grid-13 {
  float: left;
  width: 52.16667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-13-last {
  float: left;
  width: 54.16667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-13 {
  margin-left: 54.16667%;
}

/* line 60, ../sass/global/grid.scss */
.append-13 {
  margin-right: 54.16667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-14 {
  float: left;
  width: 56.33333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-14-last {
  float: left;
  width: 58.33333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-14 {
  margin-left: 58.33333%;
}

/* line 60, ../sass/global/grid.scss */
.append-14 {
  margin-right: 58.33333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-15 {
  float: left;
  width: 60.5%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-15-last {
  float: left;
  width: 62.5%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-15 {
  margin-left: 62.5%;
}

/* line 60, ../sass/global/grid.scss */
.append-15 {
  margin-right: 62.5%;
}

/* line 52, ../sass/global/grid.scss */
.grid-16 {
  float: left;
  width: 64.66667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-16-last {
  float: left;
  width: 66.66667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-16 {
  margin-left: 66.66667%;
}

/* line 60, ../sass/global/grid.scss */
.append-16 {
  margin-right: 66.66667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-17 {
  float: left;
  width: 68.83333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-17-last {
  float: left;
  width: 70.83333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-17 {
  margin-left: 70.83333%;
}

/* line 60, ../sass/global/grid.scss */
.append-17 {
  margin-right: 70.83333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-18 {
  float: left;
  width: 73%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-18-last {
  float: left;
  width: 75%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-18 {
  margin-left: 75%;
}

/* line 60, ../sass/global/grid.scss */
.append-18 {
  margin-right: 75%;
}

/* line 52, ../sass/global/grid.scss */
.grid-19 {
  float: left;
  width: 77.16667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-19-last {
  float: left;
  width: 79.16667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-19 {
  margin-left: 79.16667%;
}

/* line 60, ../sass/global/grid.scss */
.append-19 {
  margin-right: 79.16667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-20 {
  float: left;
  width: 81.33333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-20-last {
  float: left;
  width: 83.33333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-20 {
  margin-left: 83.33333%;
}

/* line 60, ../sass/global/grid.scss */
.append-20 {
  margin-right: 83.33333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-21 {
  float: left;
  width: 85.5%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-21-last {
  float: left;
  width: 87.5%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-21 {
  margin-left: 87.5%;
}

/* line 60, ../sass/global/grid.scss */
.append-21 {
  margin-right: 87.5%;
}

/* line 52, ../sass/global/grid.scss */
.grid-22 {
  float: left;
  width: 89.66667%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-22-last {
  float: left;
  width: 91.66667%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-22 {
  margin-left: 91.66667%;
}

/* line 60, ../sass/global/grid.scss */
.append-22 {
  margin-right: 91.66667%;
}

/* line 52, ../sass/global/grid.scss */
.grid-23 {
  float: left;
  width: 93.83333%;
  margin-right: 2%;
}

/* line 58, ../sass/global/grid.scss */
.grid-23-last {
  float: left;
  width: 95.83333%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-23 {
  margin-left: 95.83333%;
}

/* line 60, ../sass/global/grid.scss */
.append-23 {
  margin-right: 95.83333%;
}

/* line 52, ../sass/global/grid.scss */
.grid-24 {
  float: left;
  width: 98%;
}

/* line 58, ../sass/global/grid.scss */
.grid-24-last {
  float: left;
  width: 100%;
}

/* line 59, ../sass/global/grid.scss */
.prepend-24 {
  margin-left: 100%;
}

/* line 60, ../sass/global/grid.scss */
.append-24 {
  margin-right: 100%;
}

/* line 62, ../sass/global/grid.scss */
.grid-last {
  margin-right: 0;
}

/* line 65, ../sass/global/grid.scss */
.row {
  float: left;
  clear: both;
  width: 100%;
}

/* line 21, ../sass/global/_menus.scss */
.pane-menu-support {
  position: relative;
}
/* line 24, ../sass/global/_menus.scss */
.pane-menu-support ul.menu {
  position: absolute;
  top: -.5em;
  right: 285px;
  margin-top: 0;
}
/* line 30, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf {
  display: block;
  float: left;
  list-style-image: none;
  list-style-type: none;
  padding: 0 5px;
  height: 15px;
  width: 95px;
  position: relative;
}
/* line 40, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf.first {
  background: #36b048;
}
/* line 43, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf.first:before {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 25px;
  border-radius: 20px;
}
/* line 47, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf.first:after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 25px;
  border-radius: 20px;
}
/* line 52, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf.last {
  background: #b02e1c;
  margin: 0;
}
/* line 56, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf.last:before {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 25px;
  border-radius: 10px;
}
/* line 60, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf.last:after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: 25px;
  border-radius: 10px;
}
/* line 66, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf a {
  border-radius: 0 0 7px 7px;
  display: block;
  height: 15px;
  width: 95px;
  color: white;
  line-height: 8px;
  text-shadow: 1px 1px 2px #222;
  text-align: center;
  position: relative;
  top: 5px;
  font-size: 75%;
  font-weight: "normal";
  font-style: "default";
  font-family: arial, helvetica, sans-serif;
}
/* line 80, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf a.get-help-tab {
  background: #36b048;
  background: -moz-linear-gradient(top, #36b048 0%, #2a8938 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b048), color-stop(100%, #2a8938));
  background: -webkit-linear-gradient(top, #36b048 0%, #2a8938 100%);
  background: -o-linear-gradient(top, #36b048 0%, #2a8938 100%);
  background: -ms-linear-gradient(top, #36b048 0%, #2a8938 100%);
  background: linear-gradient(to bottom, #36b048 0%, #2a8938 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
  border-bottom: 2px solid #20682a;
}
/* line 84, ../sass/global/_menus.scss */
.pane-menu-support ul.menu li.leaf a.issues-tab {
  background: #b02e1c;
  background: -moz-linear-gradient(top, #b02e1c 0%, #842315 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b02e1c), color-stop(100%, #842315));
  background: -webkit-linear-gradient(top, #b02e1c 0%, #842315 100%);
  background: -o-linear-gradient(top, #b02e1c 0%, #842315 100%);
  background: -ms-linear-gradient(top, #b02e1c 0%, #842315 100%);
  background: linear-gradient(to bottom, #b02e1c 0%, #842315 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
  border-bottom: 2px solid #762921;
}

/* line 96, ../sass/global/_menus.scss */
.pane-top-menus {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  padding: 1px 0;
}
/* line 101, ../sass/global/_menus.scss */
.pane-top-menus > .pane-content {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  background: #1c3047;
  background: -moz-linear-gradient(top, #1c3047 0%, #2b486b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c3047), color-stop(100%, #2b486b));
  background: -webkit-linear-gradient(top, #1c3047 0%, #2b486b 100%);
  background: -o-linear-gradient(top, #1c3047 0%, #2b486b 100%);
  background: -ms-linear-gradient(top, #1c3047 0%, #2b486b 100%);
  background: linear-gradient(to bottom, #1c3047 0%, #2b486b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}

/* line 111, ../sass/global/_menus.scss */
#mini-panel-top_menus {
  height: 37px;
}

/* line 112, ../sass/global/_menus.scss */
#mini-panel-top_menus .inside {
  margin: 0;
}

/* line 116, ../sass/global/_menus.scss */
footer {
  background: #313131;
  background: -moz-linear-gradient(top, #313131 0%, #515151 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313131), color-stop(100%, #515151));
  background: -webkit-linear-gradient(top, #313131 0%, #515151 100%);
  background: -o-linear-gradient(top, #313131 0%, #515151 100%);
  background: -ms-linear-gradient(top, #313131 0%, #515151 100%);
  background: linear-gradient(to bottom, #313131 0%, #515151 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}

/* line 120, ../sass/global/_menus.scss */
#mini-panel-footer {
  font-size: 90%;
}
/* line 123, ../sass/global/_menus.scss */
#mini-panel-footer .pane-title {
  color: #fdaa68;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.625em;
}
/* line 130, ../sass/global/_menus.scss */
#mini-panel-footer ul.menu {
  margin: 0;
}
/* line 133, ../sass/global/_menus.scss */
#mini-panel-footer ul.menu li.leaf {
  font-size: 90%;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}
/* line 139, ../sass/global/_menus.scss */
#mini-panel-footer ul.menu li.leaf a {
  color: white;
}
/* line 143, ../sass/global/_menus.scss */
#mini-panel-footer ul.menu li.leaf a:hover, #mini-panel-footer ul.menu li.leaf a:active, #mini-panel-footer ul.menu li.leaf a.active {
  color: #fff6b6;
}

/* line 14, ../sass/global/_superfish.scss */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 23, ../sass/global/_superfish.scss */
.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
  background: transparent;
  padding: 0 !important;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 34, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu {
  float: left;
  margin-bottom: 0;
  letter-spacing: 2px;
}
/* line 39, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu a {
  border-top: none;
  color: white;
  display: block;
  height: 37px;
  line-height: 37px;
  padding: 0 .65em;
  position: relative;
  text-decoration: none;
  zoom: 1;
  text-shadow: 1.5px 1px 2px #222;
  font-size: 105%;
  font-weight: bold;
  font-style: "default";
  font-family: arial, helvetica, sans-serif;
}
/* line 54, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu ul {
  border-style: none solid none solid;
  border-width: 0px 1px 1px 1px;
  border-color: #9d9d9d;
  background: #f7f7f7;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  z-index: 99;
  min-width: 12em;
  *width: 12em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 72, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu ul li {
  position: relative;
}
/* line 75, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu ul li a {
  color: #515151;
  border-bottom: 1px solid #9d9d9d;
  text-shadow: none;
  font-size: 95%;
  font-weight: bold;
  font-style: "default";
  font-family: arial, helvetica, sans-serif;
}
/* line 82, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu ul li a:hover, #mini-panel-top_menus .sf-menu ul li a:active, #mini-panel-top_menus .sf-menu ul li a.active {
  color: black;
}
/* line 89, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu ul ul {
  left: 100%;
}
/* line 98, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu a:hover, #mini-panel-top_menus .sf-menu a:active, #mini-panel-top_menus .sf-menu a.active, #mini-panel-top_menus .sf-menu > .sfHover > a.menuparent {
  color: #fff6b6;
}
/* line 102, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu > li {
  float: left;
}
/* line 106, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu > li:hover > ul, #mini-panel-top_menus .sf-menu > li.sfHover > ul {
  top: 37px;
  display: block;
}
/* line 113, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu a.menuparent > .arrow {
  display: block;
  position: absolute;
  top: 14px;
  right: -3px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #7496c8;
}
/* line 121, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu .sfHover.sf-depth-1 > a.menuparent > .arrow {
  top: 17px;
  right: 0px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #7496c8;
}
/* line 127, ../sass/global/_superfish.scss */
#mini-panel-top_menus .sf-menu .sfHover.sf-depth-1 .menuparent > a.menuparent > .arrow {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

/* line 134, ../sass/global/_superfish.scss */
#mini-panel-top_menus .pane-superfish-2 .sf-menu {
  float: right;
  letter-spacing: 1px;
}
/* line 138, ../sass/global/_superfish.scss */
#mini-panel-top_menus .pane-superfish-2 .sf-menu a {
  font-size: 100%;
  font-weight: normal;
  font-style: "default";
  font-family: arial, helvetica, sans-serif;
}
/* line 144, ../sass/global/_superfish.scss */
#mini-panel-top_menus .pane-superfish-2 .sf-menu a.menuparent > .arrow {
  left: 3px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #7496c8;
}
/* line 150, ../sass/global/_superfish.scss */
#mini-panel-top_menus .pane-superfish-2 .sf-menu .sfHover.sf-depth-1 .menuparent > a.menuparent > .arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
}

/* line 4, ../sass/global/_tabs.scss */
.pane-page-tabs {
  padding: 0 0 1em;
}
/* line 7, ../sass/global/_tabs.scss */
.pane-page-tabs ul {
  margin: 0;
}
/* line 8, ../sass/global/_tabs.scss */
.pane-page-tabs ul li {
  line-height: 1em;
  margin: 0 .5em 0 0;
}
/* line 12, ../sass/global/_tabs.scss */
.pane-page-tabs ul li a {
  padding: 0 .5em;
  margin: 0;
}
