/* line 7, ../../../sass/nodes/fe_attach/about.scss */
.layout-landing-1 .main-content {
  float: left;
  width: 39.66667%;
}

/* line 8, ../../../sass/nodes/fe_attach/about.scss */
.layout-landing-1 .secondary-content {
  float: left;
  width: 56.33333%;
}
