/* line 146, icons/*.png */
.icons-sprite, .intro-slide-2 .social-icon {
  background: url('/images/icons-s76be0bee84.png') no-repeat;
}

/* line 10, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 {
  position: relative;
  height: 315px;
  width: 410px;
  background: #dddddd;
}
/* line 16, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 img {
  display: none;
}
/* line 18, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 .header {
  background: #cad5e2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: #cad5e2;
  background: -moz-linear-gradient(top, #cad5e2 0%, #bac8d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cad5e2), color-stop(100%, #bac8d9));
  background: -webkit-linear-gradient(top, #cad5e2 0%, #bac8d9 100%);
  background: -o-linear-gradient(top, #cad5e2 0%, #bac8d9 100%);
  background: -ms-linear-gradient(top, #cad5e2 0%, #bac8d9 100%);
  background: linear-gradient(to bottom, #cad5e2 0%, #bac8d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 25, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 .inner {
  margin-left: 1em;
  margin-right: 1em;
}
/* line 30, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 .social-icon {
  display: block;
  position: absolute;
  top: 2.5em;
  left: 10px;
  background-position: 0 -106px;
  height: 75px;
  width: 65px;
}
/* line 39, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 .title {
  padding: .35em 0;
  background: #446eac;
  margin: 0;
}
/* line 44, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 .title h2 {
  color: #fff6b6;
  margin: 0;
}
/* line 50, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 ul {
  margin-top: 1em;
}
/* line 51, ../../../sass/nodes/fe_attach/intro_slideshow_slide_2.scss */
.intro-slide-2 p {
  margin-left: 85px;
  margin-right: 1em;
}
