/* line 210, icons/*.png */
.icons-sprite, .intro-slide-3 .portable-icon {
  background: url('/images/icons-sc44a47acbe.png') no-repeat;
}

/* line 11, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 {
  position: relative;
  height: 315px;
  width: 410px;
  background: #dddddd;
}
/* line 17, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 img {
  display: none;
}
/* line 19, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 .header {
  background: #a2d4a9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  background: #a2d4a9;
  background: -moz-linear-gradient(top, #a2d4a9 0%, #91cc99 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2d4a9), color-stop(100%, #91cc99));
  background: -webkit-linear-gradient(top, #a2d4a9 0%, #91cc99 100%);
  background: -o-linear-gradient(top, #a2d4a9 0%, #91cc99 100%);
  background: -ms-linear-gradient(top, #a2d4a9 0%, #91cc99 100%);
  background: linear-gradient(to bottom, #a2d4a9 0%, #91cc99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bot,GradientType=0 );
}
/* line 26, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 .inner {
  margin-left: 1em;
  margin-right: 1em;
}
/* line 31, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 .portable-icon {
  display: block;
  position: absolute;
  top: 2.1875em;
  left: 10px;
  background-position: 0 -333px;
  height: 65px;
  width: 85px;
}
/* line 40, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 .title {
  padding: .35em 0;
  background: #36b048;
  margin: 0;
}
/* line 45, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 .title h2 {
  color: white;
  margin: 0;
}
/* line 51, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 ul {
  margin-top: 1em;
}
/* line 52, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 li {
  margin: 0 0 0.3125em 1em;
}
/* line 53, ../../../sass/nodes/fe_attach/intro_slideshow_slide_3.scss */
.intro-slide-3 p {
  margin-left: 105px;
  margin-right: 1em;
}
